@import '/assets/scss/colorScheme.scss';

/* Header version 2
*/

.img-slide-v2 {
  width: 100%;
  height: 903px;
  min-height: 100vh;
  display: block;
  max-width: 100%;
  // max-height: 903px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-slide-v2 {
  max-width: 177px;
  height: 155px;
  background: radial-gradient(
    161.16% 1893.59% at 0% -10.27%,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(243, 248, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(-2px 6px 12px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(24px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
  padding: 18px 20px 14px;
  transition-duration: 0.2s;
  cursor: pointer;
  .slide-v2-icon {
    max-width: 100%;
    display: block;
    width: fit-content;
  }
  .slide-v2-icon-v2 {
    display: none;
  }
  .btn-slide-v2-img {
    height: 100%;
  }

  // &:hover {
  //   background-color: #f3f6ff;
  //   h4.slide-v2-title {
  //     background: linear-gradient(180deg, #3e64ff 0%, #1993ff 100%);
  //     -webkit-background-clip: text;
  //     -webkit-text-fill-color: transparent;
  //     background-clip: text;
  //     text-fill-color: transparent;
  //   }
  // }
}
.page-header-v2 {
  position: relative;
  h4.slide-v2-title {
    text-transform: uppercase;
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    /* or 22px */
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    display: block;
    color: #ffffff;
  }
  .slide-v2-tag {
    position: absolute;
    bottom: 10%;
    right: 0px;
    left: 0px;
    width: 100%;
    display: inline-block;
    max-width: 852px;
    margin-right: auto;
    margin-left: auto;
    z-index: 99;
  }
}
.splide__track--nav > .splide__list > .splide__slide {
  border: none;
  &.is-active {
    border: none;
  }
}

.is-active-btn-slide {
  background-color: #f3f6ff;
  h4.slide-v2-title {
    background: linear-gradient(180deg, #3e64ff 0%, #1993ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.img-slide-v2 {
  position: relative;
  .popup-v2-tag {
    position: absolute;
    top: min(14rem);
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    text-align: center;
    .logo-header-home {
      display: block;
      max-width: 100%;
      object-fit: contain;
      margin: auto;
    }

    h2.popup-v2-tag-title {
      margin-top: 20px;
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 150%;
      text-transform: uppercase;
      color: inherit;
    }
    h4.popup-v2-tag-subTitle {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 150%;
      text-transform: uppercase;
      color: inherit;
      margin-top: 20px;
    }
    button {
      margin-top: 20px;
      padding: 14px 46px;
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      border-radius: 71px;
      color: #ffffff;
      font-weight: 700;
      font-size: 18px;
      line-height: 133%;
      border: none;
    }
  }
}

.popup-v2-tag-city {
  background: rgba(20, 20, 20, 0.4);
  box-shadow: -2px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 40px;

  h2.popup-v2-tag-title {
    color: #f3f6ff !important;
  }
  h4.popup-v2-tag-subTitle {
    color: #eaf0fd !important;
  }
}

.popup-v2-tag-transformation {
  padding: 40px;

  h2.popup-v2-tag-title {
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  h4.popup-v2-tag-subTitle {
    background: linear-gradient(180deg, #2dc3e8 0.47%, #06a6e9 99.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.is-background-popup {
  background: rgba(20, 20, 20, 0.4);
  box-shadow: -2px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

// Home page scss
a {
  text-decoration: none;
}
.carousel__list {
  margin-bottom: 24px;
  padding: 0px;
}

.bg-earth {
  background-image: url('/assets/image/homePage/bg-ecosystem.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 997px;
  height: 969px;
  margin-top: 100px;
  z-index: -1;
  right: 180px;
  top: 60px;
}

.categories-tech {
  // column-gap: 20px;
  margin-top: 60px !important;
  position: relative;
  max-height: 725px;
  height: 100vh;
}
.row-slide-top {
  overflow-y: scroll;
}
// .left-content,
// .right-content {
//   width: 580px;
// }

.right-content {
  padding: 14px 55px 19px 27px;
}
.bg-center-content {
  background-image: url('/assets/image/homePage/bg-ecosystem.png');
  background-repeat: no-repeat;
  background-position: right;
  width: 55vw;
  height: 35.3vw;
  position: absolute;
  right: -18%;
  z-index: -1;
}

.card-categories-item {
  background: #ffffff;
  column-gap: 24px;
  margin-bottom: 8px;

  border-radius: 14px;
  padding: 22px 32px;
  position: relative;
  // transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);

    &::before {
      content: '';
      width: 5px;
      height: 54px;
      position: absolute;
      top: 0;
      left: -2px;
      bottom: 0;
      margin: auto;
      z-index: 1;
      border-radius: 200px;
    }

    &:nth-child(1)::before {
      background: #ff5000;
    }

    &:nth-child(2)::before {
      background: #11a8ec;
    }

    &:nth-child(3)::before {
      background: #8220ff;
    }

    &:nth-child(4)::before {
      background: #ff051e;
    }
  }

  .categories-item-group {
    display: block;

    text-align: left;
  }
}

.title-categories {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 21px */

  /* Ink/100 */

  color: #212633;
}

.desc-categories {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #59637e;
}

p.desc-categories {
  margin: 0;
}

.is-hover {
  box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);

  &::before {
    content: '';
    width: 5px;
    height: 54px;
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border-radius: 200px;
  }
}

.active-1.is-hover {
  &::before {
    background: #ff5000;
  }
}

.active-2.is-hover {
  &::before {
    background: #11a8ec;
  }
}

.active-3.is-hover {
  &::before {
    background: #8220ff;
  }
}

.active-4.is-hover {
  &::before {
    background: #ff051e;
  }
}

// Right layout content
.img-content-right {
  .active-index {
    opacity: 1;
  }
  .img-right {
    margin-bottom: 20px;

    transition: all 0.3s ease-out;
  }
}

// Reason Section
.reason-us {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 69px 0px;
}

.group-reason-us {
  justify-content: space-between;
}

.reason-left-wrap {
  display: flex;
  column-gap: 34px;
  margin-bottom: 25px;

  .img-reason {
    box-shadow: 0px -3px 14px -4px rgba(112, 144, 176, 0.2);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &:first-child {
      width: 100%;
      max-width: 268px;
      height: 332px;
    }

    &:nth-child(2) {
      width: 100%;
      max-width: 200px;
      height: 202px;
      position: relative;
      z-index: 1;
    }
  }
}

.reason-left-2 {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.img-reason-group {
  position: relative;
  width: 200px;
  display: flex;
  align-items: flex-end;

  .stick-ellipse {
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 1;
  }
}

.title-reason {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 25px */

  text-transform: capitalize;

  /* Ink/80 */

  color: #59637e;
}

.description-reason {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 21px */

  /* Ink/80 */

  color: #59637e;
  text-align: left;
  margin-bottom: 40px;
}

.reason-item {
  margin-bottom: 24px;

  .reason-item-number {
    background: #ffffff;
    box-shadow: 0px 3px 8px 1px rgb(112 144 176 / 15%);
    width: 68px;
    height: 68px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 16px;
    border-radius: 50%;
    padding: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 32px */

    /* UniCloud/UniBlue/100 */

    color: #0979fd;
  }

  .reason-item-group {
    text-align: left;
  }
}

.section-reason {
  background-image: url('/assets/image/homePage/bg-part-article.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.col-arrow-left-partnership,
.col-arrow-right-partnership {
  display: flex;
}

// Carousel Ecosystem

.carousel {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  background: #f7faff;

  &__list {
    margin-top: 60px;
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 641px;
    justify-content: center;
    perspective: 641px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    // width: 150px;
    // height: 250px;
    width: 318px;
    height: 630px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in-out;
    // transition-duration: 0.3ms;
    // transition-property: all;
    // transition-timing-function:ease-in-out ;

    &:nth-child(1) {
      background-image: url('/assets/image/homePage/slide-ode.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // width: 209.93px;
      // height: 448px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(2) {
      background-image: url('/assets/image/homePage/kss.jpg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // width: 249.29px;
      // height: 532px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(3) {
      background-image: url('/assets/image/homePage/mock-apple.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 318px;
      height: 630px !important;
      transform: translateY(0px) scale(1.01);
    }

    &:nth-child(4) {
      background-image: url('/assets/image/homePage/slide-klb.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // width: 249.29px;
      // height: 532px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(5) {
      background-image: url('/assets/image/homePage/slide-sunshine-app.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // width: 209.93px;
      // height: 448px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(6) {
      background-image: url('/assets/image/homePage/slide-mySunshine.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &[data-pos='3'] {
      z-index: 6 !important;
      border-radius: 60px;
    }

    &[data-pos='0'] {
      // z-index: 5;
      // width: 318px;
      // height: 641px;
      height: 630px !important;
      border-radius: 60px;
      transform: translateY(0px) scale(1);
      z-index: 5 !important;
    }

    &[data-pos='-1'],
    &[data-pos='1'] {
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
      z-index: 4;
    }

    &[data-pos='-1'] {
      transform: translateX(-80%) scale(0.8);
      // width: 249.29px;
      // height: 532px;
    }

    &[data-pos='1'] {
      transform: translateX(80%) scale(0.8);
      // width: 249.29px;
      // height: 532px;
    }

    &[data-pos='-2'],
    &[data-pos='2'] {
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
      // width: 209.93px;
      // height: 448px;
      z-index: 3 !important;
    }

    &[data-pos='-2'] {
      transform: translateX(-130%) scale(0.7);
      // width: 209.93px;
      // height: 448px;
    }

    &[data-pos='2'] {
      transform: translateX(130%) scale(0.7);
      // width: 209.93px;
      // height: 448px;
    }
  }
}

.navigation-cus {
  column-gap: 34px;
  width: fit-content;
  margin: auto;

  .navigation-cus-left,
  .navigation-cus-right {
    &::after {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .navigation-cus-left {
    &::after {
      content: '';
      background-image: url('/assets/image/svg/icon-arrow-left.svg');
      background-repeat: no-repeat;
      background-position: center center;
      padding: 13px;
      background-color: #e7ecf2;
    }
  }

  .navigation-cus-right {
    &::after {
      content: '';
      background-image: url('/assets/image/svg/icon-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      padding: 13px;
      background-color: #0979fd;
    }
  }
}

.carousel__item {
  box-shadow: unset;
}

.carousel__item-stick {
  width: fit-content;
  height: fit-content;
  position: relative;

  z-index: -1;
}

.item-left {
  left: -440px;
  bottom: -450px;
}

.item-right {
  right: -355px;
  top: -80px;
}

.desc-carousel {
  margin-top: 4px;
  margin-bottom: 25px;
}

// Section Banner Register

.banner-register {
  //   margin-bottom: 500px;
  background: linear-gradient(267.94deg, #18d8f6 -24.12%, #1c45df 116.36%);
  .group-icon {
    justify-content: flex-start;
  }
  .banner-item {
    h4,
    p {
      margin-bottom: 0px;
    }

    .banner-item-desc {
      margin-bottom: 24px;
    }
  }

  .register-info {
    padding-top: 96px;
    padding-bottom: 128px;
    text-align: left;
    margin-bottom: 224px;
    h3 {
      text-transform: uppercase;
    }
    p {
      margin-bottom: 24px;
      max-width: 439px;
    }
  }

  .background-parent {
    background-image: url('/assets/image/homePage/bg-register.png');
  }

  .banner-register-wrap {
    position: relative;
    z-index: 1;
  }

  .banner-item {
    padding: 46px 76px;
    position: absolute;
    background: #ffffff;
    text-align: left;
    box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);
    border-radius: 8px;
    bottom: -168px;
  }

  .group-hand-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  .img-bg-hand-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .img-hand-mobile {
    position: relative;
    z-index: 3;
  }
}

.back-ground-top-slide-home {
  padding-top: 90px;
  background-image: url('/assets/image/homePage/img-slide-top-homepage.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: right center;
  //   min-height: 976px;
}

.div-wrap-info {
  max-width: 619px;
  min-height: 350px;
  background: linear-gradient(180deg, rgba(89, 99, 126, 0.66) 58.66%, rgba(89, 99, 126, 0) 96.81%);
  border-radius: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 27px;
  padding-right: 16px;
  margin-top: 185px;
}

.title-slide-homepage-1 {
  margin-bottom: 14px;
  color: $color-white-100;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}

.title-slide-homepage-2 {
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  color: $color-white-100;
}

.title-slide-homepage-1,
.title-slide-homepage-2 {
  font-style: normal;
  font-stretch: normal;
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
  word-spacing: normal;
  -webkit-font-smoothing: antialiased !important;
}

.detail-slide-homepage {
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-white-100;
}

.btn-slide-homepage {
  width: 100%;
  max-width: 234px;
  height: 50px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  border-radius: 68px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: $color-white-100;
  text-transform: uppercase;
}

.custom-dots-slide-top-active {
  background: $color-umee-blue-100 !important;
}

.custom-dots-slide-top-inactive {
  border-radius: 500px;
  border: none;
  width: 16px;
  height: 16px;
  background: $color-umee-blue-20;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 48px;
}

.title-news {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: $color-white-100;
  background-color: #19226d;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  margin-bottom: 0px;
  height: 100%;
  line-height: 150%;
  max-width: 279px;
  width: 100%;
}

.row-news-homepage {
  height: 70px;
}

.btn-slide-news-homepage {
  width: 68px;
  background: #18d8f6;
  border: none;
}

.btn-slide-news-homepage {
  &:hover {
    background: #0979fd;
  }
}

.col-news-right {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
}

.title-news-item {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: $color-white-100;
}

.col-news-item {
  padding-left: 24px;
  padding-right: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: $color-white-100;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.swiper-news-homepage {
  .swiper-slide {
    display: flex;
    align-items: center;
  }
}

// tab đối tác chiến lược
.col-mobile-btn {
  display: none;
}
.padding-left-right-partnership {
  padding-left: 20px;
  padding-right: 20px;
}
.icon-overplay-logo {
  padding-left: 20px;
  padding-top: 20px;
}

.text-overplay-logo {
  position: absolute;
  left: 20px;
  bottom: 20px;
  max-width: 134px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  border-left: 2px solid #ffffff;
  padding-left: 6px;
}

.overplay-logo-partnership {
  background-image: url('/assets/image/svg/backgroud-hover-logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  animation: my-move-partnership 0.2s;
  height: 100%;
}

@keyframes my-move-partnership {
  from {
    opacity: 0;
    // transform: translateX(-50px);
  }

  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

.a-link-logo:hover .overplay-logo-partnership {
  display: block;
}

.background-media {
  position: absolute;
  border-radius: 8px;
  max-width: 220.5px;
  height: 100%;
}

.div-logo-partnership {
  background: #ffffff;
  //   box-shadow: 0px -3px 14px -4px rgba(112, 144, 176, 0.2);
  box-shadow: 0px 1px 14px -4px rgba(112, 144, 176, 0.2);
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 140px;
}

.title-partnership-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 14px;
}

.title-partnership-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-ink-80;
  max-width: 674px !important;
  margin: auto;
  margin-bottom: 18px;
}

.back-ground-partnership {
  //   min-height: 455px;
  background-color: #f7faff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-slide-partnership {
  //   max-width: 240px;
}

// .col-arrow-partnership {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.row-slide-partnership {
  margin-top: 40px;
}
.btn-arrow-partnership-mobile {
  margin-right: 24px;
}
@media only screen and (max-width: 991px) {
  .col-mobile-btn {
    display: block;
    text-align: center;
    margin-top: 24px !important;
  }
  .col-arrow-left-partnership,
  .col-arrow-right-partnership {
    display: none !important;
  }
  .digital-banking {
    margin-top: 40px !important;
  }
  .title-partnership-1 {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 8px;
  }

  .padding-left-right-partnership {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (max-width: 550px) {
  .title-partnership-2 {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 131.25%;
    text-align: center;
  }
  .padding-left-right-partnership {
    //padding-left: 32px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-slide-partnership {
    .col-slide-partnership {
      padding-left: 32px !important;
    }
  }
  .col-mobile-btn {
    margin-top: 24px !important;
  }
  // .col-arrow-left-partnership {
  //   padding-right: 32px;
  // }
  // .col-arrow-right-partnership {
  //   padding-left: 0px;
  //   margin-right: -10px;
  // }
}
// tab kiến tạo tương lai

.div-img-create-feature {
  border-radius: 8px;
  width: 100%;
  position: relative;
}
.img-slide-create-feature {
  border-radius: 8px;
}
.a-link-create-feature:hover {
  .overplay-text-create-feature {
    display: block;
  }
}

.overplay-text-create-feature {
  display: none;
  position: absolute;
  bottom: 23px;
  overflow: hidden;
  animation: move-create-feature 0.1s;
  max-width: 90%;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 22px 18px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  a {
    text-decoration: none;
  }
}

.title-hover-create-feature {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 131.25%;
  color: #2c2d2e;
  margin-bottom: 4px;
}
.title-sub-hover-create-feature {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 131.25%;
  color: #59637e;
  margin-bottom: 0px;
}

@keyframes move-create-feature {
  from {
    opacity: 0;
    // transform: translateX(-50px);
  }

  to {
    opacity: 1;
    // transform: translateX(0);
  }
}
.btn-arrow-create-future {
  margin-right: 24px;
}
.back-ground-create-future {
  padding-top: 60px;
  padding-bottom: 60px;
}

.row-btn-slide-create-future {
  padding: 10px;
  margin-bottom: 24px;
}
.title-create-future-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 14px;
}

.title-create-future-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-ink-80;
  max-width: 839px;
  margin: auto;
  margin-bottom: 18px;
}

.btn-view-more-create-future {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  border-radius: 4px;
  border: none;
  width: 180px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.img-item-create-future {
  border-radius: 8px;
  //   max-width: 363px;
  //   max-height: 363px;
  box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
}
.col-icon-view-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .row-title-create-feature {
    height: 100%;
  }
  .col-icon-view-more {
    justify-content: right;
    align-items: end;
  }
  .overplay-text-create-feature {
    padding: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 100%;
    max-height: 90%;
    background: linear-gradient(180deg, rgba(255, 73, 18, 0.6) 0%, rgba(255, 121, 0, 0.6) 100%);
  }
  .title-hover-create-feature {
    color: #ffffff;
  }
  .title-sub-hover-create-feature {
    color: #ffffff;
  }

  .div-wrap-info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 69px;
    background: rgba(33, 38, 51, 0.8);
    min-height: 274px;
    text-align: center;
  }
  .title-slide-homepage-1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
  }
  .title-slide-homepage-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 133.34%;
  }
  .detail-slide-homepage {
    font-weight: 400;
    font-size: 12px;
    line-height: 131.25%;
  }
  .title-create-future-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
  }
  .title-create-future-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 131.25%;
    text-align: center;
    color: #1e1e1e;
  }
  .btn-view-more-create-future {
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
    color: #f3630d;
    background: unset;
    width: fit-content;
  }
}
@media only screen and (max-width: 475px) {
  .back-ground-top-slide-home {
    background-image: url('/assets/image/homePage/background-top-slide-home-mobile.png');
  }
}
//section smart city
.padding-left-right-smart-city {
  margin-top: 40px;
  margin-bottom: 40px;
}
.col-smart-city {
  background: #fbfbfd;
  padding-top: 34px;
  padding-bottom: 44px;
  //   max-height: 614px;
  min-height: 614px;
  height: 100%;
}

.col-right-smart-city-no-video {
  width: 100%;
  height: 100%;
  background: #fbfbfd;
  padding-top: 34px;
  padding-bottom: 44px;
  max-height: 614px;
  height: 100%;
}
.title-smart-city {
  margin-top: 40px;
}
.detail-smart-city {
  max-width: 790px;
  margin: auto;
  padding-bottom: 40px !important;
}
.title-sub-smart-city {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 4px;
}
.detail-sub-smart-city {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 133%;
  color: #59637e;
  text-align: center;
  margin-bottom: 4px;
}
.go-to-detail {
  text-align: center;
  margin-right: 8px;
}
.go-to-detail-video {
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
}
.col-video {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}
.btn-play-video {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border: none;
  background-color: unset;
  width: fit-content;
}
.btn-play-video-slide {
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.col-arrow-smart-living {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-slide-smart-living {
  //   width: 100%;
  max-width: 414px;
  max-height: 400px;
}
.modal-dialog {
  max-width: 100% !important;
  width: fit-content !important;
}
.iframe-youtube-sliving {
  width: 100% !important;
  max-width: 1180px !important;
  height: auto !important;
  iframe {
    border-radius: 6px;
  }
}

// .img-smart-parking {
//   max-width: 515px;
//   margin: auto;
// }

// Section Digital banking

.col-slide-stm-home {
  //   max-width: 600px;
  //   margin: auto;
  position: relative;
}
.wrapper-slide-stm-home {
  max-width: 600px;
  margin: auto;
  text-align: center;
  position: relative;
  &:hover {
    .btn-left-slide-home-stm {
      display: block;
    }
    .btn-right-slide-home-stm {
      display: block;
    }
  }
}
.btn-left-slide-home-stm {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
  display: none;
}
.btn-right-slide-home-stm {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
  display: none;
}
.img-slide-stm-home {
  max-height: 600px;
}
// .col-wrapper-slide-uni-cat {
//   &:hover {
//     .btn-left-slide-home-unicat {
//       display: block;
//     }
//     .btn-right-slide-home-unicat {
//       display: block;
//     }
//   }
// }
.wrapper-slide-home-uni-cat {
  //   max-height: 372px;
  max-width: 540px !important;
  margin: auto;
  position: relative;
  background: #3a3b3b;
  box-shadow: 0px 2px 7px 1px rgb(112 144 176 / 25%);

  //   box-shadow: 0px 5.82857px 13.6px -5.82857px rgba(24, 39, 75, 0.12),
  //     0px 9.71429px 31.0857px -3.88571px rgba(24, 39, 75, 0.1);
  border-radius: 15.5429px;
  padding: 24px;

  //   &:hover {
  //     .btn-left-slide-home-unicat {
  //       display: block;
  //     }
  //     .btn-right-slide-home-unicat {
  //       display: block;
  //     }
  //   }
}
.wrapper-slide-home-stm {
  //   max-height: 372px;
  max-width: 558px !important;
  max-height: 558px !important;

  margin: auto;
  position: relative;
  max-height: 600px;
  //   box-shadow: 0px 5.82857px 13.6px -5.82857px rgba(24, 39, 75, 0.12),
  //     0px 9.71429px 31.0857px -3.88571px rgba(24, 39, 75, 0.1);
  border-radius: 15.5429px;
  //   &:hover {
  //     .btn-left-slide-home-unicat {
  //       display: block;
  //     }
  //     .btn-right-slide-home-unicat {
  //       display: block;
  //     }
  //   }
}
.img-slide-home-uni-cat {
  width: 100%;
  border-radius: 8.01864px;
}
// .img-slide-home-stm {
//   border-radius: 8.01864px;
//   max-height: 600px;
// }
// .btn-left-slide-home-unicat {
//   position: absolute;
//   left: -60px;
//   top: 0;
//   bottom: 0;
//   margin-top: auto;
//   margin-bottom: auto;
//   z-index: 2;
//   display: none;
// }
// .btn-right-slide-home-unicat {
//   position: absolute;
//   right: -60px;
//   top: 0;
//   bottom: 0;
//   margin-top: auto;
//   margin-bottom: auto;
//   z-index: 2;
//   display: none;
// }
.row-slide-smart-living {
  &:hover {
    .btn-arrow-left-smart-living {
      display: block;
    }
    .btn-arrow-right-smart-living {
      display: block;
    }
  }
}
.col-slide-smart-living {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-arrow-left-smart-living {
  display: none;
  margin: auto;
}
.btn-arrow-right-smart-living {
  display: none;
  margin: auto;
}
.digital-banking {
  margin-top: 114px;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  .digital-banking-title {
    margin-bottom: 40px;
  }

  .card-item {
    padding-top: 34px;
    padding-bottom: 38px;
    background-color: #fbfbfd;

    .card-item-title {
      text-align: center;

      h3 {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: #1d1d1f;
      }

      h4 {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        color: #59637e;
      }

      .btn-more {
        display: flex;
        align-items: center;
        width: fit-content;
        justify-content: center;
        margin: auto;
        border-radius: 6px;
        span {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #0979fd;
        }
      }
    }
  }

  .card-digital-slide {
    margin-top: 24px;
  }

  .card-digital-image {
    margin-top: 24px;
    margin-bottom: 38px;

    img {
      max-width: 100%;
      // display: block;
      // width: 100%;
      width: fit-content;
      max-height: 630px;
      object-fit: contain;
    }

    .not-width100 {
      width: fit-content;
      display: unset;
    }
  }
}

.grid-2 {
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: initial !important;
  margin-bottom: 20px !important;

  .grid-2-item {
    max-width: 950px;
  }
}

.max-width-629 {
  max-width: 629px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.iframe-youtube-card {
  width: 100%;
  height: 100%;

  .iframe-youtube-card-wrap {
    width: 100% !important;
    height: 100% !important;
  }
}

.card-video {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .icon-play {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

    img {
      width: 100%;
      display: block;
      max-width: 100%;
    }
  }

  .card-item-title {
    padding-top: 34px;

    h3,
    h4 {
      color: #ffffff !important;
    }
  }

  .btn-more {
    padding: 5px;
    background-color: #ffffff;
  }
}

.fintech-mobile {
  display: none !important;
  .icon-active {
    margin-top: 8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    &.active-1 {
      border-top: 14px solid #ff5000;
    }
    &.active-2 {
      border-top: 14px solid #11a8ec;
    }
    &.active-3 {
      border-top: 14px solid #8220ff;
    }
    &.active-4 {
      border-top: 14px solid #ff051e;
    }
  }
}
.group-hand-mobile-wrap {
  display: none;
}

@media only screen and (max-width: 1450px) {
  .btn-left-slide-home-unicat {
    left: 4px;
  }
  .btn-right-slide-home-unicat {
    right: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .page-header-v2 {
    .slide-v2-tag {
      padding: 0 20px;
    }
    h4.slide-v2-title {
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .page-header-v2 {
    h4.slide-v2-title {
      display: none;
    }
  }
  .btn-slide-v2 {
    width: min(12rem, 80px) !important;
    height: min(12rem, 80px) !important;
  }

  .group-hand-mobile-wrap {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 12.5%;
    left: 0;
    right: 0;
    img {
      max-width: 100%;
    }
  }
  .banner-register {
    margin-bottom: 266px;
    .banner-register-wrap {
      min-height: 734px;
    }
    .register-info {
      padding-top: 64px;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    .banner-item {
      bottom: -15%;
      text-align: center;
      padding: 16px;
      h4 {
        font-size: 22px !important;
      }
      p {
        font-size: 20px;
      }
    }
    .group-hand-mobile {
      display: none;
    }
  }
  .group-icon {
    justify-content: center !important;
    img {
      width: 163px;
    }
  }

  .fintech-mobile {
    display: block !important;

    .fintech-mobile-warp {
      padding: 0 20px;
      justify-content: space-between;
      // column-gap: 60px;

      .fintech-mobile-warp-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img.icon-parent {
          width: 52px;
        }
      }
    }

    .fintech-mobile-active {
      padding: 0 20px;
      margin-top: 8px;
    }
  }

  .left-content {
    display: none;
  }
  .card-categories-item {
    min-height: 181px;
  }
  .bg-center-content {
    background-image: none;
  }
  .right-content {
    padding: 0 20px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-content-right {
      margin-top: 43px;
      text-align: center;

      img {
        width: 100%;
        max-width: 100%;
        display: inline-flex;
        padding: 0px 20px;
      }

      .icon-download {
        max-width: 150px;
        height: auto;
        padding: 0px !important;
        min-height: fit-content !important;
      }
    }
  }

  .card-video {
    height: 400px;
  }

  .digital-banking {
    .card-item {
      .card-item-title {
        h3 {
          font-size: 22px;
        }

        h4 {
          font-size: 16px;
        }
      }
    }
  }

  .grid-2 {
    flex-wrap: wrap !important;
    padding: 0 20px;
  }

  // Section Reason
  .section-reason {
    .reason-item {
      .reason-item-number {
        width: 46px;
        height: 46px;
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 22px;
      }
    }

    .group-reason-us {
      flex-flow: column-reverse;

      .reason-right {
        padding: 0 20px;

        h3 {
          font-size: 24px;
          text-align: center !important;
        }
      }

      p.description-reason {
        font-size: 14px;
        text-align: center;
      }

      .collection-reason {
        p.description-reason {
          text-align: left !important;
        }
      }
    }

    .reason-left-wrap {
      justify-content: center;
      padding: 0 20px;
      column-gap: 20px;
      margin-bottom: 20px;

      .img-reason {
        background-size: cover;

        &:first-child {
          height: 250px;
        }

        &:nth-child(2) {
          height: 156px;
        }
      }
    }

    .img-reason-group {
      .stick-ellipse {
        top: 0px;
      }
    }
  }
  .section-reason {
    background-image: unset;
  }
  .reason-us {
    background-image: url('/assets/image/homePage/bg-right-patch-mobile.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
}
@media only screen and (max-width: 575px) {
  .img-slide-smart-living {
    max-height: 270px;
  }
  .wrapper-slide-home-uni-cat {
    padding: 12px;
  }
}
.img-smart-city {
  // max-width: fit-content;
  // margin: auto;
  //   width: auto;
  margin: auto;
  max-width: 100% !important;
  width: fit-content !important;
}
.col-uniVR360 {
  background-image: url('/assets/image/homePage/thumbnail-sliving-video.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.col-digital-conversion {
  background-image: url('/assets/image/homePage/digital-conversion.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
.title-sub-smart-city-video {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 4px;
}
.detail-sub-smart-city-video {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 10px;
}
.col-smart-lighting {
  background-image: url('/assets/image/homePage/thumbnail-video-smart-lighnight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .btn-arrow-left-smart-living {
    background-image: url('/assets/image/homePage/icon-btn-left-smart-living.svg');
    background-color: unset;
    &:hover {
      background-image: url('/assets/image/homePage/icon-btn-left-smart-living.svg');
    }
  }
  .btn-arrow-right-smart-living {
    background-image: url('/assets/image/homePage/icon-btn-right-smart-living.svg');
    background-color: unset;
    &:hover {
      background-image: url('/assets/image/homePage/icon-btn-right-smart-living.svg');
    }
  }
  .padding-left-right-smart-city {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-smart-city {
    padding-top: 24px;
    padding-bottom: 26px;
  }
  .div-title-video {
    padding-top: 0px !important;
  }

  .col-video {
    img {
      max-width: 60px !important;
    }
  }
}
// section virtual reality
.col-uniVR {
  background-image: url('/assets/image/homePage/img-uniVR-360.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.col-uniVR-Touch {
  background-image: url('/assets/image/homePage/thumbnail-uniVR-touch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.col-uniVR-Game {
  background-image: url('/assets/image/homePage/thumbnail-uniVR-game.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.col-metaverse {
  background-image: url('/assets/image/homePage/thumbnail-metaverse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.div-title-video {
  padding-top: 34px;
  padding-bottom: 44px;
  text-align: center;
}

// row ecosystem scrolly
.div-btn-ecosystem {
  display: flex;
  button {
    span {
      margin-left: 16px;
    }
  }
}
.ul-scroll-ecosystem {
  display: none;
  padding-left: 20px;
  transition-duration: 300ms;
  animation: my-move 0.5s;
}
.div-scroll-ecosystem {
  display: none;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 25%;
  background: #ffffff;
  border-radius: 40px 0px 0px 40px;
  animation: my-move 0.5s;
  ul {
    margin-top: 12px;
    margin-bottom: 40px;
    list-style: none;
    li {
      margin-bottom: 27px;
      span {
        margin-left: 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 131.25%;
        color: #212633;
      }
    }
  }
}
@keyframes my-move {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn-ecosystem {
  display: none;
  text-align: left;
  width: 100%;
  border: none;
  padding: 14px 10px 14px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
  background: linear-gradient(227.49deg, #18d8f6 -3.35%, #1c45df 88.83%);
  border-radius: 200px 0px 0px 200px;
}
.btn-ecosystem-unactive {
  text-align: left;
  width: 100%;
  border: none;
  padding: 14px 10px 14px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
  background: linear-gradient(227.49deg, #18d8f6 -3.35%, #1c45df 88.83%);
  border-radius: 200px 0px 0px 200px;
}
@media only screen and (max-width: 992px) {
  .col-uniVR {
    background-size: cover;
  }
  .col-smart-city {
    min-height: 450px;
  }
  .title-sub-smart-city {
    font-size: 22px;
  }
  .title-sub-smart-city-video {
    font-size: 22px;
  }
  .detail-sub-smart-city {
    font-size: 16px;
  }
  .detail-sub-smart-city-video {
    font-size: 16px;
  }
  .go-to-detail {
    font-size: 14px;
  }
  .go-to-detail-video {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .col-smart-lighting {
    background-image: url('/assets/image/homePage/thumbnail-video-smart-lighnight-mobile.png');
    background-size: cover;
  }
}

// Overlay
.btn-scrolly-ecosystem {
  border: none;
  background-color: unset;
}
.overlay {
  width: 100vw;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.56);
  z-index: 9;
  display: none;
}
#section-digital-banking,
#section-digital-transformation,
#section-smatr-city,
#section-virtual-reality {
  scroll-margin-top: 100px;
}
.active-ecosystem {
  color: #ff7900;
  // background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background-clip: text;
  // text-fill-color: transparent;
  span {
    font-weight: 700 !important;
    color: #ff7900 !important;
  }
}
.swiper-card-digital {
  .swiper-wrapper {
    align-items: center;
  }
}

@media only screen and (max-width: 992px) {
  .img-slide-v2 .popup-v2-tag {
    h2.popup-v2-tag-title {
      font-size: 24px;
      line-height: 32px;
    }
    h4.popup-v2-tag-subTitle {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .img-slide-v2 {
    .popup-v2-tag {
      max-width: calc(100% / 1.1);
      h2.popup-v2-tag-title {
        margin-top: 8px;
      }
      h4.popup-v2-tag-subTitle {
        margin-top: 20px;
      }
      button {
        margin-top: 16px;
      }
    }
  }

  .btn-slide-v2 {
    height: auto;
    padding: 12px;
  }
  .slide-v2-tag {
    padding: 0 20px;
  }
  .group-input-right {
    margin-top: 16px !important;
  }
  .tangle-bottom-header {
    background-image: url('/assets/image/aboutUs/tangle-bottom.png');
    width: 100%;
    height: 80px;
    max-height: 401px;
    position: absolute;
    bottom: -2px;
    z-index: 2;
  }
}
