// @import "./leaflet.scss";

.container-1220 {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
}

.bg-footer {
  background: linear-gradient(267.94deg, #18d8f6 -24.12%, #1c45df 116.36%);

  a {
    text-decoration: none;
  }
}

.background-parent {
  background-image: url("/images/footer/png/bg-register.png");
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  // margin-top: calc(80vh / 2);
  //padding-top: 206px;
  position: relative;
  background: #fff;
  .footer-wrap {
    //padding-top: 146px;
    padding-top: 207px;
  }
  .footer-wrap-detail {
    column-gap: 80px;
  }
}

.footer-info {
  text-align: center;
  max-width: 324px;
}

.group-icon-social {
  column-gap: 28px;
  width: 244px;
  margin: auto;
}

.footer-about-us {
  text-align: left;

  ul {
    padding: 0;
  }

  ul li {
    list-style-type: none;
  }

  .item-about {
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    margin-top: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    white-space: nowrap;
    transform: translateX(0px);
    transition: transform 0.3s ease-out;
    &::before {
      transform: translateX(-10px);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      content: " ";
      background-image: url("/images/footer/svg/icon-arrow-right-alt.svg");
    }
    &:hover {
      transform: translateX(20px);

      &::before {
        content: " ";
        transform: translateX(0px);
        background-image: url("/images/footer/svg/icon-arrow-right-alt.svg");
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff;
        width: 20px;
        height: 20px;
        padding: 15px;
      }
    }
  }
}

.map-detail {
  position: absolute;
  top: -55%;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);
  border-radius: 8px;
  z-index: 2;
  padding: 24px;

  max-width: 1180px;
  .map-detail-wrap {
    column-gap: 40px;
  }
}

.map-detail-address-footer {
  margin-bottom: 16px !important;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.group-contact {
  .group-contact-wrap {
    column-gap: 14px;
    margin-bottom: 24px !important;
    .contact-wrap-item {
      h5,
      p {
        margin-bottom: 0px;
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      cursor: auto !important;
    }
  }
}

.title-contact {
  color: #212633;
  margin-bottom: 4px;
}

.copy-right {
  padding: 16px 0;
  background: #2391fd;
  margin-top: 45px;
  text-align: center;
}

.footer-apps {
  h4 {
    margin-bottom: 14px;
  }
}

// @media only screen and(max-width: 1180px) {
//   .map-detail {
//     margin-left: 20px;
//     margin-right: 20px;
//   }
// }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .footer {
    padding-top: 77px;
    margin-top: 0px;
    .map-detail {
      position: unset;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 36px;
    margin-top: 0px;
  }

  .footer-info,
  .footer-apps {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-about-us {
    margin-top: 80px;
  }

  .footer-apps {
    text-align: center;
    margin-top: 50px;
    img {
      margin-right: 24px;
    }
  }

  .coppy-right {
    margin-top: 90px;
    padding-left: 20px;
    text-align: left;
  }

  .map-detail {
    position: inherit;
    top: -75px;
    .row {
      flex-direction: column-reverse;
    }

    &.container-child {
      width: auto;
      top: 0;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 75px;
    }
  }
}
// icon up top
.div-icon-up-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 9;
  border: none;
  background-color: unset;
}
