.bg-event-smart-city {
  background-image: url('/assets/image/form-smartcity/bg-event-form-smart-city.png');
  background-attachment: fixed;
  padding-top: 51px;
  padding-bottom: 20px;
}
.div-wrapper-logo {
  text-align: center;
}
.div-wrapper-img {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  p {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.115em;
    color: #ffffff;
  }
}
.div-wrapper-booth {
  display: flex;
  justify-content: center;
  background: #f15824;
  max-width: 325px !important;
  padding: 4px 0px !important;
  margin: auto;
  span {
    margin-left: 4px;
    letter-spacing: 0.115em;
    color: #ffffff;
    text-shadow: 0px 0px 2.31193px rgba(99, 220, 249, 0.44);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    a {
      color: #ffffff;
      text-decoration: underline !important;
    }
  }
}
.row-contact-event {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 30px;
}
.form-contact-event-smartcity {
  max-width: 388px;
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(
    161.16% 1893.59% at 0% -10.27%,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(243, 248, 255, 0.3);
  filter: drop-shadow(-2px 6px 12px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(24px);
  border-radius: 8px;
  padding: 16px;
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #ffffff;
  }
  .form-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  button {
    padding: 14px;
    background: #0979fd;
    border-radius: 8px;
    width: 100%;
    border: none;
    span {
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
    }
  }
  .invalid-feedback {
    span {
      color: #ffc107 !important;
    }
  }
}
.modal-thanks-event-form {
  padding-left: 20px;
  padding-right: 20px;
  .modal-dialog {
    max-width: 384px !important;
    margin: auto;
  }
  .modal-body {
    background: #ffffff;
    border-radius: 16px;
    padding: 34px;
  }
  .title-thanks-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    span {
      margin-left: 4px;
      color: #2c2d2e;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .detail-thanks-popup {
    color: #2c2d2e;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .link-thanks-popup {
    display: flex;
    justify-content: center;
    button {
      background: #0979fd;
      border-radius: 8px;
      border: none;
      padding: 12px 52px;
      span {
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
      }
    }
  }
}
