.wrapper-dragdrop {
  width: 100%;
  max-width: 350px;
  //   height: 100%;
  //   max-height: 700px;
  margin-bottom: 12px;
  .title-dragdrop {
    text-align: center;
  }
  .wrapper-dragdrop-context {
    // width: 100%;
    // max-width: 500px;
    // min-height: 300px;
    max-height: 700px;
    padding: 12px;
    overflow-y: auto;
    border-radius: 8px;
    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a2a4a5;
      border: 2px solid #dedfdf;
    }
  }
  .wrapprer-draggable {
    min-height: 50px;
    margin: 0 0 12px 0;
    padding: 16px;
    border-radius: 8px;
    user-select: none;
  }
  .input-custom {
    margin-bottom: 12px;
    border-radius: 6px;
  }
}
#style-4,
.style-4 {
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a2a4a5;
    border: 2px solid #dedfdf;
  }
}
.disabled-btn {
  display: none;
}
