@import "/assets/scss/colorScheme.scss";

/* Menu stick custom color */
.menu-stick-custom.background-transparent {
  .custom-nav-link {
    color: #212633 !important;
  }
}

.text-dropdown-lang {
  margin-left: 12px;
}

.detail-link-menu {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 131.25%;
  color: #59637e;
}

header {
  display: block !important;
  padding-bottom: 0px !important;
}

.menu-desktop {
  .offcanvas-body {
    align-items: center;
    .navbar-nav-scroll {
      height: 36px;
    }
  }
}

.title-menu-sub {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  color: #212633;
  padding: 6px 0px;
  border-bottom: 0.6px solid #d3d5d9;
  margin-bottom: 14px !important;
}

.custom-navbar-toggle {
  display: none;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  .custom-navbar-toggle-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: $color-ink-80;
}

.custom-nav-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  min-width: 90px;
  text-align: center;
  color: $color-ink-100;
  font-style: normal;
  font-stretch: normal;
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
  word-spacing: normal;
  -webkit-font-smoothing: antialiased !important;
  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    font-weight: 700 !important;
    color: #0979fd;
  }

  &.active {
    font-weight: 700 !important;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #f3600e;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &[data-inactive="true"] {
    &:focus {
      color: $color-ink-100;
      font-weight: 500;
    }
  }
}

.background-sticky {
  background-color: #ffffff;
}

.background-transparent {
  background-color: transparent;

  .custom-navbar-toggle {
    .custom-navbar-toggle-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  .btn {
    color: $color-white-100;
    &:hover {
      color: $color-white-100;
    }
  }

  .custom-nav-link {
    color: $color-white-100;

    &:hover,
    &:focus {
      color: $color-white-100;
      font-weight: 700;
    }
    &.active {
      border-bottom-color: $color-white-100;
      background: $color-white-100;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.dropdown-menu {
  padding: 8px;
  .dropdown-item {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.box-shadow-sticky-on {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
}

.navbar-digital-transformation {
  .dropdown-digital-transformation {
    position: relative;
    display: inline-block;

    .custom-nav-link {
      margin-right: 30px;
    }

    .dropdown-list {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      left: 0;
      top: calc(100% + 9px);
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 0.5rem;
      background-color: #ffffff;
      border-radius: 4px;
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }

    .dropdown-list::before {
      position: absolute;
      top: 0;
      left: 25%;
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
      transform: translateY(-100%);
    }

    .dropdown-list::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      content: "";
      background-color: transparent;
      transform: translateY(-100%);
    }

    .dropdown-item-digital-transformation {
      padding: 0;
      width: 100%;

      a {
        display: block;
        padding: 1rem 1.5rem;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: #212633;
        white-space: nowrap;
        text-align: start !important;
      }

      a:hover,
      a.active {
        color: #f3600e;
      }
    }
  }

  .dropdown-digital-transformation:hover {
    .dropdown-list {
      visibility: visible;
      opacity: 1;
    }
  }

  .navbar-accordion-item-digital-transformation {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #eaf0fd;
    .accordion-header {
      .accordion-button {
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        text-decoration: none;
        min-width: 90px;
        color: $color-ink-100;
        font-style: normal;
        font-stretch: normal;
        white-space: normal;
        word-wrap: break-word;
        word-break: normal;
        word-spacing: normal;
        -webkit-font-smoothing: antialiased !important;
        box-shadow: none;
      }

      .accordion-button::after {
        background-image: url(/assets/image/landing-page/digital-transformation/svg/icon-dropdown-down.svg);
      }

      .accordion-button:not(.collapsed)::after {
        background-image: url(/assets/image/landing-page/digital-transformation/svg/icon-dropdown-up.svg);
        transform: rotate(0deg);
      }
    }
    .accordion-body {
      a {
        display: block;
        padding: 1rem 1.5rem;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: #212633;
        white-space: nowrap;
        text-align: start !important;
      }

      a:hover,
      a.active {
        color: #f3600e;
      }
    }
  }

  .navbar-accordion-item-digital-transformation.active {
    border-bottom-color: #f3600e;
    .accordion-header {
      .accordion-button {
        font-weight: 700;
        background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .group-contact-wrap-digital-transformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    width: fit-content;
    min-width: 160px;
    background: #0979fd;
    border-radius: 200px;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 992px) {
  .custom-navbar-toggle {
    display: unset;
  }

  .offcanvas {
    background-image: url("/assets/image/navbar/offcanvas-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transform: translateX(-100%);
  }

  .custom-nav-link {
    border-bottom: 2px solid $color-ink-5;
    color: $color-ink-100;
    text-align: left;
    margin-top: 10px;
    margin-right: 0 !important;

    &.active {
      border-bottom-color: #f3600e;
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .group-contact-wrap {
    column-gap: 14px;
    .contact-wrap-item {
      > p {
        margin: 0;
      }
    }
  }
}

#ecosystem-menu:hover ~ #ecosystem-menu-child {
  pointer-events: all;
  opacity: 1;
}
.is-hover-menu {
  background: #fbfbfd;
  span {
    font-weight: bold;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #ff7900;
    position: absolute;
    top: 0px;
    right: 14px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.menu-child {
  width: 100vw;
  background: #fbfbfd;
  position: relative;
  z-index: 999;
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  &::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #ffffff;
    width: 100%;
    position: absolute;
    top: -20px;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    opacity: 0;
  }
  .arrow-up-menu {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #ffffff;
    position: absolute;
    top: -20px;
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-child-wrap {
    //padding-left: 310px;
    width: 100%;
    height: 100%;
    min-height: 372px;
    display: flex;

    .child-wrap-left {
      background: #ffffff;
      max-width: 594px;
      width: 100%;
      // height: 100%;
      padding-bottom: 141px;
      padding-top: 23px;
      position: relative;
      .wrap-left-item {
        padding: 14px;
        position: relative;

        cursor: pointer;
        max-width: 284px;
        margin-left: auto;
        margin-right: 0px;
        span {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 133%;
          color: #212633;
        }
        &:hover {
          background: #fbfbfd;
          span {
            font-weight: bold;
            background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
          &::after {
            content: "";
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 20px solid #ff7900;
            position: absolute;
            top: 0px;
            right: 14px;
            bottom: 0px;
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
    }
    .child-wrap-right {
      padding-top: 23px;

      padding-left: 20px;
      max-width: 996px;
      span {
        display: block;
      }
      h3 {
        text-transform: uppercase;
        margin-bottom: 4px;
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;

        background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      p {
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 131.25%;
        color: #59637e;
        margin-bottom: 32px;
      }
      h4 {
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 133%;

        background: #000000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 4px;
        text-transform: capitalize;
      }
      a {
        padding: 0px;
        text-decoration: none;
      }
      a.active {
        h4 {
          background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
          background-clip: text !important;
          text-fill-color: transparent !important;
        }
      }

      .menu-child-length10 {
        max-height: 220px;
      }
      .menu-child-length6 {
        max-width: calc(100% / 1.5);
      }

      ul {
        display: inline-flex;
        text-align: left;
        flex-wrap: wrap;
        column-gap: 60px;
        margin-bottom: 0px;
        list-style-type: none;
        row-gap: 5px;
        .menu-right-item {
          display: flex;
          align-items: center;
          align-self: flex-start;
        }
        li {
          max-width: 274px;
          min-width: 274px;
          padding-left: 10px;
          &::before {
            content: "";
            margin-top: 5px;
            margin-right: 12px;
            align-self: flex-start;
            display: block;
            width: 8px;
            min-width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #000000;
          }
          &::marker {
            font-size: 32px;
            line-height: 11px;
          }
          div {
            width: 100%;
          }

          span {
            font-family: "SVN Gilroy";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 133%;
            color: #59637e;
            max-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            display: inline-block;
          }
          &:hover {
            h4 {
              background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
            &::before {
              background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
            }
          }
        }
      }
    }
  }
}
.divide-bottom {
  width: 100%;
  height: 4px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
}

// Menu mobile

.is-active-toggle {
  .accordion-button {
    font-weight: 700 !important;

    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    color: #f3630dd1 !important;
  }
}
.navbar-mobile {
  .accordion-button {
    color: #212633;
    text-align: left;
    margin-top: 10px;
    margin-right: 0 !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 14px 1rem;
    text-decoration: none;
    min-width: 90px;
  }
  .not-found-link {
    padding: 15px 1.5rem;
    border-bottom: 2px solid #eaf0fd;
  }

  .header-parent {
    .accordion-button {
      .link-accordion {
        padding: 0px;
        border-bottom: 0px;
      }
    }
  }

  .accordion-item {
    background-color: #f3f9ff;
    border: none;
  }
  .accordion-header {
    background: transparent;
  }

  .accordion-button:not(.collapsed) {
    font-family: "SVN Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .accordion-button.collapsed {
    background-color: #ffffff !important;
  }

  .accordion-button,
  .navbar-accordion-child .accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 2px solid #eaf0fd;
  }
  .accordion-body {
    padding: 0px;
  }
  .navbar-accordion-child-item {
    .accordion-button {
      padding-left: 1.6rem;
    }
    .custom-nav-link {
      padding-left: 2.4rem;
      padding-top: 14px;
      padding-bottom: 14px;
      border-bottom: 2px solid #eaf0fd;
    }
  }

  .custom-nav-link {
    margin-top: 0px;
  }
  .accordion-button {
    color: #212633 !important ;
    margin-top: 0px;
    &:focus {
      border-color: unset !important;
      outline: unset !important;
      border-bottom: 2px solid #eaf0fd !important;
      box-shadow: none;
    }
  }
  .accordion-button::after {
    width: fit-content;
    height: fit-content;
    background-image: unset;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
    color: #59637e;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: unset;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
    color: #59637e;
  }
}

@media only screen and (max-width: 1600px) {
  .menu-child .menu-child-wrap .child-wrap-left {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1440px) {
  .menu-child .menu-child-wrap .child-wrap-left {
    max-width: 200px;
  }
  .child-wrap-right .menu-child-length10 {
    column-gap: 20px !important;
    max-height: 100% !important;
  }
}

@media only screen and (max-width: 1366px) {
  .menu-child {
    .menu-child-wrap {
      .child-wrap-left {
        max-width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 1136px) {
  .menu-desktop {
    .offcanvas-body {
      .navbar-nav-scroll {
        height: 100%;
      }
    }
  }
}

.btn-search-home.dropdown-toggle {
  &::after {
    display: none;
  }
}
