// Main
.about-unicloud {
  width: 100%;
}
.partnership-stick-mobile {
  display: none;
}

// Background sticky
.img-stick-top-left {
  position: absolute;
  z-index: -1;
  width: fit-content;
  top: -60px;
}
.img-stick-bottom-right {
  position: absolute;
  z-index: -1;
  width: fit-content;
  right: 0px;
  bottom: 0px;
}
// Header
.background-header-about-us {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }

  position: relative;
  width: 100%;
  height: 976px;
  background-image: url('/assets/image/aboutUs/bg-header-about.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2d6fbb1a;
  transition-duration: 0.1s;
  .tangle-bottom-header {
    background-image: url('/assets/image/aboutUs/tangle-bottom.png');
    width: 100%;
    height: 100%;
    max-height: 401px;
    position: absolute;
    bottom: -2px;
    z-index: 2;
  }
  .popup-header {
    top: 0px;
    padding: 26px 37px;
    max-width: 764px;
    height: 100%;
    max-height: 335px;
    position: absolute;
    // top: calc(976px - 78rem);
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    margin: auto;
    background: linear-gradient(
      180deg,
      rgba(89, 99, 126, 0.66) 70.66%,
      rgba(89, 99, 126, 0) 96.81%
    );
    border-radius: 16px;
    transform: translateY(calc(976px - 68rem));
    transition-duration: 0.3s;
    h3 {
      font-size: 36px;
      font-weight: 500;
      white-space: nowrap;
    }

    h2 {
      font-size: 42px;
      font-weight: 700;
    }

    .description-popup {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      color: #ffffff;
    }
  }

  .btn-about {
    width: fit-content;
    padding: 8px 24px;
    margin: auto;
  }
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-detail {
  margin-top: 38px !important;
}

.text-unicloud {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  img {
    width: 675px;
  }
}

.group-item__img {
  .item__img-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;

    .img-stick {
      position: absolute;
      bottom: 0px;
      z-index: -1;
      left: 115px;
      bottom: -107px;
    }

    .bottom-content_left {
      width: 43%;
      max-width: 510px;
      position: absolute;
      left: 25%;
      transform: translate(-50%);
      height: 100%;
      top: -60px;
      img {
        width: 100%;
        max-width: 100%;
        display: block;
        object-fit: contain;
        height: 100%;
      }
    }

    .bottom-content_right {
      text-align: left;
      padding: 20px;
      h3 {
        font-size: 32px;
        line-height: 1.5;
        font-weight: 700;
      }

      .description-about {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: justify;
        color: #59637e;
        margin-bottom: 0px;
      }
    }
  }
}

.margin-bottom-52 {
  margin-bottom: 52px !important;
}

.img-bottom-content {
  padding: 40px 43px;
  display: flex;
  width: 908px;
  /* margin: auto; */
  background: #ffffff;
  box-shadow: 0px 2px 20px 20px rgb(112 144 176 / 5%);
  border-radius: 8px;
  justify-content: flex-end;
}

.hr-cus {
  background: linear-gradient(90deg, #ff4912 0.66%, #ff7900 40.75%, rgba(255, 121, 0, 0) 99.34%);
  max-width: 529px;
  width: 100%;
  height: 2px;
  margin: 14px 0;
}

// Section Value Element - 3
.core-value {
  margin-top: calc(261px + 100px);
  height: 100%;
  width: 100%;
  background-image: url('/assets/image/aboutUs/bg-value-about-us.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  .title-value-core {
    padding-top: 300px;
  }
}

.core-value-group {
  margin-top: 50px;
  padding-bottom: 146px;

  .core-value-group__item {
  }
}

.icon-background-white {
  border-radius: 50%;
  background-color: #ffffff;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.core-value-group__content {
  margin-top: 24px;
}

.id-value-core {
  font-weight: 400;
  font-size: 65.9035px;
  line-height: 69px;
  text-align: center;

  color: #ffffff;

  opacity: 0.3;
  margin-right: 24px;
}

// Section Building Culture

.section-culture {
  padding-top: 135px;
  background-image: url('/assets/image/aboutUs/bg-culture.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-culture {
  background: linear-gradient(229.91deg, #18d8f6 13.12%, #1c45df 105.88%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  margin-right: 24px;
}

.group-step-culture {
  text-align: left;
  margin-top: 32px;
}

.culture-content-desc {
  color: #59637e;
  max-width: 336px;
}

.culture-wrap-left {
  width: 100%;
  max-width: 556px;
}

.culture-wrap-right {
  max-width: 50vw;

  img {
    width: 100%;
  }
}

.quote-cus {
  margin-top: 32px;
  max-width: 536px;
  width: 100%;
  padding: 30px 8px 31px 22px;
  background: #ffffff;
  font-weight: 500;
  box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);
  border-radius: 8px;
}
.icon-zoom {
  display: none;
}

// Partnership

.partner-about {
  height: 261px;
  position: absolute;
  width: 90vw;
  left: 0;
  top: -130px;
  right: 0;
  margin: auto;
  z-index: 2;
}

.section-four-about {
  margin-top: 104px;
}

// Carousel three element

.carousel-about {
  width: 100%;
  height: 846px;
  margin-top: 102px;
  padding-bottom: 60px;
  position: relative;
  position: relative;

  &__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    perspective: calc(100vh - 428px);
    padding-left: 0px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 150px;
    height: 250px;
    position: absolute;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    border-radius: 16px;
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    .btn-play {
      border-radius: 50%;
      box-shadow: unset;
      outline: unset;
      background: transparent;
      border: none;
    }
    &[data-video='0'] {
      &:hover {
        &::after {
          content: '';
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 16px;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 1;
        }
      }
    }
    &[data-pos='0'] {
      img {
        position: relative;
        z-index: 2;
      }
      cursor: pointer;
      // &::after {
      //   content: '';
      //   background: url('/assets/image/aboutUs/img-play-btn.png') center no-repeat;
      //   height: 100%;
      //   width: 100%;
      // }
    }
    &:nth-child(1) {
      background-image: url('/assets/image/aboutUs/thumbnail-slide-2.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 209.93px;
      height: 448px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(2) {
      background-image: url('/assets/image/aboutUs/thumbnail-slide-1.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 249.29px;
      height: 532px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(3) {
      background-image: url('/assets/image/aboutUs/thumbnail-slide-3.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 249.29px;
      height: 532px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(4) {
      background-image: url('/assets/image/homePage/slide-4.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 209.93px;
      height: 448px;
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &:nth-child(5) {
      background-image: url('/assets/image/homePage/slide-3.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &[data-pos='3'] {
      z-index: 6;
      border-radius: 60px;
    }

    &[data-pos='0'] {
      // z-index: 5;
      // width: 318px;
      // height: 641px;
      max-width: 750px;
      max-height: 492px;
      width: 50vw;
      height: calc(50vw / 750px * 492px);
      transform: translateY(10px);
      z-index: 5;
      min-width: min(428px, calc(90vw));
      min-height: min(254px, calc(90vw / 750px * 492px));
    }

    &[data-pos='-1'],
    &[data-pos='1'] {
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
    }

    &[data-pos='-1'] {
      transform: translateX(40%) translateY(10%);
      max-width: 620px;
      max-height: 407px;
      width: 40vw;
      height: calc(40vw / 620px * 407px);
      min-width: min(320px, calc(70vw));
      min-height: min(210px, calc(70vw / 620px * 407px));
    }

    &[data-pos='1'] {
      transform: translateX(-40%) translateY(10%);
      max-width: 620px;
      max-height: 407px;
      width: 40vw;
      height: calc(40vw / 620px * 407px);
      min-width: min(320px, calc(70vw));
      min-height: min(210px, calc(70vw / 620px * 407px));
    }

    &[data-pos='-2'],
    &[data-pos='2'] {
      filter: drop-shadow(3px 4px 15px rgba(97, 130, 164, 0.15));
      width: 249.29px;
      height: 532px;
    }

    &[data-pos='-2'] {
      transform: translateX(100%) translateY(10%);
      width: 249.29px;
      height: 532px;
    }

    &[data-pos='2'] {
      transform: translateX(-100%) translateY(10%);
      width: 249.29px;
      height: 532px;
    }
  }
}

// Section five
.section-five-about {
  min-height: 864px;
}

.background-slider-element-five {
  background-image: url('/assets/image/aboutUs/rectangle-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

// Section six
.mr-bottom-14 {
  margin-bottom: 14px;
}

.max-width-674 {
  max-width: 674px;
  margin: auto;
}

.product-strategy {
  margin-top: 60px;
  position: relative;
}

.product-strategy-wrap {
  .group-strategy {
    &:nth-child(3) {
      margin-top: 42px;
    }

    &:nth-child(6),
    &:nth-child(4) {
      flex-direction: row-reverse;
    }
  }
}

.group-strategy {
  display: flex;
  margin-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;

  .group-strategy-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
      max-width: 463px;
      aspect-ratio: 490 / 400;
    }
  }

  .group-strategy-description {
    background-image: url('/assets/image/aboutUs/bg-strategy.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 76.67px 54px 75.33px 70px;

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
      color: #0979fd;
      white-space: nowrap;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 135%;
      text-align: justify;
      color: #000000;
    }
  }
}

// Organization-chart

.organization-chart {
  margin-top: 60px;
  margin-bottom: 60px;
  .description {
    max-width: 1066px;
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
  }

  .map-company {
    position: relative;
    .icon-zoom {
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    img {
      width: 100%;
    }
  }
}
.breadcrumb {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .img-stick-top-left,
  .img-stick-bottom-right {
    display: none;
  }
  .icon-zoom {
    display: block;
    width: 18px !important;
  }
  .core-value {
    margin-top: 200px;
  }
  .product-strategy-wrap,
  .organization-chart-wrapper,
  .core-value {
    padding-left: 20px;
    padding-right: 20px;
  }

  .background-header-about-us {
    .popup-header {
      padding: 26px 10px;
      margin-left: 20px;
      margin-right: 20px;

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 25px;
        white-space: pre-wrap;
      }
    }
  }

  .culture-wrap-left {
    text-align: center;
  }

  .about-unicloud {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .text-unicloud {
    display: none;
  }
  .group-item__img {
    padding-top: calc(284px / 2 + 70px);
    .item__img-bottom {
      .img-stick {
        top: -100px;
        left: -150px;
      }

      .bottom-content_left {
        left: 50%;
        top: calc(-284px / 2 - 70px);
        transform: translate(-50%);
        height: 50%;
        max-height: 284px;
        width: 100%;
        img {
          height: 100%;
          width: auto;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }

      .bottom-content_right {
        width: auto;
        padding-top: 20%;

        h3 {
          font-size: 24px;
        }
        .description-about {
          font-size: 16px;
        }
      }
    }
  }

  .img-bottom-content {
    width: auto;
    padding: 20px;
    /* margin: auto; */
  }

  .carousel-about {
    margin-top: 0px;
    height: 665px;
    &__list {
      overflow-x: hidden;
      justify-content: center;
      align-items: center;
    }
  }
  .product-strategy-wrap {
    .group-strategy {
      &:nth-child(even) {
        flex-direction: row;
      }
    }
  }
  .quote-cus {
    padding: 27px 22px 31px 21px;
    text-align: left;
    p {
      font-size: 16px !important;
      margin: 0;
    }
  }
  .culture-wrap-right {
    img {
      width: 388px;
    }
  }

  .core-value-group__content {
    h4 {
      font-size: 24px !important;
      line-height: 1.5;
      font-weight: 600;
    }
    p {
      font-size: 16px !important;
      line-height: 1.5;
    }
  }
  .product-strategy {
    padding-bottom: 20px;
  }
  .group-strategy {
    .group-strategy-img {
      img {
        width: 100%;
      }
    }
    .group-strategy-description {
      padding: 0px;
      min-height: 272px;
      h2 {
        margin-top: 14px;
        font-size: 32px;
        line-height: 48px;
      }
      p {
        font-size: 16px;
        line-height: 21.6px;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .core-value {
    margin-top: 0px;
    .title-value-core {
      padding-top: 83px;
    }
  }
  .partnership-stick-mobile {
    margin-top: 85px;
    display: block;
  }
  .partner-about {
    display: none;
  }
  .background-header-about-us {
    .popup-header {
      h3 {
        font-size: 24px;
        font-weight: 500;
      }

      h2 {
        font-size: 22px;
        font-weight: 700;
      }

      .description-popup {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  h3 {
    font-size: 24px !important;
  }
  .background-slider-element-five {
    background-image: url('/assets/image/aboutUs/tangle-bottom-mobile.png');
  }
  .product-strategy-wrap {
    .title {
      padding: 0px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .product-strategy,
  .organization-chart,
  .core-value {
    margin-top: 0;
  }
  .background-header-about-us {
    .popup-header {
      h3 {
        font-size: 24px;
        font-weight: 500;
      }

      h2 {
        font-size: 22px;
        font-weight: 700;
      }

      .description-popup {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .title {
    font-size: 24px;
    line-height: 1.5;
  }
  .description {
    font-size: 14px;
    line-height: 1.5;
  }

  .group-strategy .group-strategy-description {
    padding: 0;
    padding-bottom: 50px;
    h2 {
      font-size: 28px;
      line-height: 1.5;
      white-space: pre-wrap;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
