.back-ground-contact {
  padding-top: 76px;
  padding-bottom: 60px;
}
.benefits-accordion {
  margin-top: 20px;

  .accordion-item {
    margin-bottom: 20px;
  }

  .accordion-button::after {
    order: -1;
    margin-left: 0;
    margin-right: 10px;
    background-image: url('/assets/image/svg/icon-minus.svg');
  }

  .collapsed.accordion-button::after {
    order: -1;
    margin-left: 0;
    margin-right: 10px;
    background-image: url('/assets/image/svg/icon-plus.svg');
  }

  .accordion {
    max-width: 100%;
  }

  .accordion-button {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 21px */
    letter-spacing: -0.274522px;
    color: #ffffff;
  }

  .collapsed.accordion-button {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.274522px;
    /* Ink/100 */
    color: #212633;
  }

  .accordion-button:not(.collapsed) {
    width: 100%;
    height: 52px;
    background: #0979fd;
    border-radius: 4px;
  }

  .accordion-collapse {
    font-size: 14px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(112 144 176 / 25%) 0px 2px 7px 1px;
  }
}
.form-contact {
  .group-text-contact {
    background: #f3f9ff;
    border-right: none;
  }
  .fullName,
  .telephone,
  .email {
    border-left: none;
    color: #59637e !important;
    background: #f3f9ff !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    &:focus {
      box-shadow: unset;
      border: 1px solid #ced4da;
      border-left: none;
    }
  }
  .content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    color: #59637e !important;
    background: #f3f9ff !important;
    &:focus {
      box-shadow: unset;
      border: 1px solid #ced4da;
    }
  }
}
.help-list {
  .help-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .help-item-img {
      width: 60px;
      height: 60px;
    }
    .help-item-content {
      margin-left: 16px;
      .help-item-title {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 24px;
        line-height: 131.25%;
        color: #0c3399;
      }
      .help-item-mail {
        font-weight: 400;
        font-size: 18px;
        line-height: 131.25%;
        color: #000000;
      }
    }
  }
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  border: 1px solid #ced4da !important;
  border-left: none !important;
  box-shadow: unset !important;
}

.btn-submit-contact {
  float: right;
  padding: 14.5px 80px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  border-radius: 68px;
  font-weight: 700;
  font-size: 16px;
  line-height: 131.25%;
  color: #ffffff;
  border: none;
}
@media only screen and (max-width: 992px) {
  .back-ground-contact {
    padding-top: 45px;
  }
  .div-img-digital-smart-city {
    margin-top: 40px;
  }
}
