.div-modal-pricing-page-bizzone-shop {
  :global(.modal-content) {
    position: relative;
    box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14);
    border-radius: 20px;
    margin: 20px;

    .btn-close-modal {
      position: absolute;
      right: -20px;
      top: -16px;
      height: 56px;
      width: 56px;
      border-radius: 100%;
      border: none;
      box-shadow: 0px 4px 8px rgba(12, 58, 222, 0.1);
      background: #ffffff;
    }
  }

  :global(.modal-body) {
    padding: 0;
    border-radius: 0;
  }

  .btn-loading {
    opacity: 0.6;
  }
}

.div-send-success-modal-pricing-page-bizzone-shop {
  max-width: 517px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 40px 40px;

  .title-success-modal-pricing-page-bizzone-shop {
    margin-bottom: 18px !important;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 133%;
    text-align: center;
    color: #212633;
  }

  .sub-title-success-modal-pricing-page-bizzone-shop {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #212633;
  }
}

@media screen and (max-width: 425px) {
  .div-send-success-modal-pricing-page-bizzone-shop {
    padding: 0 20px 40px;

    .title-success-modal-pricing-page-bizzone-shop {
      font-size: 20px;
    }

    .sub-title-success-modal-pricing-page-bizzone-shop {
      font-size: 16px;
    }
  }
}
