.section-title-box {
  width: 100%;
  padding-top: clamp(40px, 6.25vw, 120px);
  .title-box {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sub-title {
      font-family: "SVN Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 133%;
      text-align: center;
      letter-spacing: 0.22em;
      color: #0979fd;
    }
    .title {
      margin-top: 16px;
      font-family: "SVN Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      color: #2c2d2e;
    }
    .item-border {
      margin-top: 16px;
      width: 88px;
      height: 4px;
      background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
      border-radius: 200px;
    }
  }
}
///=========================Section Header
.section-smart-lighting-header {
  width: 100%;
  height: clamp(560px, 50vw, 884px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(40px, 10vw, 318px) clamp(120px, 20vw, 370px);
  position: relative;
  .header-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  .header-background.mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    display: none;
  }
  .content-container {
    z-index: 2;
    width: 100%;
    max-width: 1180px;
    padding: 0px 20px;
    .content {
      width: 100%;
      .content-title {
        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 62px;
        line-height: 72px;
        letter-spacing: 1px;
        color: #ffffff;
      }
      .content-subtitle-container {
        .content-subtitle {
          max-width: 590px;
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: clamp(14px, 0.8vw, 16px);
          line-height: 24px;
          display: flex;
          justify-content: flex-start;
          color: #f2f3f5;
          padding-top: 16px;
        }
      }
    }
  }
}
///=========================End Section Header
///=========================Begin Section Smart Parking

.smart-lighting-definition-v3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: clamp(20px, 5.37vw, 60px) 20px;
  .content {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .left-content {
      max-width: 590px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 16px;

      .left-content-title {
        height: 100%;
        max-height: 32px;
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: clamp(21px, 5.6vw, 28px);
        line-height: 32px;
        color: #0979fd;
      }

      .left-all-description-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #6fc0fe;
        border-radius: 16px;
        width: 100%;
      }

      .left-all-description {
        padding: 20px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 16px;

        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #454647;

        .web-content-desc {
          display: flex;
        }

        .mobile-content-desc {
          display: none;
        }
      }
    }

    .right-content {
      display: flex;

      .right-content-container {
        height: fit-content;
        width: 100%;
        max-width: 558px;
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        row-gap: 94px;
        justify-content: space-around;
      }

      .right-icon-item {
        img{
          width: 48px;
          height: 48px;
        }
        max-width: 186px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 16px;
        align-items: center;

        .icon-item-title {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #454647;
        }
      }
    }
  }
}
///=========================End Section Smart Parking
///=========================Responsive
// Section Smart Lighting

@media only screen and (max-width: 1200px) {
  .smart-lighting-definition-v3 {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 43px;

      .left-content {
        align-items: center;
        height: 100%;
        width: 100%;
        .left-all-description {
          .web-content-desc {
            display: none;
          }

          .mobile-content-desc {
            display: flex;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .smart-lighting-definition-v3 {
    .content {
      .left-content {
        max-width: 388px;
      }

      .right-content {
        .right-content-container {
          max-width: 388px;
        }
      }
    }
  }
}
@media only screen and (max-width: 412px) {
  .smart-lighting-definition-v3 {
    .content {
      .left-content {
        max-width: 388px;
      }

      .right-content {
        .right-content-container {
          max-width: 388px;
        }

        .right-icon-item {
          max-width: 120px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .smart-lighting-definition-v3 {
    .content {
      .left-content {
        max-width: 388px;
      }

      .right-content {
        .right-content-container {
          max-width: 388px;
          gap: 50px;
          justify-content: center;
        }

        .right-icon-item {
          max-width: 120px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .section-smart-lighting-header {
    padding: clamp(20px, 18vw, 216px) clamp(20px, 20vw, 240px);
    align-items: flex-start;
  }
}
@media (max-width: 700px) {
  .section-smart-lighting-header {
    padding: clamp(20px, 14vw, 126px) clamp(20px, 12vw, 175px);
    align-items: flex-start;
    .content-container {
      z-index: 2;
      padding: 0;
      .content {
        width: 100%;
        .content-title {
          justify-content: center;
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          text-align: center;
          color: #ffffff;
        }
        .content-subtitle-container {
          .content-subtitle {
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .section-smart-lighting-header {
    padding: clamp(20px, 10vw, 126px) clamp(20px, 4vw, 175px);
    align-items: flex-start;
    .header-background {
      display: none;
    }
    .header-background.mobile {
      display: block;
    }
  }
}
.btn-advise,
.btn-find-more {
  white-space: nowrap;
}
