@import '../bizzone-cloud/style.scss';
/* 0. Custom
*/
.ekyc-page {
  padding-top: 181px;
  font-size: 62.5%;
  img {
    display: block;
    max-width: 100%;
  }
}

h2.ekyc-header-title {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  /* Ink/100 */

  color: #212633;
}

h2.ekyc-service-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #212633;
}
p.ekyc-service-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #59637e;
}

h4.ekyc-service-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #212633;
}

h5.ekyc-service-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #212633;
}

h6.ekyc-header-title {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0979fd;
}

span.ekyc-service-detail {
  display: block;
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #59637e;
}

.btn-looking {
  background: #ffffff;
  border: 2px solid #0979fd;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 14px 36px;
  width: fit-content;
  transition-duration: 0.3s;
  white-space: nowrap;
  span {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0979fd;
    transition-duration: 0.3s;
  }

  &:hover {
    background-color: #0979fd;
    span {
      color: #ffffff;
    }
  }
}

.template-grid-3-auto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.max-width-1020 {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.btn-contact-advise {
  background: #2391fd;
  box-shadow: 0px 3px 4px 1px rgba(109, 144, 179, 0.2);
  border-radius: 100px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding: 20px 40px;
  outline: none;
  border: none;
  box-shadow: none;
  white-space: nowrap;
  span {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f3f6ff;
  }
  .ekyc-icon-arrow {
    transition-duration: 0.3s;
  }
  &:hover {
    .ekyc-icon-arrow {
      transform: translateX(10px);
    }
  }
}

.btn-custom-contact {
  width: 362px;
  min-height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
}

.view-document {
  display: flex;
  align-items: center;
  column-gap: 18px;
  color: #0979fd;
  text-decoration: none;
  margin-top: 32px;
  .ekyc-icon-arrow {
    transition-duration: 0.3s;
  }
  &:hover {
    .ekyc-icon-arrow {
      transform: translateX(10px);
    }
  }
  span {
    color: #0979fd;
    font-weight: 600;
  }
}

.ekyc-sub-tag {
  background: #ddefff;
  border-radius: 8px;
  padding: 8px 12px;
  width: fit-content;
}

.form-control {
  &:focus {
    box-shadow: none !important;
    border-color: none !important;
  }
}

.form-floating > label {
  font-size: 16px;
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  /* Ink/60 */

  color: #8e9abb;
}

/* 1. Row Header
*/

.ekyc-header {
  background-image: url('/assets/image/landingPage/ekyc/bg-home-page-ekyc.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 690px;
  scroll-margin-top: 100px;
  h2.ekyc-header-title {
    margin-top: 13px;
    margin-bottom: 28px !important;
  }
  p.ekyc-service-detail {
    margin-bottom: 56px !important;
    max-width: 580px;
  }

  .ekyc-header-left {
    min-width: 700px;
    width: 100%;
  }
  .ekyc-group-btn {
    .btn-looking {
      padding: 20px 40px;
    }
  }
  .ekyc-header-right {
    margin-left: 6%;
  }
}

/* 2. Row Banner 
*/
.ekyc-banner {
  background: #2391fd;
  padding-top: 40px;
  padding-bottom: 40px;
  .swiper-ekyc-banner {
    padding: 16px;
    background-color: transparent;
    transition-duration: 0.3s;
    border-radius: 16px;
    &:hover {
      background-color: #ffffff;
    }
  }
}

/* 3. Row Service 
*/
.ekyc-service-text {
  max-width: 480px;
  p.ekyc-service-detail {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
.ekyc-service {
  padding-top: 113px;
  padding-bottom: 98px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    background-image: url('/assets/image/landingPage/ekyc/bg-flashlight-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 71%;
    height: 71%;
    display: inline-block;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -15%;
    right: 0px;
    background-image: url('/assets/image/landingPage/ekyc/bg-flashlight-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 70%;
    display: inline-block;
  }
  .ekyc-service-group {
    padding-bottom: 182px;
    position: relative;
    z-index: 2;
  }

  .ekyc-service-revert {
    justify-self: flex-end;
    .ekyc-service-right {
      grid-row: 1;
    }
  }
}
/* 4. Row Service
*/
.ekyc-banner-service {
  background-color: #2391fd;
  .ekyc-banner-service-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ekyc-banner-service-item {
    padding: 24px;
    background: #ffffff;
    border-radius: 12px;
    text-align: left;
    h4.ekyc-service-detail {
      margin-top: 20px;
      margin-bottom: 12px;
    }
  }
}

/* 5. Row Common 
*/
.ekyc-common {
  display: inline-block;
  position: relative;
  background-color: #f3f6ff;
  min-height: 768px;
  width: 100%;
  // margin-bottom: calc(((100% - 1140px) / 3));
  margin-bottom: min(14rem, 14rem);
  .ekyc-common-group {
    padding-top: 120px;

    .ekyc-common-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 20px;
      background-color: #ffffff;
      border-radius: 16px;
      box-shadow: 0px 6px 20px rgba(89, 99, 126, 0.14);
      padding: 26px 20px;
      h4.ekyc-service-detail {
        font-weight: 500;
        color: #0979fd;
        word-break: break-all;
      }
    }
  }
}
.ekyc-slide-position {
  position: absolute;
  bottom: -30%;
  z-index: 2;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(100.8deg, #0979fd 14.66%, #0c3399 147.45%);
  box-shadow: 0px 36px 80px -4px rgba(12, 51, 153, 0.18);
  border-radius: 16px;
  padding-top: 56px !important;
  padding-bottom: 56px !important;
  overflow: hidden;
  //@at-root
  text-align: center;
  .ekyc-quote-left {
    // max-width: 487px;
    blockquote {
      margin: 0px;
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: #ffffff;
    }
    span.quote-full-name {
      margin-top: 28px;
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      color: #ffffff;
      display: block;
    }
    span.quote-position {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.7);
      display: block;
    }
  }
  .ekyc-quote-right {
    justify-self: flex-end;
    align-self: center;
  }
  .swiper {
    overflow: unset;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 20px;
  }
  .swiper-slide {
    opacity: 0;
  }
  .swiper-slide.swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    background: var(--swiper-pagination-bullet-inactive-color, #ffffff);
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -30px;
  }
}

/* 6. Row Ready To Learn
*/

.ekyc-ready-learn {
  padding-top: 120px;
  padding-bottom: 60px;
  .ready-to-learn {
    min-width: 480px;
    p.ekyc-service-detail {
      margin-top: 16px;
      margin-bottom: 36px;
    }
  }
  h5.ekyc-service-detail {
    margin-bottom: 16px !important;
  }
  .version-web,
  .learn-document {
    max-width: 260px;
    justify-self: flex-end;
  }
}

/* 7. Row Contact Us
*/

#contact {
  scroll-margin-top: 100px;
}
.ekyc-contact-us {
  .ekyc-contact-us-wrap {
    margin-top: 96px;
    padding-top: 24px;
    margin-bottom: 76px;
    span.ekyc-service-detail {
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }
  .ekyc-form-contact {
    .template-grid-2 {
      column-gap: 24px;
    }
  }
  .text-area-contact {
    grid-column: 1 / 3;
  }
}
.ekyc-form-contact {
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgb(24 39 75 / 12%), 0px 10px 32px -4px rgb(24 39 75 / 10%);
  border-radius: 16px;
  padding: 40px 28px;
  max-width: 1020px !important;
}

.ekyc-contact-tag {
  background-image: url('/assets/image/landingPage/ekyc/bg-contact.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
  min-height: 462px;
  position: relative;
  margin-top: min(14rem, 14rem);

  .ekyc-form-contact {
    position: absolute;
    z-index: 2;
    top: -50%;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
  }
}

.form-control.is-valid {
  background-image: url('/assets/image/svg/icon-check-outline.svg') !important;
}

.form-control.is-invalid {
  background-image: url('/assets/image/svg/icon-invalid.svg') !important;
}

/* Media
*/

@media only screen and (max-width: 1366px) {
  .ekyc-header {
    padding: 0 20px;
    .ekyc-header-left {
      width: 100%;
      min-width: 100%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .ekyc-banner,
  .ekyc-service,
  .ekyc-banner-service,
  .ekyc-common-wrap,
  .ekyc-slide-position,
  .ekyc-ready-learn-wrap,
  .ekyc-contact-us-wrap {
    padding: 0 20px;
  }
  .ekyc-slide-position {
    border-radius: 0px;
    .ekyc-quote-right {
      justify-self: center;
    }
  }
  .ekyc-service {
    padding-top: 40px !important;
  }
  .ekyc-form-contact {
    max-width: calc(100% / 1.2) !important;
  }
  .btn-custom-contact {
    width: calc(100% / 1.2);
  }
}

@media only screen and (max-width: 992px) {
  .ekyc-banner,
  .ekyc-service,
  .ekyc-banner-service,
  .ekyc-common-wrap,
  .ekyc-slide-position,
  .ekyc-ready-learn-wrap,
  .ekyc-contact-us-wrap {
    padding: 0 20px;
  }

  .ekyc-slide-position {
    position: relative;
  }
  .ekyc-common {
    .ekyc-common-group {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .template-grid-3-responsive-2 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
  .ekyc-ready-learn {
    padding-top: 0px;
    padding-bottom: 40px;
    .ready-to-learn {
      min-width: unset;
    }
    .version-web,
    .learn-document {
      width: 100%;
      max-width: 100%;
    }
  }
  .ekyc-common {
    margin-bottom: 5rem;
  }

  .ekyc-header {
    .ekyc-header-left {
      margin-bottom: 40px;
    }

    .ekyc-header-right {
      grid-row: 1;
      justify-self: center;
    }
  }
  .ekyc-service {
    &::before,
    &::after {
      display: none;
    }
    .ekyc-service-revert {
      .ekyc-service-right {
        grid-row: unset;
      }
    }
    .ekyc-service-group {
      padding-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .ekyc-page {
    padding-top: 90px;
  }
  .template-grid-3-auto {
    grid-template-columns: repeat(1, 1fr);
  }
  .ekyc-slide-position {
    padding-top: 60px !important;
    .ekyc-quote-right {
      grid-row: 1;
    }
    .ekyc-quote-left {
      max-width: 348px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
  .ekyc-contact-us {
    .text-area-contact {
      grid-column: unset;
      textarea {
        height: 168px !important;
      }
    }
  }
  .ekyc-contact-tag {
    .ekyc-form-contact {
      max-width: 388px !important;
    }
  }
  .ekyc-banner-slide {
    .swiper-slide {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .ekyc-contact-us {
    .ekyc-contact-us-wrap {
      margin-bottom: 55px;
    }
    .ekyc-contact-tag {
      margin-top: 31rem;
    }
    .form-contact-wrap {
      bottom: 50% !important;
      top: unset;
    }
  }
}

/* . Responsive Font size
*/

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width: 992px) {
  h1.feature-detail {
    font-size: 32px;
    line-height: 40px;
  }
  h2.ekyc-header-title,
  h2.ekyc-service-detail {
    font-size: 24px;
    line-height: 32px;
  }
}
