.navbar-bizzone {
  a {
    display: block;
    text-decoration: none;
  }

  .navbar-bizzone-wrap {
    display: flex;
    align-items: center;
    column-gap: 49px;
  }
}
.nav-link-bizzone {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #59637e;
  cursor: pointer;
}

.nav-link-bizzone:global(.active) {
  color: #2391fd !important;
}

.nav-link-bizzone:hover {
  color: #2391fd !important;
}

.menu-desktop {
  .offcanvas-body {
    align-items: center;
    .navbar-nav-scroll {
      height: 36px;
    }
  }
}

.logo-menu {
  max-width: 106px;
}

.custom-navbar-toggle {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  box-shadow: none;
  :global(.navbar-toggler-icon) {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("/images/svg/bizzone-shop/icon-toggle-navbar.svg");
  }
}

.btn-cost {
  box-shadow: 0px 3px 4px 1px rgba(109, 144, 179, 0.2);
  border-radius: 100px;
  padding: 12px 0px;
  width: fit-content;
  border: none;
  outline: unset;
  position: relative;
  transition: 0.2s ease-in-out;
  background-color: #ffffff;
  span {
    border-radius: 100px;
    background-color: #2391fd;
    padding: 16px 40px;
    font-family: "SVN Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f3f6ff;
    position: relative;
    z-index: 1;
  }
  //   &:hover {
  //     &:before {
  //       animation: pulsing 0.2s linear infinite;
  //     }
  //     &:after {
  //       animation: pulsing1 0.2s linear infinite;
  //     }
  //   }

  //   &:before,
  //   &:after {
  //     content: '';
  //     width: 100%;
  //     height: 100%;
  //     border: inherit;
  //     top: 0;
  //     left: 0;
  //     z-index: 0;
  //     background: #025fbb;
  //     border-radius: inherit;
  //     animation: pulsing 2.5s linear infinite;
  //     position: absolute;
  //   }
  //   &:after {
  //     animation: pulsing1 2.5s linear infinite;
  //   }
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.8) scaleX(1.4);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.8) scaleX(1.4);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes pulsing1 {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.2) scaleX(1.15);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.2) scaleX(1.15);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}

@media only screen and (max-width: 1136px) {
  .menu-desktop {
    .offcanvas-body {
      .navbar-nav-scroll {
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .nav-link-bizzone {
    padding: 20px 0px;
    border-bottom: 1px solid #59637e;
    width: 100%;
    text-align: left;
    font-size: 20px;
  }
}
