/*--------------------------------------------margin----------------------------------*/
.mt-8 {
  margin-top: 8px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mt-58 {
  margin-top: 58px;
}

/*----------------------------------------Flexbox (Flexible Box)-------------------------------------------------*/
.d-flex {
  display: flex;
}

.al-center {
  align-items: center;
}

.just-cont-bt {
  justify-content: space-between;
}

.just-cont-fl-end {
  justify-content: flex-end;
}
.just-cont-fl-start {
  justify-content: flex-start;
}
.just-cont-center {
  justify-content: center;
}

/*---------------------------------------------------Text CSS--------------------------------------------------------------------------------*/

.txt-hover {
  cursor: pointer;

  &:hover {
    color: #1a7dd8;
    text-decoration: underline;
  }
}

.txt-blue {
  color: #1a7dd8;
}

.fw-bold {
  font-weight: bold;
}
.txt-center {
  text-align: center;
}

/*--------------------------------------------------Position custom--------------------------------------------------------------------------*/

.position-fixed {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 999999;
}

/*---------------------------------------------------Layout container--------------------------------------------------------------------------------*/
.container-wrap {
  margin-left: 135px;
  margin-right: 135px;

  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.container-v2 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-v3 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.max-width-100 {
  max-width: 100% !important;
  position: relative;
}
.max-width-1300 {
  max-width: 1300px !important;
}
.max-width-1600 {
  max-width: 1600px !important;
}
/*-----------------------------------------Slick slide---------------------------------------------------------------------------------------*/
.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*---------------------------------------------------Element Tag------------------------------------------------------------------------- */

img {
  max-width: 100% !important;
}

a {
  text-decoration: none !important;
}

.gatsby-image-wrapper {
  height: 100%;
}

.has-image[data-image-fit='contain'] .fancybox__image {
  width: 500px !important;
}

/*-----------------------------------------------------Page 404-------------------------------------------------------------------------- */
.not-found {
  padding-bottom: 100px;
  margin-top: 93px !important;
  margin-bottom: 162px !important;
  text-align: center;
  h3 {
    margin-top: 58px;
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    text-align: center;

    /* Ink/100 */

    color: #212633;
  }
  .img-not-found {
    width: fit-content;
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .desc-404 {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  span {
    display: block;
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;

    color: #212633;
  }
  .btn-home {
    border-radius: 200px;
    border: 1px solid #ff7900;
    display: block;
    text-align: center;
    background: #ffffff;
    padding: 7px 20px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    span {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 133%;
      text-align: center;

      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

@media only screen and (max-width: 991px) {
  .not-found {
    padding: 0 20px;
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
    .desc-404 {
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

/*-----------------------------------------------------Responsive------------------------------------------------------------------------ */
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
