/*-----------------------------------------Font-size---------------------------------------------------------------------------------------*/
.fs-12 {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.3px;
}
.fs-14 {
    font-size: 14px;
    line-height: 24px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

.fs-44{
    font-size: 44px;
}

.fs-48 {
    font-size: 48px;
}

.fs-64 {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -1px;
}

