.menu-top-ema {
  display: flex !important;
  align-items: center;
  background-color: #000000;
  .img-top-ema {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .btn-back {
    align-items: flex-start;
    position: absolute;
    margin-left: 20px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.emagazine-body {
  img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  // .emagazine-body {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }
}
