.stmHeader {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 20px;
  background: #1d2452;
  cursor: pointer;
}

.stmMenuWrapper {
  --width: 240px;

  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);
  height: 100%;
  transition: background-color 0.3s ease 0s, min-width 0.3s ease 0s,
    max-width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  &.collapsed {
    --width: 80px;
  }
}

.child {
  margin-top: 8px;
  padding: 8px !important;
  padding-left: 40px !important;

  &.collapsed {
    justify-content: center;
    padding-left: 5px !important;
  }
}

.child,
.single {
  &.current {
    background-color: #6875ca;
    border-radius: 0 99px 99px 0;

    &:hover {
      background-color: #6875ca;
    }
  }

  &:hover {
    background-color: #303b88;
    border-radius: 0 99px 99px 0;

    &.collapsed {
      border-radius: 50%;
    }
  }
}

.stmMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  padding-top: 60px;
  background-color: transparent;
  transition: all 0.2s;

  &.collapsed {
    width: 80px;

    .current {
      border-radius: 50%;
      transition: border-radius 1s;
    }
  }

  .menuContainer {
    margin-right: 20px;
    padding: 8px;
    padding-right: 0;
    border-bottom: 1px solid rgba(246, 248, 248, 0.15);
    transition: all 0.2s;

    &.collapsed {
      margin-right: unset;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .menuItem {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    padding: 4px;
    padding-right: 0;
    cursor: pointer;
    transition: all 0.2s;

    &.disabled {
      opacity: 0.5;
    }

    &.single {
      padding: 8px 4px;
    }

    &.collapsed {
      padding-left: 8px;
    }
  }

  .title,
  .arrow {
    color: #d2d6ef;
    user-select: none;
  }

  :global {
    .ant-layout-sider {
      background: #1d2452;
    }

    .ant-menu,
    .ant-menu-inline.ant-menu-sub {
      background: transparent;
    }

    aside.ant-layout-sider > div.ant-layout-sider-children > :first-child {
      padding-right: 20px;
    }

    aside.ant-layout-sider-collapsed > div.ant-layout-sider-children > :first-child {
      padding-right: 10px;
    }

    ul.ant-menu {
      > li.ant-menu-submenu {
        border-bottom: 1px solid rgba(246, 248, 248, 0.15);
      }

      > li.ant-menu-item-selected {
        color: white;
        font-weight: bold;
        background-color: #303b88 !important;
        border-radius: 0 99px 99px 0;
      }
    }
  }
}

.layout-container-custom {
  :global {
    .ant-layout-content {
      margin: 0;
      overflow: hidden;
    }

    .ant-tree-treenode:hover {
      background-color: cyan;
    }

    .ant-tree-treenode.ant-tree-treenode-switcher-close {
      border-bottom: 1px solid rgba(246, 248, 248, 0.15);
    }

    .ant-tree-treenode.ant-tree-treenode-switcher-open
      ~ .ant-tree-treenode.ant-tree-treenode.ant-tree-treenode-switcher-close:not(:last-child) {
      border-bottom: unset;
    }

    div.ant-tree-treenode.ant-tree-treenode-leaf-last {
      border-bottom: 1px solid rgba(246, 248, 248, 0.15) !important;
    }

    .ant-tree {
      padding-right: 20px;
    }

    .ant-tree,
    .ant-tree-treenode {
      width: 100%;
    }

    .ant-tree .ant-tree-node-content-wrapper-selected {
      background-color: rebeccapurple;
    }

    .ant-tree .ant-tree-node-content-wrapper:hover,
    .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: transparent;
    }

    .ant-layout-sider {
      z-index: 4;
    }

    .ant-layout,
    .ant-tree,
    .ant-layout-sider-children {
      background: #1d2452;
    }
  }
}

:global {
  .ant-tooltip-inner {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
  }
}

.loginLayout {
  :global {
    header.ant-layout-header {
      position: absolute;
      background-color: transparent;
    }
  }
}

.loginHeader {
  justify-content: space-between;
  background-color: transparent;

  .intl {
    span {
      color: #434343;
    }
  }
}
