@import '../../../../assets/scss/colorScheme.scss';

.arrow-slide-digital {
  position: relative;
  z-index: 2;
}
.btn-advise-digital-banking-slide {
  background: #0c3399;
  border-radius: 200px;
  padding: 12px 38px;
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
  overflow: hidden;
  border: none;
  position: relative;
  z-index: 1;
  width: fit-content;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 133%;
    text-align: center;
    color: #ffffff;
  }
  &::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    display: inline-block;
  }
  &:hover {
    color: #ffffff;
    border: none;
    background: transparent;
    &::after {
      background: #0c3399;
      //   background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.btn-digital-banking {
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  border-radius: 200px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  max-width: 177px;

  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
  //   width: fit-content;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 133%;
    text-align: center;
    color: #ffffff;
  }
  &::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    display: inline-block;
  }
  &:hover {
    color: #ffffff;
    border: none;
    background: transparent;
    &::after {
      //   background: #0c3399;
      background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
.btn-learn-more-digital-banking {
  border-radius: 200px;
  padding: 12px;
  min-width: 177px;
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  box-shadow: 2px 1000px 1px #fff inset;
  span {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.margin-btn-learn-more {
  margin-left: 24px;
}
.pd-r-6 {
  padding-right: 6px;
}
.pd-l-6 {
  padding-left: 6px;
}
.text-discover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
  text-transform: capitalize;
  color: #59637e;
  margin-left: 8px;
  margin-right: 8px;
}

//row top slide
.back-ground-top-slide-digital-banking {
  padding-top: 225px;
  padding-bottom: 24px;
  background-image: url('/assets/image/landing-page/digital-banking/background-top-slide-digital-banking.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 925px;
  //   min-height: 48.177083333vw;
}
.title-top-slide-digital {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 0px;
}
.sub-title-top-slide-digital {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
}
.detail-top-slide-digital {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 24px;
}

.div-arrow-slide-digital {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.btn-arrow-left-digital {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background: transparent;
  z-index: 2;
  &::after {
    background-color: #e7ecf2;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    top: 0;
    right: 0;
    opacity: 0.6;
  }
}
.btn-arrow-left-digital {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    &::after {
      background: #0c3399;
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      z-index: 1;
      border-radius: 200px;
      top: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.btn-arrow-right-digital {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background: transparent;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    background-color: #e7ecf2;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    top: 0;
    right: 0;
    opacity: 0.6;
  }
}

.btn-arrow-right-digital {
  &:hover {
    &::after {
      background: #0c3399;
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      z-index: 1;
      border-radius: 200px;
      top: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.img-slide-2-digital {
  //   height: 100%;
  //   width: auto;
  max-height: 656px;
  max-width: 650px;
}
.row-content-slide {
  max-width: 500px;
}
.slide1 {
  display: block;
  animation: move-slide 0.4s;
}

.slide2 {
  display: block;
  animation: move-slide 0.4s;
}

.slide3 {
  display: block;
  animation: move-slide 0.4s;
}

@keyframes move-slide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.frame {
  width: 90%;
  text-align: left;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 10 */
.btn-10 {
  background: rgb(22, 9, 240);
  background: linear-gradient(0deg, rgba(22, 9, 240, 1) 0%, rgba(49, 110, 244, 1) 100%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
.btn-10:hover {
  color: #fff;
  border: none;
  background: transparent;
}
.btn-10:hover:after {
  background: rgb(0, 3, 255);
  background: linear-gradient(0deg, rgba(2, 126, 251, 1) 0%, rgba(0, 3, 255, 1) 100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}
// @media only screen and (max-width: 1110px) {
//   .back-ground-top-slide-digital-banking {
//     // min-height: 850px;
//   }
// }
@media only screen and (max-width: 992px) {
  .back-ground-top-slide-digital-banking {
    padding-top: 180px;
    // min-height: 1300px
    // min-height: 95.177083333vw;
  }
  .col-respon-slide-digital {
    max-width: 500px;
  }
}
@media only screen and (max-width: 850px) {
  .back-ground-top-slide-digital-banking {
    // min-height: 120.177083vw;
  }
}
@media only screen and (max-width: 767px) {
  .back-ground-top-slide-digital-banking {
    min-height: 1400px;
  }
}
@media only screen and (max-width: 575px) {
  .back-ground-top-slide-digital-banking {
    padding-top: 150px;
  }
  .title-top-slide-digital {
    font-size: 32px;
  }
  .sub-title-top-slide-digital {
    font-size: 18px;
  }
  .img-slide-2-digital {
    // height: 415px;
  }
}
@media only screen and (max-width: 450px) {
  .back-ground-top-slide-digital-banking {
    min-height: 1145px;
  }
}

//section banking software
.back-ground-banking-software {
  margin-top: 160px;
  margin-bottom: 160px;
}
.row-main-banking-software {
  margin-top: 170px !important;
  //   padding-bottom: 80px;
}
.title-banking-software {
  text-align: center;
  margin-bottom: 14px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.title-sub-digital {
  margin-bottom: 4px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;
  text-transform: capitalize;
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.detail-digital-1 {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 133%;
  text-transform: capitalize;
  color: #212633;
}
.detail-digital-2 {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: justify;
}
.div-wrapper-download {
  display: flex;
  //   margin-top: min(78px, 4.375vw);
  margin-top: 85px;
}
.wrapper-icon {
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgb(24 39 75 / 12%), 0px 10px 32px -4px rgb(24 39 75 / 10%);
  border-radius: 6px;
  width: 180px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .pd-l-6 {
    padding-left: 12px;
  }
  .pd-r-6 {
    padding-right: 12px;
  }
  .row-main-banking-software {
    margin-top: 32px !important;
  }
}
@media only screen and (max-width: 575px) {
  .title-banking-software {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .col-left-banking-software {
    margin-top: 32px;
  }
  .col-right-banking-software {
    margin-top: 92px !important;
  }
  .back-ground-banking-software {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}

// section banking erp
.back-ground-banking-erp {
  padding-top: 36px;
  padding-bottom: 36px;
  //   background: #f3f9ff;
}
.col-left-erp {
  margin-top: 24px !important;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 30px;
  position: relative;
  &::after {
    content: '';
    // display: inline-block;
    position: absolute;
    width: 4000px;
    height: 100%;
    top: 0;
    background: #f3f9ff;
    transform: translateX(-2000px);
  }
  h2,
  p,
  div {
    position: relative;
    z-index: 2;
  }
}
.col-slide-banking-erp {
  position: absolute;
  right: 0;
  z-index: 4;
  padding-right: 0;
}
.swiper-banking-erp {
  padding-left: calc(var(--bs-gutter-x) * 1) !important;
  padding-right: calc(var(--bs-gutter-x) * 1) !important;
  overflow: visible;
  .swiper-wrapper {
    // background-color: #f3f9ff;
    &::after {
      content: '';
      background-color: #f3f9ff;
      width: 4000px;
      height: 90%;
      top: 18px;
      position: absolute;
      z-index: -1;
      overflow: visible;
    }
  }
}
.wrapper-slide-banking-erp {
  position: relative;
  min-height: 480px;
  height: 100%;
  padding: 28px 16px 16px 16px;
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 16px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 14px;
    top: 0;
    background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: translateX(-16px);
  }
}
.img-slide-banking-erp {
  border-radius: 4px;
  max-height: 160px;
}
.title-slide-banking-erp {
  //   padding-top: 28px;
  min-height: 65px;
  margin-bottom: 24px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.detail-slide-banking-erp {
  margin-bottom: 0px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  text-align: left;
  letter-spacing: 0.02em;
  color: #59637e;
}
// .div-top-slide-banking-erp {
//   height: 14px;
//   background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
// }
// section solution

.back-ground-solution-digital {
  padding-top: 60px;
  padding-bottom: 60px;
}
.row-main-solution-digital {
  margin-bottom: 60px;
}
.col-left-solution {
  //   margin-top: 6.03125vw;
  margin-top: 54px;
}
.col-left-STM {
  margin-top: 7.03125vw !important;
}
.col-right-solution {
  margin-top: 60px !important;
}
.img-solution-STM {
  margin-left: -50px;
}
@media only screen and (max-width: 767px) {
  .col-slide-banking-erp {
    position: relative;
  }
  .swiper-banking-erp {
    padding-left: 0px !important;
  }
  .back-ground-banking-erp {
    background: #f3f9ff;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .title-slide-banking-erp {
    font-size: 20px;
  }
  .detail-slide-banking-erp {
    font-size: 14px;
  }
  .wrapper-slide-banking-erp {
    min-height: 394px;
  }
}
@media only screen and (max-width: 575px) {
  .row-img-solution {
    object-fit: contain;
    width: 120%;
  }
}
// section SMART TELLER MACHINE
.img-smart-teller-machine {
  padding-left: 60px;
  padding-right: 60px;
}
.back-ground-teller-machine {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f3f9ff;
}
//section unicat
.wrapper-slide-uni-cat {
  position: relative;
  background: #3a3b3b;
  box-shadow: 0px 2px 7px 1px rgb(112 144 176 / 25%);

  //   box-shadow: 0px 5.82857px 13.6px -5.82857px rgba(24, 39, 75, 0.12),
  //     0px 9.71429px 31.0857px -3.88571px rgba(24, 39, 75, 0.1);
  border-radius: 15.5429px;
  padding: 33px;

  &:hover {
    .div-wrapper-btn-slide-unicat {
      display: block;
    }
  }
}
.img-slide-uni-cat {
  width: 100%;
  border-radius: 8.01864px;
}
.div-wrapper-btn-slide-unicat {
  position: absolute;
  left: 48px;
  bottom: 48px;
  z-index: 2;
  display: none;
}

.btn-arrow-left-uni-cat {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background: transparent;
  z-index: 2;
  &::after {
    background-color: #e7ecf2;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    top: 0;
    right: 0;
    opacity: 0.6;
  }
}
.btn-arrow-left-uni-cat {
  &:hover {
    &::after {
      background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      z-index: 1;
      border-radius: 200px;
      top: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.btn-arrow-right-uni-cat {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background: transparent;
  z-index: 2;
  &::after {
    background-color: #e7ecf2;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    top: 0;
    right: 0;
    opacity: 0.6;
  }
}

.btn-arrow-right-uni-cat {
  &:hover {
    &::after {
      background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      z-index: 1;
      border-radius: 200px;
      top: 0;
      right: 0;
      opacity: 1;
    }
  }
}
.div-wrapper-btn-slide-unicat-mobile {
  display: none;
  text-align: center;
  margin-top: 35px;
}

.btn-arrow-left-uni-cat-mobile {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background: transparent;
  z-index: 2;
  svg {
    path {
      fill: #59637e;
    }
  }
  &::after {
    background-color: #c7e5ff;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    top: 0;
    right: 0;
    opacity: 0.6;
  }
}
.btn-arrow-left-uni-cat-mobile {
  &:hover {
    &::after {
      background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      z-index: 1;
      border-radius: 200px;
      top: 0;
      right: 0;
      opacity: 1;
    }
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.btn-arrow-right-uni-cat-mobile {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background: transparent;
  z-index: 2;
  svg {
    path {
      fill: #59637e;
    }
  }
  &::after {
    background-color: #c7e5ff;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    top: 0;
    right: 0;
    opacity: 0.6;
  }
}

.btn-arrow-right-uni-cat-mobile {
  &:hover {
    &::after {
      background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      z-index: 1;
      border-radius: 200px;
      top: 0;
      right: 0;
      opacity: 1;
    }
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}
.img-mouse-scroll {
  width: 21px;
  -webkit-animation: 2s cubic-bezier(0.215, 0.61, 0.355, 1) 1s infinite both rotateMouse;
  animation: 2s cubic-bezier(0.215, 0.61, 0.355, 1) 1s infinite both rotateMouse;
}
@-webkit-keyframes rotateMouse {
  0%,
  100%,
  30% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  10% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  20% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}
@keyframes rotateMouse {
  0%,
  100%,
  30% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  10% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  20% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}
@media only screen and (max-width: 767px) {
  .detail-uni-cat-1 {
    margin-bottom: 14px;
  }
  .detail-uni-cat-2 {
    margin-bottom: 14px;
  }
  .wrapper-slide-uni-cat {
    padding: 18px;
    &:hover {
      .div-wrapper-btn-slide-unicat {
        display: none;
      }
    }
  }
  .div-wrapper-btn-slide-unicat {
    display: none;
  }
  .div-wrapper-btn-slide-unicat-mobile {
    display: block;
  }
  .wrapper-mouse-scroll {
    display: none;
  }
}
// section unicat cho atm
.wrapper-btn-atm {
  width: fit-content;
  //   max-width: 505px;
  margin: auto;
  padding: 12px;
  background: #ffffff;
  border-radius: 200px;
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  box-shadow: 2px 1000px 1px #fff inset;
  button {
    min-width: 250px;
    padding: 12px 20px;
    border-radius: 200px;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    box-shadow: 2px 1000px 1px #fff inset;
    span {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  .btn-unicat-atm {
    background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
    // background-image: unset;
    box-shadow: unset;
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    span {
      color: #ffffff;
      -webkit-text-fill-color: unset;
    }
  }
  .btn-right-atm {
    margin-left: 24px;
  }
}
.back-ground-unicat-atm {
  margin-top: 60px;
  margin-bottom: 60px;
}
.wrapper-icon-unicat-atm {
  width: 100%;
  min-height: 188px;
  max-width: 188px;
  padding: 13px;
  background: #ffffff;
  border-radius: 16px;
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  box-shadow: 2px 1000px 1px #fff inset;
  &:hover {
    .icon-unicat-1 {
      background-image: url('/assets/image/svg/icon-unicat-atm-1-hover.svg');
    }
    .icon-unicat-2 {
      background-image: url('/assets/image/svg/icon-unicat-atm-2-hover.svg');
    }
    .icon-unicat-3 {
      background-image: url('/assets/image/svg/icon-unicat-atm-3-hover.svg');
    }
    .icon-unicat-4 {
      background-image: url('/assets/image/svg/icon-unicat-atm-4-hover.svg');
    }
    .icon-unicat-5 {
      background-image: url('/assets/image/svg/icon-unicat-atm-5-hover.svg');
    }
    .icon-unicat-6 {
      background-image: url('/assets/image/svg/icon-unicat-atm-6-hover.svg');
    }
    .icon-unicat-7 {
      background-image: url('/assets/image/svg/icon-unicat-atm-7-hover.svg');
    }
    .icon-unicat-8 {
      background-image: url('/assets/image/svg/icon-unicat-atm-8-hover.svg');
    }
    .icon-unicat-9 {
      background-image: url('/assets/image/svg/icon-unicat-atm-9-hover.svg');
    }
  }
}
.icon-unicat-atm {
  width: 85px;
  height: 85px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-unicat-1 {
  background-image: url('/assets/image/svg/icon-unicat-atm-1.svg');
}
.icon-unicat-2 {
  background-image: url('/assets/image/svg/icon-unicat-atm-2.svg');
}
.icon-unicat-3 {
  background-image: url('/assets/image/svg/icon-unicat-atm-3.svg');
}
.icon-unicat-4 {
  background-image: url('/assets/image/svg/icon-unicat-atm-4.svg');
}
.icon-unicat-5 {
  background-image: url('/assets/image/svg/icon-unicat-atm-5.svg');
}
.icon-unicat-6 {
  background-image: url('/assets/image/svg/icon-unicat-atm-6.svg');
}
.icon-unicat-7 {
  background-image: url('/assets/image/svg/icon-unicat-atm-7.svg');
}
.icon-unicat-8 {
  background-image: url('/assets/image/svg/icon-unicat-atm-8.svg');
}
.icon-unicat-9 {
  background-image: url('/assets/image/svg/icon-unicat-atm-9.svg');
}

.detail-icon-unicat-atm {
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.div-row-unicat-atm {
  --bs-gutter-x: 2.5rem;
  // --bs-gutter-y: 2.5rem;
  margin-top: 0px;
  margin-bottom: 40px;
}
.pricingTable-show-1 {
  display: block;
  animation: my-move-procing-table 0.5s;
}

.pricingTable-show-2 {
  display: block;
  animation: my-move-procing-table 0.5s;
}
@keyframes my-move-procing-table {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ul-uni-alarm {
  margin-left: 8px;
  li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    text-align: justify;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper-btn-atm {
    // max-width: 404px;
    button {
      min-width: unset;
      padding: 9px 16px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .col-empty-digital {
    display: none;
  }
  .respon-final-icon-uni-stm {
    display: flex;
    justify-content: center;
  }
  .wrapper-btn-atm {
    // max-width: 404px;
    button {
      span {
        font-size: 16px;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .wrapper-btn-atm {
    button {
      span {
        font-size: 14px;
      }
    }
  }
}
@media only screen and (max-width: 404px) {
  .wrapper-btn-atm {
    .btn-right-atm {
      margin-left: 12px !important;
    }
    button {
      padding: 9px 10px;
    }
  }
}

// section thiết bị ngân hàng
.back-ground-banking-equipment {
  margin-top: 60px;
  margin-bottom: 120px;
}
.img-uni-queue {
  margin-left: -48px;
}
.col-left-uni-queue {
  //   margin-top: 6.03125vw;
  margin-top: 2.083333333vw;
}
@media only screen and (max-width: 1100px) {
  .img-uni-queue {
    margin-left: unset;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .back-ground-banking-equipment {
    margin-bottom: 60px;
  }
}

// section partnership digital

.back-ground-partnership-digital {
  padding-top: 160px;
  padding-bottom: 60px;
}
.description-partnership-digital {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 131.25%;
  text-align: center;
  color: #59637e;
  max-width: 674px;
  margin: auto;
  margin-bottom: 44px;
  margin-top: 14px;
}
.btn-arrow-left-digital-banking {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background-image: url('/assets/image/svg/icon-btn-left.svg');
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    background-image: url('/assets/image/svg/arrow-left-hover-slide-unicat-stm.svg');
  }
}
.btn-arrow-right-digital-banking {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background-image: url('/assets/image/svg/icon-btn-right.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e7ecf2;
  &:hover {
    background-image: url('/assets/image/svg/arrow-right-hover-slide-unicat-stm.svg');
  }
}
.partnert-digital {
  background-image: url('/assets/image/svg/icon-hover-partnership-digital-logo.svg') !important;
}

.swiper-partnership-digital {
  padding-bottom: 6px !important;
  padding-top: 6px !important;

  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
}
@media only screen and (max-width: 550px) {
  .title-banking-software {
    font-size: 24px;
  }
  .description-partnership-digital {
    font-size: 14px;
  }
}

// section contact - us
.img-bottom-contact-us {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.back-ground-contact-us {
  padding-top: 145px;
  padding-bottom: 160px;
  position: relative;
}
.row-form-contact-us {
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 16px;
  padding: 40px 28px;
}
.description-contact-us-digital {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 131.25%;
  text-align: center;
  color: #59637e;
  max-width: 674px;
  margin: auto;
  margin-bottom: max(44px, 6.197916667vw);
  margin-top: 14px;
}
.btn-consult-now {
  width: 100%;
  max-width: 362px !important;
  padding-top: 12px;
  padding-bottom: 12px;
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  border-radius: 200px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
}
.form-contact-digital {
  label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8e9abb;
  }
  textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
#digital-banking-software,
#digital-banking-equipment,
#uni-cat-STM,
#back-ground-banking-software,
#back-ground-banking-equipment,
#back-ground-solution-digital {
  scroll-margin-top: 100px;
}
#smart-teller-machine {
  scroll-margin-top: 50px;
}
//======================Begin Section Highlight========================
.back-ground-banking-platform {
  position: relative;
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .banking-platform-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .banking-platform-col-left {
      .banking-platform-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 133%;
        text-transform: capitalize;
        margin: 0;
        background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .banking-platform-title-sub {
        font-weight: 500;
        font-size: 22px;
        line-height: 133%;
        text-transform: capitalize;
        color: #212633;
        margin-top: 4px;
      }

      .banking-platform-title-des {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        margin: 24px 0;
      }

      .banking-platform-group {
        padding: 0;
        .banking-platform-item {
          list-style-type: none;
          display: flex;
          align-items: center;
          margin-bottom: 32px;
          .banking-platform-item-icon {
            margin-right: 14px;
          }

          .banking-platform-item-des {
            font-weight: 400;
            font-size: 18px;
            line-height: 133%;
          }
        }
      }
    }

    .banking-platform-col-right {
      .banking-platform-card {
        padding: 30px 16px;
        margin-bottom: 20px;
        &:hover {
          background: #ffffff;
          box-shadow: 0px 2px 20px 10px rgba(31, 82, 253, 0.22);
          border-radius: 8px;
        }

        .banking-platform-card-title {
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          .banking-platform-card-title-icon {
            height: 48px;
            width: 48px;
          }

          .banking-platform-card-title-sub {
            padding-left: 16px;
            font-weight: 700;
            font-size: 22px;
            line-height: 133%;
            text-align: start;
            text-transform: capitalize;
            color: #212633;
          }
        }

        .banking-platform-card-des {
          font-weight: 400;
          font-size: 16px;
          line-height: 133%;
          color: #59637e;
        }
      }

      .card-1 {
        margin-top: -70px;
      }

      .card-3 {
        margin-top: -20px;
      }
    }
  }
}

//responsive
@media only screen and (max-width: 992px) {
  .back-ground-banking-platform {
    margin-top: 0;
    .banking-platform-container {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      .banking-platform-col-right .card-1,
      .banking-platform-col-right .card-3 {
        margin-top: 0;
      }
    }
  }

  .banking-platform-img {
    display: none;
  }
}
//======================End Section Highlight========================

//======================Begin Section Solutions========================
.back-ground-our-solution {
  background-image: url('/assets/image/svg/bg-solutions.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-height: 600px;
  margin-bottom: 309px;
  .title-banking-software {
    padding-top: 137px;
  }

  .our-solution-des {
    max-width: 648px;
    margin: 14px auto 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #59637e;
  }
}

.solution-item-card {
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(
    132.91deg,
    rgba(76, 166, 253, 0.22) 0.62%,
    rgba(255, 255, 255, 0.22) 51.92%,
    rgba(59, 211, 249, 0.22) 101.36%
  );
  box-shadow: -2px 6px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  padding: 35px 16px;
  height: 100%;
}

.solution-item-card-image {
  height: 140px;
  width: 140px;
  margin: 0 auto;
}

.solution-item-card-title {
  margin: 14px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 133%;
  text-align: center;
  text-transform: capitalize;

  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.solution-item-card-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  text-align: center;
  color: #59637e;
  margin-bottom: 12px;
  max-width: 366px;
  margin: auto;
}

.solution-item-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.solution-item-card-bottom {
  padding-top: 16.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution-item-card-bottom {
  margin-top: auto;
}

.solution-item-card-nav {
  display: flex;
  text-decoration: none;
}

.solution-item-card-view-detail {
  font-weight: 500;
  font-size: 14px;
  line-height: 133%;
  text-transform: capitalize;
  color: #0c3399;
  margin: 0px 8px;
  display: flex;
  align-items: center;
}
//responsive
@media only screen and (max-width: 992px) {
  .back-ground-our-solution {
    max-height: none;
    margin-bottom: 0;
    margin-top: 90px;
  }
  .our-solution-row--mobile {
    padding-top: 180px;
  }
  .our-solution-title--hidden {
    display: none;
  }
  .solution-item-cards {
    padding-top: 180px;
  }
}
@media only screen and (max-width: 992px) {
  .solution-item-card-des {
    font-size: 16px;
  }
}
//======================End Section Solutions========================

//======================Begin Section Download Brochure======================
.btn-digital-banking-download {
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  border-radius: 200px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 200px;
}
.back-ground-row-download-brochure {
  background-image: url('/assets/image/svg/bg-download-brochure.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-height: 354px;
  margin-bottom: 184px;
}

.download-brochure-container {
  padding-top: 242px;
}

.download-brochure-row {
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 16px;
  min-height: 318px;
  position: relative;
}

.download-brochure-img-desktop {
  height: 100% !important;
}

.download-brochure-content {
  position: absolute;
  right: 0;
  padding-right: 54px;
}

.download-brochure-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 144%;
  text-align: right;
  margin-top: 90px;
  margin-bottom: 6px;
  text-transform: uppercase;
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.download-brochure-title-sub {
  text-align: right;
  padding-top: 6px;
  margin: 0;
}

.download-brochure-btn {
  display: flex;
  justify-content: right;
  padding-top: 24px;
}

.download-brochure-img-mobile {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .download-brochure-title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1200px) {
  .download-brochure-title {
    font-size: 25px;
  }

  .download-brochure-content {
    position: absolute;
    right: 0;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .download-brochure-container {
    padding-top: 141px;
  }

  .download-brochure-img-desktop {
    display: none;
  }

  .download-brochure-img-mobile {
    display: block;
    margin: auto;
    padding: 46px 0 25px;
  }

  .download-brochure-row {
    max-height: none;
  }

  .download-brochure-content {
    position: relative;
    padding: 0 12px;
  }

  .download-brochure-title,
  .download-brochure-title-sub {
    margin: 0;
  }

  .download-brochure-title,
  .download-brochure-title-sub {
    text-align: center;
  }

  .download-brochure-btn {
    justify-content: center;
    padding-bottom: 47px;
  }

  .back-ground-row-download-brochure {
    margin-bottom: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .back-ground-row-download-brochure {
    margin-bottom: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .btn-digital-banking-download,
  .btn-learn-more-digital-banking {
    min-width: 155px;
  }
}
//======================End Section Download Brochure========================

//======================Begin Section Contact Us========================
.back-ground-row-contact-us {
  padding-top: 85px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.contact-us-cards {
  --spacing: 20px;
  --columns: 3;
  display: flex !important;
  flex-wrap: wrap !important;
  margin-left: calc(-1 * var(--spacing)) !important;
  margin-right: 0 !important;
}

.contact-us-card {
  overflow: hidden;
  width: calc(calc(100% / var(--columns)) - var(--spacing)) !important;
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
  border: 1px solid #6fc0fe;
  box-sizing: border-box;
  border-radius: 16px;
}

.contact-us-card-image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: 34px;
}

.contact-us-card-title {
  margin: 16px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 133%;
  text-align: center;
  text-transform: capitalize;

  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact-us-card-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  text-align: center;
  // text-transform: capitalize;
  color: #59637e;
  margin-bottom: 12px;
  max-width: 366px;
  margin: auto;
  padding-bottom: 34px;
}

.contact-us-card-bottom {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .contact-us-cards {
    justify-content: center;
  }
  .contact-us-card {
    --columns: 2;
  }
}

@media only screen and (max-width: 768px) {
  .contact-us-card {
    --columns: 1;
  }
}
//======================End Section Contact Us==========================

//add icon validate row contact
.back-ground-contact-us,
.modal-digital-banking {
  .was-validated .form-control:valid,
  .form-control.is-valid {
    background-image: url(../../../../assets/image/svg/icon-success.svg);
    background-position: 98% 70%;
    border-color: #00cb51;
  }
  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    background-image: url(../../../../assets/image/svg/icon-failed.svg);
    background-position: 98% 70%;
  }
}

//animation row banking ERP
.detail-slide-banking-erp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.wrapper-slide-banking-erp:hover {
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44));
  .detail-slide-banking-erp {
    animation: my-move-procing-table 0.5s;
    overflow: visible;
    display: block;
    // color: #fff;
  }
  .img-slide-banking-erp {
    display: none;
  }
}
