@import '/assets/scss/colorScheme.scss';

/* 0. custom 
*/

#benefit,
#introduce,
#feature,
#support,
#contact {
  scroll-margin-top: 100px;
}
.template-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 44px;
  row-gap: 44px;
}

.template-grid-2-auto {
  display: grid;
  grid-template-columns: 960px auto;
  column-gap: 81px;
  row-gap: 44px;
  align-items: center;
}

.template-grid-3 {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  column-gap: 16px;
  align-items: center;
}

.template-grid-4 {
  display: grid;
  grid-template-columns: auto 356px;
  column-gap: 20px;
  row-gap: 8px;
}

.divider-blue {
  width: 80px;
  height: 6px;
  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  margin-top: 24px;
  margin-bottom: 56px;
  margin-right: auto;
  margin-left: auto;
}

.divider-blue-normal {
  width: 80px;
  height: 6px;
  background: #44a9fe;
  margin-top: 20px;
  margin-bottom: 32px;
}

.divider-blue-small {
  width: 182px;
  height: 1px;
  background: #b8c3e1;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.divider-gradient {
  width: 80px;
  height: 6px;
  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 32px;
}

.bizzone-cloud {
  font-size: 62.5%;
  img {
    display: block;
    max-width: 100%;
  }
}

.btn-advise {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  box-shadow: 0px -2px 10px 2px rgba(112, 144, 176, 0.1);
  border-radius: 100px !important;
  padding: 12px 40px !important;
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
  overflow: hidden;
  border: none;
  position: relative;
  width: fit-content;
  white-space: nowrap;
  span {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #f3f6ff;
  }
  &::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    display: inline-block;
  }
  &:hover {
    color: #fff;
    border: none;
    background: transparent;
    &::after {
      background: #ff4912;
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}

.prev-slide,
.next-slide {
  cursor: pointer;
  svg {
    width: 40px;
    height: 40px;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(12, 58, 222, 0.1);
    border-radius: 50%;
    path {
      stroke: #0979fd;
    }
    transition-duration: 0.3s;
  }
  &:hover {
    svg {
      background: #ff7c59;
      path {
        stroke: #ffffff;
      }
    }
  }
}

.prev-slide {
  svg {
    transform: rotate(180deg);
  }
}

.next-slide {
  left: 50px;
}
#bizzone-header,
#bizzone-benefit,
#bizzone-feature,
#bizzone-contact,
#bizzone-support {
  scroll-margin-top: 100px;
}

/* 1. Row Header
*/
.row-header-title {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $color-ink-0;

  max-width: 437px;
  min-height: 88px;
  margin-top: 24px;
}

.row-header-subtitle {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 437px;
  min-height: 112px;
  color: $color-ink-10;

  margin: 24px 0px;
}

.btn-row-header {
  width: 100%;
  max-width: 220px;
  height: 52px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  box-shadow: 0px -2px 10px 2px rgba(112, 144, 176, 0.1);
  border-radius: 100px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: $color-ink-0;
  padding: 12px 40px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.row-header-banner {
  position: relative;
  background-image: url('/assets/image/homePage/background-top-bizzone-landing-page.png');
  width: 100%;
  height: 976px;
  display: block;
  max-width: 100%;
  margin-top: 80px;
}

.row-header-content {
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.row-header-left-content {
  max-width: 437px;
  min-height: 316px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row-header-right-content {
  max-width: 720px;
  height: 386px;
  padding-top: 155px;
}

.row-header-content > div {
  margin: 0px 60px;
}

.row-header-laptop-img {
  display: block;
  max-width: 100%;
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 2. Row Benefit
*/

.bizzone-benefit {
  margin-top: 80px !important;
  margin-bottom: 83px !important;
  h2.bizzone {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #212633;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }

  .benefit-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    row-gap: 44px;
    .benefit-cards-item {
      text-align: center;
      padding: 27px 40px 52px;
      /* White/100 */

      background: #ffffff;
      /* UniCloud/UniBlue/100 */

      border: 0.5px solid #ffffff;
      box-sizing: border-box;
      /* UniShadow/Drop3 */

      box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
      border-radius: 8px;
      position: relative;
      transition-duration: 0.3s;
      &:hover {
        border-color: #0979fd;
        &::before {
          content: '';
          position: absolute;
          background-color: #0979fd;
          width: 100%;
          height: 5px;
          top: 0px;
          right: 0px;
          left: 0px;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
    }
    img.benefit-card {
      margin-bottom: 24px;
      margin-right: auto;
      margin-left: auto;
    }

    h4.benefit-card {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */

      text-align: center;

      /* Ink/100 */

      color: #212633;
    }

    p.benefit-card {
      /* 14/Regular */

      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      text-align: center;

      /* Ink/80 */

      color: #59637e;

      margin: 12px 0px;
    }
  }
}

/* 3. Row Banner
*/

.bizzone-banner {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  box-shadow: -8.59px 2.07px 65.89px 0.617931px rgba(46, 99, 203, 0.25);

  .divider-white {
    margin-top: 24px;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    width: 80px;
    height: 6px;
  }
  .bizzone-group-solution {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    .group-solution-item {
      padding-top: 24px;
      padding-bottom: 24px;
      background: radial-gradient(
        88.36% 242.47% at 6.16% 6.3%,
        rgba(255, 255, 255, 0.42) 0%,
        rgba(255, 255, 255, 0.06) 100%
      );
      border: 2.26615px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 22.6615px 30.2154px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(9.06462px);
      border-radius: 16px;
    }
    h1.bizzone-detail {
      /* 36/Bold */

      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height, or 122% */

      text-align: center;

      /* White/100 */

      color: #ffffff;
    }
    p.bizzone-detail {
      /* 12/Bold */

      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */

      text-align: center;

      /* White/100 */

      color: #ffffff;
    }
  }
}

h2.bizzone-banner-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f3f6ff;
}

/* 4. Row Feature
*/

.bizzone-feature {
  margin-top: 80px;
  margin-bottom: 80px;

  .bizzone-feature-service {
    padding-bottom: 140px;
    .feature-service-wrap {
      .service-wrap_left {
        padding-top: 70px;
        text-align: left;
        position: relative;

        .service-detail-list {
          list-style-type: none;
          margin-top: 24px;
          li {
            margin-bottom: 16px;
            span::before {
              content: '';
              background-image: url('/assets/image/svg/icon-check-circle.svg');
              position: absolute;
              left: 0px;
              width: 24px;
              height: 24px;
              margin-right: 12px;
            }
          }
        }
      }

      .service-wrap_right {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          background-image: url('/assets/image/landingPage/bizzone-enterprise/bg-illutration.png');
          max-width: 560px;
          max-height: 557px;
          width: 100%;
          height: 100%;
          top: 0px;
        }
        .wrap_right__image {
          padding-top: 80px;
          padding-bottom: 165px;
          img {
            margin-left: 40px;
          }
        }
      }
    }
  }
}

.bizzone-feature-detail {
  margin-top: 80px;
  .feature-detail-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .feature-left {
    position: relative;
    .stick-bg {
      position: absolute;
      object-fit: contain;
      top: -40%;
      width: fit-content;
      z-index: -1;
    }
    .stick-img {
      position: relative;
      top: 0px;
      max-width: unset;
      object-fit: contain;
      left: -43%;
      z-index: -1;
    }
  }
  .feature-right {
    max-width: 510px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    span.detail-item {
      // margin-top: 24px;
      // margin-bottom: 40px;
      line-height: 155%;
      margin: 24px 0px;
    }
  }

  .imac-feature-left {
    position: relative;
    .stick-bg {
      position: absolute;
      object-fit: contain;
      top: -40%;
      left: 0%;
      width: fit-content;
    }
    .stick-img {
      position: relative;
      top: 0px;
      max-width: unset;
      object-fit: contain;
      left: 0%;
    }
  }

  .macbook-feature-left {
    position: relative;
    .stick-bg {
      position: absolute;
      object-fit: contain;
      top: -48%;
      left: 30%;
      width: fit-content;
      z-index: -1;
    }
    .stick-img {
      position: relative;
      top: 0px;
      max-width: unset;
      object-fit: contain;
      left: 18%;
    }
  }
}

.feature-detail-wrap-revert {
  grid-template-columns: auto 960px;
  justify-items: self-end;
  .feature-right {
    grid-row: 1;
  }
  .feature-left {
    .stick-img {
      left: 8%;
    }
  }
}

h1.feature-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 73px;
  /* identical to box height, or 130% */

  /* UniCloud/UniBlue/20 */

  color: #a7d8fe;

  opacity: 0.8;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

h2.service-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #212633;
  min-width: 510px;
}

span.detail-item {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: $color-ink-80;
}

/* 5. Row Process User 
*/

.bizzone-process {
  .bizzone-process-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.process-left {
  .process-item {
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.process-right {
  img {
    box-shadow: -4px 4px 20px rgba(23, 78, 185, 0.1), 0px 12px 40px rgba(39, 90, 190, 0.1);
    border-radius: 8px;
    width: 100%;
  }
}

h3.bizzone-process-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #2391fd;
  text-align: center;
}
h4.bizzone-process-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #212633;
}
ul.bizzone-process-detail {
  min-height: 80px;
  margin-bottom: 0px;
}
li.bizzone-process-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #59637e;
}

.process-item {
  position: relative;
  max-width: 480px;
  width: 100%;
  text-align: left;
  padding: 21px 20px;
  background: #ffffff;
  box-shadow: 4px 4px 12px rgba(19, 103, 201, 0.1);
  border-radius: 8px;
  margin-bottom: 25px;
  &::after {
    content: '';
    position: absolute;
    background: #ddefff;
    opacity: 0.4;
    filter: blur(16px);
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: -5%;
    top: 2%;
  }
}

/* 6. Row Interface
*/

.bizzone-interface {
  background-color: #f3f9ff;
  .bizzone-interface-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .swiper-slide {
    border-radius: 8px;
  }

  .bizzone-interface-wrap {
    .bizzone-interface-slide {
      position: relative;
      .swiper {
        width: 100%;
      }
    }
    .swiper-interface-img {
      width: 100%;
      //padding: 9px;
      border-radius: 8px;
    }

    .swiper-interface-img-wrapper {
      border: 20px solid #262626;
      border-radius: 12px;
    }

    .swiper-slide-active {
      img.swiper-interface-img {
        background: #262626;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }
    }
  }
}
.group-slide-interface {
  width: 100%;
  margin-top: 16px;
  column-gap: 24px;
}

/* 7. Row Application
*/

.bizzone-application {
  padding-bottom: 80px;

  .bizzone-application-wrap {
    padding-top: 80px;
  }
  .bizzone-apllication-slide {
    background-color: #eaf0fd;

    padding: 40px;
    .swiper-slide {
      width: 200px !important;
    }
  }
}

/* 8. Row About User
*/
.bizzone-about {
  .bizzone-about-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .swiper {
    padding-top: 20px;
    padding-bottom: 56px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
  }
  .swiper-pagination-bullet-active {
    background: #0c3399;
  }
}
.slide-user-item {
  box-shadow: -4px 4px 20px rgba(23, 78, 185, 0.1), 0px 12px 40px rgba(39, 90, 190, 0.1);
  border-radius: 16px;
  padding: 32px;
  min-height: 377px;
  background: #ffffff;
  transition: all 0.3s ease-in;

  img.user-item-detail {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    padding: 1px;
  }
  h3.user-item-detail {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #0c3399;
  }
  h5.user-item-detail {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #59637e;
  }
  blockquote.user-item-detail {
    font-family: 'SVN Gilroy';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #212633;
  }
  .icon-blockquote {
    text-align: center;
    svg {
      path {
        fill: #4367c7;
      }
    }
  }
  &:hover {
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    h3.user-item-detail {
      color: #ffffff;
    }
    h5.user-item-detail {
      color: #d6dff6;
    }
    blockquote.user-item-detail {
      color: #f3f6ff;
    }
    .icon-blockquote {
      svg {
        path {
          stroke: #f3f9ff;
          fill: #f3f9ff;
        }
      }
    }
    img.user-item-detail {
      background: #ffffff;
    }
  }
}

/* 9. Row Support Customer
*/
.bizzone-support {
  .bizzone-support-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
    .bizzone-support-left {
      position: relative;
      width: 640px;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: -48%;
        z-index: -1;
        display: inline-block;
        background-image: url('/assets/image/landingPage/bizzone-enterprise/bg-support.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    .bizzone-support-right {
      justify-self: flex-end;
    }
  }
  .accordion-item {
    background: #ffffff;
    border: 1px solid #d6dff6;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 2px rgba(112, 144, 176, 0.1);
    border-radius: 8px !important;
    margin-bottom: 16px;
    border-top: 1px solid #d6dff6 !important;
    border-left: 1px solid #d6dff6 !important;
    border-right: 1px solid #d6dff6 !important;
    border-radius: 8px solid #d6dff6 !important;
  }
  .accordion-button {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #244ab1;
    padding: 22px 20px;
    border: none !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;

    &:focus {
      box-shadow: unset;
      border: none;
      background-color: #ffffff;
    }
    &:not(.collapsed) {
      color: #ff7c59;
      background-color: transparent;
      box-shadow: none;
      &::after {
        background-image: url('/assets/image/svg/icon-arrow-orange-down.svg');
        transform: rotate(90deg);
      }
    }
    &::after {
      background-image: url('/assets/image/svg/icon-arrow-blue-right.svg');
    }
  }
  .accordion-body {
    padding: 0px 20px 20px;
  }
  span.accordion-desc {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: $color-ink-80;
  }

  .accordion-list-item {
    list-style-type: disc;
  }

  .accordion-btn-container {
    padding-left: 20px;
  }

  .accordion-desc-btn {
    padding: 8px 24px;
    max-width: 220px;
    min-height: 40px;

    background: $color-uni-blue-80;
    box-shadow: 0px 3px 4px 1px rgba(109, 144, 179, 0.2);
    border-radius: 100px;
    margin: 16px 0px;
    border: none;

    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $color-ink-0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordion-desc-icon {
    margin-left: 10px;
  }
}
/* . Responsive 
*/
@media (max-width: 1920px) and (min-width: 1366px) {
  .feature-detail-wrap-revert {
    padding-left: 20px;
    padding-right: 0px !important;
  }
  .bizzone-feature-detail {
    .feature-detail-wrap {
      padding-right: 20px;
    }
  }
  .bizzone-support {
    padding-left: 53px;
    padding-right: 53px;
  }
}

@media only screen and (max-width: 1366px) {
  .template-grid-2-auto {
    // grid-template-columns: calc(100vw / 2) auto;
    column-gap: 20px;
  }
  .bizzone-feature-detail {
    margin-top: 0px;
    .feature-left,
    .macbook-feature-left {
      .stick-img {
        position: relative;
        top: 0px;
        max-width: calc(100vw / 1.5);
        object-fit: contain;
        left: -43%;
        width: auto;
      }
    }
    .imac-feature-left {
      .stick-img {
        position: relative;
        top: 0px;
        max-width: calc(100vw / 1.5);
        object-fit: contain;
        left: -30%;
        width: auto;
      }
    }
  }
  .bizzone-feature {
    .bizzone-feature-service {
      padding-bottom: 40px;
    }
  }

  .feature-detail-wrap-revert {
    .feature-left,
    .imac-feature-left,
    .macbook-feature-left {
      .stick-img {
        left: 8% !important;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .bizzone-banner-wrap,
  .bizzone-benefit,
  .bizzone-feature,
  .bizzone-interface-wrap,
  .bizzone-process-wrap,
  .bizzone-support-wrap {
    padding: 0 20px;
  }

  .bizzone-support {
    .bizzone-support-wrap {
      .bizzone-support-left {
        width: 100%;
        &::before {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1165px) {
  .row-header-title {
    font-size: 32px;
    line-height: 40px;
  }

  .row-header-subtitle {
    font-size: 18px;
    line-height: 26px;
  }

  .row-header-content {
    justify-content: flex-start;
  }

  .row-header-content > div {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .bizzone-banner-wrap,
  .bizzone-benefit,
  .bizzone-feature,
  .bizzone-interface-wrap,
  .bizzone-process-wrap,
  .bizzone-support-wrap {
    padding: 0 20px;
  }
  .bizzone-feature-detail {
    .feature-right {
      span.detail-item {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
  .margin-top-54 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .bizzone-benefit {
    padding: 0 20px;
    .benefit-cards {
      grid-template-columns: repeat(2, 1fr);
    }
    img.benefit-card {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .bizzone-banner {
    .bizzone-banner-wrap {
      padding: 0 20px;
    }
  }

  .bizzone-feature {
    .bizzone-feature-service {
      .feature-service-wrap {
        .service-wrap_right {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .template-grid-2 {
    row-gap: 20px;
    column-gap: 20px;
  }
  .bizzone-process {
    .bizzone-process-wrap {
      padding-top: 30px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .bizzone-support {
    .bizzone-support-wrap {
      .bizzone-support-right {
        justify-self: center;
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: -48%;
          z-index: -1;
          display: inline-block;
          background-image: url('/assets/image/landingPage/bizzone-enterprise/bg-support.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .padding-20 {
    padding: 0px 20px;
  }
  .row-header-title {
    font-size: 30px;
    line-height: 38px;
  }

  .row-header-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .row-header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row-header-right-content {
    padding-top: 100px;
  }

  .row-header-laptop-img {
    max-width: 424px;
    height: 228px;
  }

  .row-header-content > div {
    margin: 0px 10px;
  }
  .template-grid-2 {
    grid-template-columns: repeat(1, 100%);
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row-reverse;
  }
  .template-grid-4 {
    grid-template-columns: auto auto;
  }
  .bizzone-feature {
    .bizzone-feature-service {
      padding-bottom: 40px;
      .feature-service-wrap {
        .service-wrap_left {
          grid-row: 2;
          padding-top: 0px;
        }
        .service-wrap_right {
          .wrap_right__image {
            padding: 50px 0px;
            text-align: center;
            img {
              margin-right: auto;
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  ul.bizzone-process-detail {
    min-width: 280px;
  }

  .template-grid-2-auto {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .bizzone-feature-detail {
    margin-top: 40px;
    .feature-left {
      .stick-bg {
        display: none;
      }
      .stick-img {
        position: relative;
        top: 0px;
        max-width: fit-content;
        object-fit: contain;
        left: -20%;
        width: 100%;
      }
    }
    .feature-detail-wrap {
      padding-top: 20px;
    }
    .imac-feature-left {
      .stick-img {
        left: 0px;
      }
    }
  }

  .feature-detail-wrap-revert {
    justify-items: flex-start;
    .feature-right {
      grid-row: unset;
    }
  }

  .process-item {
    max-width: 388px;
  }
  .bizzone-support {
    .bizzone-support-wrap {
      .bizzone-support-right {
        &::before {
          width: 100vw;
          height: calc(100% / 2.2);
          left: 0px;
        }
        img {
          width: 260px;
        }
      }
    }
  }

  .swiper-interface-img-wrapper {
    border: 12px solid #262626 !important;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  .process-item {
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .bizzone-benefit {
    padding: 0 20px;
    .benefit-cards {
      grid-template-columns: repeat(1, 1fr) !important;
    }
    img.benefit-card {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .bizzone-feature-detail {
    .feature-detail-wrap {
      padding-left: 0px;
    }
  }

  .bizzone-banner {
    .bizzone-banner-wrap {
      .bizzone-group-solution {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .bizzone-process {
    .bizzone-process-wrap {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .process-left {
    background-image: url('/assets/image/landingPage/bizzone-enterprise/img-horizontal.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20px;
    .process-item {
      margin-right: unset;
      margin-left: unset;
      width: 100%;
      max-width: 100%;
    }
  }
  .process-right {
    display: none;
  }

  .swiper-partnership-application {
    width: 150px;
  }
  .bizzone-application {
    .bizzone-apllication-slide {
      padding-right: 0px;
    }
  }
  .bizzone-interface {
    .bizzone-interface-wrap {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  h3.user-item-detail {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .row-header-title {
    font-size: 28px;
    line-height: 32px;
  }

  .row-header-subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .row-header-right-content {
    padding-top: 100px;
  }

  .row-header-left-content {
    padding: 0 20px;
  }

  .row-header-content > div {
    margin: 0px 5px;
  }

  .btn-row-header {
    height: 80px;
  }
}

/* . Responsive Font size
*/

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width: 992px) {
  h1.feature-detail {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  h2.service-detail {
    font-size: 24px;
    line-height: 32px;
    min-width: unset;
  }
}

// Row Contact

.row-contact-banner {
  position: relative;
  background-image: url('/assets/image/homePage/background-contact.png');
  width: 100%;
  min-height: 658px;
  display: block;
  max-width: 100%;
}

.row-contact-content {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-contact-content > div {
  margin: 0px 80px;
}

.row-contact-left-content {
  max-width: 520px;
  height: 498px;
  margin: 0px 40px;
}

.row-contact-title {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  color: $color-ink-100;

  text-align: center;

  width: 100%;

  min-height: 38px;

  margin: 24px 0px;
}

.row-contact-form {
  margin-top: 24px;
}

.row-contact-position-relative {
  position: relative;
}

.row-contact-position-relative .form-control.is-valid {
  background-image: url('/assets/image/svg/icon-check-circle.svg');
}

.row-contact-position-relative .form-control.is-invalid {
  background-image: url('/assets/image/svg/icon-invalid.svg');
}

// make triangle for error span

.invalid-tooltip {
  position: relative;
  border: 1px solid $color-red-100;
  background-color: $color-red-100 !important;
  margin-top: 0.5rem !important;
}

.invalid-tooltip::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 0px solid $color-red-100;
  border-right: 1px solid $color-red-100;
  border-bottom: 1px solid $color-red-100;
  border-left: 0px solid $color-red-100;
  top: 0%;
  left: 80%;
  transform: rotate(45deg);
  margin-top: -5px;
  background: $color-red-100;
}

.row-contact-label {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: $color-ink-80;

  margin: 0px 4px;
}

.row-contact-label::after {
  content: '*';
  color: #fd3549;
  margin: 0px 4px;
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 9px;
  height: 20px;
}

.row-contact-dropdown-item {
  padding: 16px;
  width: 100%;
  min-height: 54px;
  background: $color-white-100;
}

.btn-submit-row-contact {
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  background: $color-uni-blue-80;
  box-shadow: 0px 3px 4px 1px rgba(109, 144, 179, 0.2);
  border-radius: 8px;
  margin: 24px 0px;
  border: none;

  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $color-ink-0;

  text-align: center;
}

.row-contact-right-content {
  max-width: 579px;
  min-height: 294px;
  display: flex;
  flex-direction: column;

  margin: 0px 40px;
}

.row-contact-detail-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  // make check icon
  list-style-type: none;
  li {
    span::before {
      content: '';
      background-image: url('/assets/image/svg/icon-check-contact.svg');
      position: absolute;
      margin-top: 4px;
      left: 0px;
      width: 18px;
      height: 13px;
    }
  }
}

.row-contact-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: $color-white-100;

  max-width: 579px;
  height: 94px;

  margin-bottom: 32px;
}

.row-contact-list-item {
  max-width: 540px;
  height: 24px;
  margin: 12px 0px;
}

.row-contact-item {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: $color-ink-0;

  margin: 0px 8px;
}

// make custom select list

.contact-form-dropdown {
  position: relative;
}

.contact-form-dropdown-btn {
  padding: 12px;
  background-color: #fff;
  max-height: 44px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-ink-100;
  background-color: $color-white-100;
  border: 1px solid #b8c3e1;
  appearance: none;
  border-radius: 4px;
  margin: 8px 0px;
}

.contact-form-dropdown-btn::after {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #414042 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 17px;
}

.contact-form-dropdown-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0px;
  color: $color-ink-100;
  background-color: $color-white-100;
  background-clip: padding-box;
  border: 1px solid #b8c3e1;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

.contact-form-dropdown-list .contact-form-dropdown-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 16px;
  cursor: pointer;
  color: #595959;
  transition: all 0.2s;
  text-align: start;
  border-top: 1px solid $color-ink-20;
}

.contact-form-dropdown-list .contact-form-dropdown-item:hover {
  background-color: $color-uni-blue-5;
}

.contact-form-dropdown-btn-no-radius {
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
}

// Row Banking
// section banking erp
.row-banking-back-ground {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
}
.row-banking-col-left {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 30px;
  position: relative;
  &::after {
    content: '';
    // display: inline-block;
    position: absolute;
    width: 4000px;
    height: 100%;
    top: 0;
    background: white;
    transform: translateX(-2000px);
  }
  h2,
  p,
  div {
    position: relative;
    z-index: 2;
  }
}
.col-slide-row-banking {
  position: absolute;
  right: 0;
  z-index: 4;
  padding-right: 0;
}
.swiper-row-banking {
  padding-left: calc(var(--bs-gutter-x) * 1) !important;
  padding-right: calc(var(--bs-gutter-x) * 1) !important;
  overflow: visible;
  .swiper-wrapper {
    // background-color: #f3f9ff;
    &::after {
      content: '';
      background-color: #f3f9ff;
      width: 4000px;
      height: 90%;
      top: 18px;
      position: absolute;
      z-index: -1;
      overflow: visible;
    }
  }
}
.wrapper-slide-row-banking {
  position: relative;
  min-height: 495px;
  height: 100%;
  padding: 28px 16px 16px 16px;
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 16px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 14px;
    top: 0;
    background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: translateX(-16px);
  }
}

.wrapper-slide-row-banking:hover {
  .detail-slide-row-banking {
    animation: my-move-procing-table 0.5s;
    overflow: visible;
    display: block;
  }
  .img-slide-row-banking {
    display: none;
  }
}

.img-slide-row-banking {
  border-radius: 4px;
  max-height: 160px;
}
.title-slide-row-banking {
  min-height: 79px;
  margin-bottom: 14px;
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // text-fill-color: transparent;
}
.detail-slide-row-banking {
  margin-bottom: 0px;
  margin-top: 18px;
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #59637e;

  // animation for detail slide
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
// .div-top-slide-banking-erp {
//   height: 14px;
//   background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
// }

.row-banking-title-sub {
  font-family: 'SVN Gilroy';
  margin: 4px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;

  color: $color-ink-100;
}

.row-banking-detail-2 {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: justify;

  margin: 24px 0px;
}

.btn-row-banking {
  background: $color-uni-blue-100;
  border-radius: 200px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  max-width: 177px;

  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
  //   width: fit-content;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 133%;
    text-align: center;
    color: #ffffff;
  }
  &::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    display: inline-block;
  }
  &:hover {
    color: #ffffff;
    border: none;
    background: transparent;
    &::after {
      //   background: #0c3399;
      background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.col-slide-row-banking {
  position: absolute;
  right: 0;
  z-index: 4;
  padding-right: 0;
}

.text-discover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
  text-transform: capitalize;
  color: #59637e;
  margin-left: 8px;
  margin-right: 8px;
}

// Responsive for Row Banking

@media only screen and (max-width: 1866px) {
  .title-slide-row-banking {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1508px) {
  .title-slide-row-banking {
    font-size: 14px;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 928px) {
  .title-slide-row-banking {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .col-slide-row-banking {
    position: relative;
  }
  .swiper-row-banking {
    padding-left: 0px !important;
  }
  .row-banking-back-ground {
    background: #f3f9ff;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .title-slide-row-banking {
    font-size: 20px;
    padding: 0px;
  }
  .detail-slide-row-banking {
    font-size: 14px;
  }
  .wrapper-slide-row-banking {
    min-height: 394px;
  }
  .wrapper-mouse-scroll {
    display: none;
  }
  .bizzone-interface-slide {
    &.template-grid-3 {
      grid-template-columns: auto;
      row-gap: 16px;
    }
    div {
      &:first-child {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: flex-end;
      }

      &:nth-child(2) {
        grid-column: 1 / 3;
      }
      &:nth-child(3) {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
        width: fit-content;
      }
    }
  }
}

@media only screen and (max-width: 539px) {
  .title-slide-row-banking {
    font-size: 13px;
    padding: 5px;
  }
}

@media only screen and (max-width: 450px) {
  .back-ground-top-slide-digital-banking {
    min-height: 1145px;
  }
}

// Responsive

@media only screen and (max-width: 1293px) {
  .row-contact-detail {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .row-contact-left-content {
    min-width: 388px;
  }

  .row-contact-list-item {
    min-width: 420px;
  }

  .row-contact-content > div {
    margin: 0px 60px;
  }

  .row-contact-item {
    margin: 0px;
  }

  .row-contact-title {
    font-size: 26px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 1165px) {
  .row-header-title {
    font-size: 32px;
    line-height: 40px;
  }

  .row-header-subtitle {
    font-size: 18px;
    line-height: 26px;
  }

  .row-header-content {
    justify-content: flex-start;
  }

  .row-contact-detail {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .row-contact-list-item {
    min-width: 420px;
  }

  .row-contact-content > div {
    margin: 0px 20px;
  }

  .row-contact-title {
    font-size: 24px;
    line-height: 36px;
  }

  .row-contact-list-item {
    min-width: 380px;
  }

  .row-contact-item {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 845px) {
  .row-contact-content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 20px;
    top: 3%;
  }

  .row-contact-banner {
    height: 996px;
  }

  .row-contact-left-content {
    min-height: 620px;
  }

  .row-contact-detail {
    max-width: 388px;
    height: 64px;

    font-size: 24px;
    line-height: 32px;

    margin: 24px 0px;
  }

  .row-contact-right-content {
    max-width: 388px;
    min-height: 256px;
    margin: 40px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .row-header-title {
    font-size: 30px;
    line-height: 38px;
  }

  .row-header-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .row-header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row-header-right-content {
    padding-top: 100px;
  }

  .row-header-laptop-img {
    max-width: 424px;
    height: 228px;
  }

  .row-header-content > div {
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 425px) {
  .row-header-title {
    font-size: 28px;
    line-height: 32px;
  }

  .row-header-subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .row-header-right-content {
    padding-top: 100px;
  }

  .row-header-left-content {
    padding: 0 20px;
  }

  .row-header-content > div {
    margin: 0px 5px;
  }

  .btn-row-header {
    height: 80px;
  }
}
