.privacy-title-number {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.019em;
  color: rgba(43, 43, 51, 0.8);
  margin-bottom: 14px;
}
.ul-privacy {
  padding-left: 12px;
}

.ul-privacy li {
  padding-left: 8px;
}

.tab-new-privacy-page {
  /* margin-bottom: 200px; */
  padding-bottom: 215px;
}
.title-privacy-details {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.019em;
  color: #2b2b33;
  margin-bottom: 20px;
}

.page-policy-terms {
  margin-top: 81px !important;
  margin-bottom: 60px !important;
  padding: 60px 20px;
}

h4.sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

p.description-policy {
  font-size: 18px;
}
//swiper video
.section-swiper-video-v3 {
  .mySwiper2 {
    .swiper-slide {
      display: flex;
      justify-content: center;
    }
    .iframe-youtube-sliving {
      width: 100% !important;
      height: 100% !important;
      max-width: 840px;
    }
    .react-player__preview {
      min-height: 480px;
      border-radius: 4px;
    }
  }
  .swiper-video-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: clamp(40px, 10.67vw, 120px) 20px;
    .title-box {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .title {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #2c2d2e;
        margin-top: 16px;
      }
      .sub-title {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.22em;
        color: #0979fd;
      }
      .item-border {
        margin-top: 16px;
        width: 88px;
        height: 4px;
        background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
        border-radius: 200px;
      }
    }
  }
  .container-swiper-thumb {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 900px;
    .swiper-slide {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .item-border {
      // position: absolute;
      background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      border-radius: 8px;
      width: 0;
      height: 8px;
      transition: 0.3s;
      // bottom: -16px;
    }
    .wrap-item {
      position: relative;
      width: 70%;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      border-radius: 4px;
      .img-box {
        width: 160%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 16px;
      }
    }
    .img {
      filter: brightness(0.4);
    }
    .swiper-slide-thumb-active {
      .img {
        filter: brightness(1);
      }
      .item-border {
        // position: absolute;
        background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
        border-radius: 8px;
        width: 100%;
        height: 8px;
        // bottom: -16px;
      }
    }
  }
}
//-------------Begin Section Products Slider-------------------------------------------------
#smart_home_page {
  .section-product-slider {
    margin-top: 90px;
  }
}

.section-product-slider {
  @keyframes FadeUp {
    from {
      opacity: 0;
      top: 20%;
    }
    to {
      opacity: 1;
      top: 0%;
    }
  }
  ul li {
    font-size: clamp(12px, 3.75vw, 18px);
  }
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  .products-slider {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .slider {
      display: none;
      overflow: hidden;
      position: relative;
      .slider-left__content {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        overflow: hidden;
        z-index: 3;
        .swiper__container {
          width: 400px;
          height: 300px;
          .swiper {
            .swiper__slide {
              .slide__img {
                width: 400px;
                height: 300px;
                object-fit: contain;
              }
            }
          }
        }
        .banner-products-btn-group {
          margin-top: 49px;
          display: flex;
          border: 2px solid #ffffff;
          border-radius: 100px;
          min-height: 40px;
          width: 100%;
          z-index: 2;
          overflow: hidden;
          .products-btn-item {
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: clamp(12px, 3.2vw, 16px);
            line-height: 24px;
            color: #ffffff;
            background: none;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child) {
              border-right: 2px solid white;
            }
            &:hover {
              cursor: pointer;
            }
            .product-item-title {
              padding: 8px 5px;
              font-size: clamp(10px, 3.125vw, 16px);
            }
          }
          .products-btn-item.active {
            background: rgba(255, 255, 255, 0.4);
          }
        }
      }
      .slider-right__content {
        background-color: #f3f9ff;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .right-content-container {
          width: 100%;
          height: 100%;
          .content-container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: clamp(40px, 9.35vw, 100px) clamp(20px, 4.675vw, 60px);
            justify-content: center;
          }
        }
        .product-right-content {
          max-width: 510px;
          margin: auto;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0px 20px;
        }
        .product-right-all-contents {
          max-width: 100%;
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          color: #454647;
          list-style: disc;
        }
        .product-right-all-contents > p:not(:last-child) {
          margin-bottom: 8px !important;
        }
        .product-right-desc-container {
          font-weight: 500;
        }
        .product-right-main-title {
          font-weight: 700;
        }
        .product-right-title {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: clamp(24px, 7.1875vw, 36px);
          color: #2c2d2e;
          margin-top: 16px;
        }
        .product-right-subtitle {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 133%;
          letter-spacing: 0.1em;
          color: #0979fd;
        }
        .product-right-divider {
          width: 88px;
          min-height: 4px;
          background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
          border-radius: 200px;
          margin: 16px 0px;
        }
        .product-right-main-title {
          display: inline-block;
        }
      }
    }
    .slider.active {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;
      .slider-left__content {
        position: absolute;
        left: 0;
        top: 0px;
        opacity: 1;
        animation-name: FadeUp;
        animation-duration: 0.75s;
      }
      .slider-right__content {
        position: absolute;
        right: 0;
        top: 0px;
        opacity: 1;
        animation-name: FadeUp;
        animation-duration: 0.75s;
        z-index: 4;
      }
    }
    .btn-big__arrow__right__mobie {
      position: absolute;
      top: calc(20% - 20px);
      z-index: 1;
      width: fit-content;
      display: none;
    }
    .btn-big__arrow__left {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 60px);
      z-index: 5;
      width: fit-content;
    }
    .btn-big__arrow__right {
      position: absolute;
      top: calc(50% - 20px);
      right: calc(50% - 60px);
      z-index: 5;
      width: fit-content;
    }
  }

  .smart__home__bg-left {
    width: 50%;
    background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .smart__home__bg-right {
    width: 50%;
    background: #f3f9ff;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 3;
    right: 0;
  }

  // // phone img object
  .product-phone-wrapper {
    position: relative;
    margin: auto;
    max-height: 534px;
    z-index: 1;
  }

  .download-apps-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 139px;
    bottom: -5%;
    z-index: 2;
    gap: 20px;
  }

  .download-app-item {
    max-width: 251px;
    max-height: 100%;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  }

  .download-app-img {
    border-radius: 6px;
  }
}

///=========Responsive==========//
@media (max-width: 1200px) {
  .section-product-slider {
    height: 100vh;
  }
  #smart_home_page {
    .section-product-slider {
      margin-top: 60px;
      height: calc(100vh - 60px);
    }
  }
}

@media (max-width: 1000px) {
  @keyframes FadeUp2 {
    from {
      opacity: 0;
      top: 100%;
    }
    to {
      opacity: 1;
      top: 50%;
    }
  }

  .section-product-slider {
    height: 170vh;
    max-height: 1600px;
    position: relative;
    .products-slider {
      .slider.active {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .slider-left__content {
          height: 45%;
          width: 100%;
          padding: 20px;
        }
        .slider-right__content {
          top: 45%;
          height: 55%;
          width: 100%;
          animation-name: FadeUp2;
          .right-content-container {
            width: 100%;
            height: 100%;
          }
        }
      }
      .btn-big__arrow__right__mobie {
        position: absolute;
        top: calc(25% - 20px);
        right: 5px;
        width: fit-content;
        display: inline;
        transform: rotate(180deg);
        z-index: 5;
      }
      .btn-big__arrow__left {
        position: absolute;
        top: calc(25% - 20px);
        left: 5px;
        width: fit-content;
      }
      .btn-big__arrow__right {
        position: absolute;
        top: calc(50% - 20px);
        right: calc(50% - 60px);
        width: fit-content;
        display: none;
      }
    }
    .smart__home__bg-left {
      width: 100%;
      height: 45%;
      top: 0;
      left: 0;
    }
    .smart__home__bg-right {
      width: 100%;
      height: 55%;
      top: 45%;
      right: 0;
    }
  }

  #smart_home_page {
    .section-product-slider {
      margin-top: 60px;
      height: calc(170vh - 60px);
      max-height: 1600px;
      position: relative;
    }
  }
}
/*---------Overwrite Modal Bootstrap---------*/
.modal {
  display: block !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 670px;
  max-height: 360px;
}
