@import "../../../../../assets/scss/colorScheme.scss";

.custom-link-digital {
  font-weight: 600;
  :hover {
    font-weight: bold;
  }
}

.custom-nav-link-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 0px !important;
  padding: 0px;
  //   justify-content: center;
  //   .btn-get-advice,
  -webkit-text-fill-color: unset;
  border-bottom-style: unset;
  border-bottom-width: unset;
  border-bottom-color: unset;
  .btn-hotline-digital {
    height: 38px;
    max-width: 160px;
    display: block;
    width: 100%;
    padding: 9px 20px;
    border: none;
    background: #0c3399;
    border-radius: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
}
.background-sticky {
  .custom-nav-link-btn {
    text-decoration: none;
    .btn-advise-digital-menu {
      border: 1px solid #0979fd;
      background: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      color: #0979fd;
      height: 40px;
      display: flex;
      align-items: center;
      span {
        border-radius: 100px;
        background: #ffffff;
        color: #0979fd;
        padding: 9px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        position: relative;
        z-index: 1;
      }
    }
    .btn-hotline-digital {
      background: #0979fd;
    }
  }
  .custom-nav-link-btn.active {
    -webkit-text-fill-color: unset;
    border-bottom-style: unset;
    border-bottom-width: unset;
    border-bottom-color: unset;
  }
}
.btn-advise-digital-menu {
  border-radius: 200px;
  padding: 12px 0px;
  width: fit-content;
  border: none;
  outline: unset;
  position: relative;
  transition: 0.2s ease-in-out;
  background: #0c3399;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    border-radius: 100px;
    background: #0c3399;
    padding: 9px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f3f6ff;
    position: relative;
    z-index: 1;
  }
  //   &:hover {
  //     span {
  //       background: #ffffff;
  //       color: #0c3399;
  //     }
  //   }

  //   &:hover {
  //     &:before {
  //       animation: pulsing 0.2s linear infinite;
  //     }
  //     &:after {
  //       animation: pulsing1 0.2s linear infinite;
  //     }
  //   }

  //   &:before,
  //   &:after {
  //     content: '';
  //     width: 100%;
  //     height: 100%;
  //     border: inherit;
  //     top: 0;
  //     left: 0;
  //     z-index: 0;
  //     background: #025fbb;
  //     border-radius: inherit;
  //     animation: pulsing 2.5s linear infinite;
  //     position: absolute;
  //   }
  //   &:after {
  //     animation: pulsing1 2.5s linear infinite;
  //   }
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.8) scaleX(1.4);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.8) scaleX(1.4);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes pulsing1 {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.2) scaleX(1.15);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.2) scaleX(1.15);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}

@media only screen and (max-width: 1180px) {
  .custom-nav-link:not(:last-child) {
    margin-right: 0px;
  }
  .custom-nav-link {
    font-size: 13px;
  }
}
@media only screen and (max-width: 992px) {
  .custom-nav-link-btn {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eaf0fd;
  }
}
