@font-face {
  font-family: "SVN Gilroy";
  src: local("SVN Gilroy"), local("SVN-Gilroy"), url("/font/SVN-Gilroy Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SVN Gilroy";
  src: local("SVN Gilroy"), local("SVN-Gilroy"), url("/font/SVN-Gilroy Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SVN Gilroy";
  src: local("SVN Gilroy"), local("SVN-Gilroy"), url("/font/SVN-Gilroy Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body,
body * {
  font-family: "SVN Gilroy", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: #ad020200;
  scroll-behavior: smooth;
}

#__next {
  overflow: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.max-width-1680 {
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-1266 {
  max-width: 1266px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-1180 {
  max-width: 1180px;
}

.max-width-1600 {
  max-width: 1600px !important;
  width: 100%;
}

.max-width-100 {
  max-width: 100%;
  position: relative;
}

.max-width-1300 {
  max-width: 1300px;
}

.max-width-724 {
  max-width: 724px;
  margin: auto;
}

.width-313 {
  width: 400px;
  margin: auto;
}

.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-bizzone-shop-1 {
  border-radius: 8px;
  background-color: unset;
  border: 1px solid #0979fd;
  padding: 12px 24px;
  span {
    text-align: center;
    letter-spacing: 0.02em;
    color: #0979fd;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}

.btn-bizzone-shop-2 {
  background: #0979fd;
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  span {
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}

.btn-bizzone-shop-3 {
  background: #ffffff;
  border-radius: 6px;
  padding: 12px 24px;
  border: none;
  margin: 10px;
  box-shadow: 0px 2px 6px rgba(68, 68, 68, 0.14);
  span {
    text-align: center;
    letter-spacing: 0.02em;
    color: #212633;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
  }
}

.btn-bizzone-shop-4 {
  padding: 12px 24px;
  min-width: 267px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(68, 68, 68, 0.14);
  border-radius: 12px;
  span {
    text-align: center;
    letter-spacing: 0.02em;
    color: #212633;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
  }
}

.modal-dialog {
  max-width: 100% !important;
  width: fit-content !important;
}

.form-control {
  &:focus {
    box-shadow: none !important;
    border-color: none !important;
  }
}

.form-select {
  &:focus {
    box-shadow: none !important;
    border-color: none !important;
  }
}

// Text Color
.text-white {
  color: #ffffff;
}

.text-gradient-origan {
  line-height: 150%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-center {
  text-align: center;
}

// Font size
.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

.box-shadow-sticky-on {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
}

.container-child {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: auto !important;
}

.bizzone-cloud {
  font-size: 62.5%;
  img {
    display: block;
    max-width: 100%;
  }
}

.col-xem-them {
  display: contents;
}
