@font-face {
  font-family: 'SVN Gilroy';
  src: local('SVN Gilroy'), local('SVN-Gilroy'),
    url('./assets/fonts/SVN-Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SVN Gilroy';
  src: local('SVN Gilroy'), local('SVN-Gilroy'),
    url('./assets/fonts/SVN-Gilroy Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SVN Gilroy';
  src: local('SVN Gilroy'), local('SVN-Gilroy'),
    url('./assets/fonts/SVN-Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'SVN Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'SVN Gilroy', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
