.template-ecosystem {
  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .breadcrumb,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0px;
  }

  .btn-cta-gradient {
    width: fit-content;
    height: 50px;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 133%;
      letter-spacing: -0.019em;
      color: #ffffff;
    }
  }

  .btn-cta-normal {
    position: relative;
    width: fit-content;
    height: 50px;
    border: 5px solid transparent !important;
    padding: 12px 24px;
    background: #ffffff;
    text-decoration: inherit;
    background-clip: padding-box !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
      background: linear-gradient(to left, #ff4912 0%, #ff7900 100%);
      z-index: -1;
      border-radius: 4px;
    }
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 133%;
      letter-spacing: -0.019em;
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  // Header
  .template-ecosystem-header {
    .type-popup-3 {
      h2 {
        color: #0979fd;
      }
      h4 {
        color: #0979fd;
      }
      p {
        color: #59637e;
      }
    }
    .ecosystem-header-wrap {
      min-height: 660px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .background-bottom {
        background-image: url('/assets/image/ecosystem/bg-bottom.png');
        background-size: cover;
        background-position: center center;
        position: absolute;
        bottom: -3px;
        z-index: 3;
        width: 100%;
        height: 100%;
      }
    }
  }
  .img-sticky-header-top {
    z-index: 4 !important;
    left: 18% !important;
  }
  .img-sticky-header {
    position: absolute;
    left: 20%;
    width: fit-content !important;
    bottom: 0px;
    z-index: 2;
  }
  .mouse-small {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    width: 36px;
    height: 54px;
    border-radius: 50px;
    border: 3px solid #fff;
    animation: colorSlide 5s linear infinite, mouseSlide 5s ease-out infinite;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    &::before {
      width: 46px;
      height: 82px;
      border-radius: 100px;
    }
    &::after {
      background-color: #ffffff;
      width: 5px;
      height: 12px;
      border-radius: 25%;
      animation: trackSlide 5s linear infinite;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  @keyframes trackSlide {
    0% {
      opacity: 1;
      transform: scale(1) translateY(-8px);
    }
    6% {
      opacity: 1;
      transform: scale(0.9) translateY(2px);
    }
    14% {
      opacity: 0;
      transform: scale(0.4) translateY(16px);
    }
    15%,
    19% {
      opacity: 0;
      transform: scale(0.4) translateY(-8px);
    }
    28%,
    29.99% {
      opacity: 1;
      transform: scale(1) translateY(-8px);
    }
    30% {
      opacity: 1;
      transform: scale(1) translateY(-8px);
    }
    36% {
      opacity: 1;
      transform: scale(0.9) translateY(2px);
    }
    44% {
      opacity: 0;
      transform: scale(0.4) translateY(16px);
    }
    45%,
    49% {
      opacity: 0;
      transform: scale(0.4) translateY(-8px);
    }
    58% {
      opacity: 1;
      transform: scale(1) translateY(-8px);
    }
    60% {
      opacity: 1;
      transform: scale(1) translateY(-8px);
    }
    66% {
      opacity: 1;
      transform: scale(0.9) translateY(2px);
    }
    74% {
      opacity: 0;
      transform: scale(0.4) translateY(16px);
    }

    79% {
      opacity: 0;
      transform: scale(0.4) translateY(-8px);
    }

    100% {
      opacity: 1;
      transform: scale(1) translateY(-8px);
    }
  }

  @keyframes colorSlide {
    0% {
      background-position: 0% 100%;
    }
    20% {
      background-position: 0% 0%;
    }
    29.99% {
      background-position: 0% 0%;
    }
    30% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 0% 0%;
    }
    59% {
      background-position: 0% 0%;
    }
    60% {
      background-position: 0% 100%;
    }
    80% {
      background-position: 0% 0%;
    }
  }

  @keyframes mouseSlide {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(8px);
    }
    30% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
    60% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(8px);
    }
    90% {
      transform: translateY(0);
    }
  }

  // Section Two
  .ecosystem-breadcrumb {
    margin-top: 56px;
    margin-bottom: 89px;
  }

  .title-information {
    margin-bottom: 90px;

    img {
      width: 16px;
    }
  }

  .title-information-wrap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 133%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.274522px;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .ecosystem-information {
    margin-bottom: 62px;

    .ecosystem-information-wrap {
      .information-right {
        position: relative;
        .btn-right {
          text-align: right;
        }
        .information-right-wrap {
          min-width: 580px;
          margin-left: -65%;
          margin-top: 20%;
          // position: absolute;
          // left: -55%;
          // top: 10%;
          background: #ffffff;
          padding: 39px 34px;
          box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);

          h4 {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 16px !important;
            line-height: 150%;
            letter-spacing: -0.274522px;
            /* Ink/40 */
            color: #b8c3e1;
            margin-bottom: 4px;
            text-transform: capitalize;
          }

          h3 {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.274522px;
            /* Ink/100 */
            color: #212633;
            text-transform: capitalize;
          }

          p {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.274522px;
            /* Ink/80 */
            color: #59637e;
            display: block;
          }
          .btn-cta-gradient {
            margin-top: 14px;
            align-self: flex-end;
          }
        }
      }
    }
  }

  // Section Benefits
  .ecosystem-potential {
    background-image: url('/assets/image/ecosystem/bg-ecosystem.png');

    padding-top: 62px;
    padding-bottom: 62px;
  }

  .ecosystem-potential-benefits {
    h5 {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.274522px;
      color: #b8c3e1;
      margin-bottom: 4px;
      text-transform: capitalize;
    }

    h4 {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: -0.274522px;
      /* Ink/100 */
      color: #212633;
      text-transform: capitalize;
    }

    span {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.274522px;
      color: #59637e;
      display: block;
      max-width: 465px;
    }

    .benefits-accordion {
      margin-top: 24px;

      .accordion-item {
        margin-bottom: 20px;
      }

      .accordion-button::after {
        order: -1;
        margin-left: 0;
        margin-right: 10px;
        background-image: url('/assets/image/svg/icon-minus.svg');
      }

      .collapsed.accordion-button::after {
        order: -1;
        margin-left: 0;
        margin-right: 10px;
        background-image: url('/assets/image/svg/icon-plus.svg');
      }

      .accordion {
        max-width: 480px;
      }

      .accordion-button {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        /* or 21px */
        letter-spacing: -0.274522px;
        color: #ffffff;
      }
      .accordion-body {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 133%;
        letter-spacing: -0.274522px;
        color: #59637e;
      }

      .collapsed.accordion-button {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.274522px;
        /* Ink/100 */
        color: #212633;
      }

      .accordion-button:not(.collapsed) {
        width: 100%;
        height: 52px;
        background: #0979fd;
        border-radius: 4px;
      }

      .accordion-collapse {
        background: rgb(255, 255, 255);
        box-shadow: rgb(112 144 176 / 25%) 0px 2px 7px 1px;
      }
    }

    .benefits-img-right {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .benefits-img-right__child {
        margin-top: 21px;
        padding-left: 131px;
        width: fit-content;
      }

      .group-icon {
        margin-top: 16px;
        img {
          max-width: 191px;
        }
      }
    }
  }

  // Section ecosystem-banner
  .ecosystem-banner {
    //background-image: url('/assets/image/ecosystem/bizzone/banner-bizzone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .ecosystem-banner-wrap {
      padding: 66px 0;

      h4 {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: -0.274522px;
        text-transform: capitalize;
        color: #ffffff;
      }

      span {
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.274522px;
        color: #ffffff;
      }
    }
  }

  .btn-download {
    padding: 14px 62px;
    max-width: 224px;
    width: 100%;
    height: 51px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
  }

  // Section Feature
  .ecosystem-feature {
    position: relative;
    margin-top: 89px;
    padding-bottom: 178px;

    .image-left {
      position: absolute;
      max-width: 100%;
      width: fit-content;
      top: 0px;
      left: 0px;
      z-index: -1;
    }

    .ecosystem-feature-wrap {
      .feature-wrap__detail {
        margin-bottom: 54px;

        h4 {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          text-align: center;
          letter-spacing: -0.274522px;
          color: #b8c3e1;
          text-transform: capitalize;
        }

        h3 {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 150%;
          text-align: center;
          letter-spacing: -0.274522px;
          color: #212633;
          width: 100%;
          text-transform: capitalize;
        }

        span {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          letter-spacing: -0.274522px;
          color: #59637e;
          max-width: 545px;
          display: block;
          margin: auto;
        }
      }
    }
  }

  .ecosystem-feature-choose {
    ul.nav-tabs {
      column-gap: 10px;
      padding: 0;
      border-bottom: none;

      .nav-link {
        margin: auto;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0.25rem;
        border: 1px solid #e9eaec;
      }
      .nav-link.active {
        box-shadow: 3px 4px 15px rgba(97, 130, 164, 0.15);
        border: none;
      }

      li {
        flex: 1;
        background: #ffffff;

        min-height: 112px;
      }
    }

    .feature-choose-wrap-detail {
      padding: 45px 35px;
      background: #ffffff;
      /* UniShadow/Drop6 */

      box-shadow: 3px 4px 15px rgba(97, 130, 164, 0.15);
      border-radius: 4px;

      .feature-choose-wrap-detail__right {
        padding-left: 56px;

        h4 {
          margin-bottom: 8px;
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          color: #212633;
        }

        span {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.019em;

          color: #59637e;
          margin-bottom: 38px;
        }

        .more-detail {
          margin-top: 38px;
          display: flex;
          align-items: center;
          column-gap: 8px;

          span {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.019em;
            background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          img {
            width: 24px;
            height: 24px;
          }
        }

        .feature-choose-wrap-item {
          ul {
            list-style-type: none;
            padding: 0px;
            margin-top: 38px;

            li {
              display: flex;
              align-items: center;
              column-gap: 14px;
              margin-bottom: 18px;

              &::before {
                content: '';
                background-image: url('/assets/image/svg/icon-chevrons-right.svg');
                width: 24px;
                height: 24px;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }

    .feature-choose-wrap {
      padding: 19px 20px;

      span {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #212633;
      }
    }

    .choose-icon {
      width: 40px;
      height: 40px;
      margin: auto;
    }
  }

  .ecosystem-feature-phone {
    .feature-phone-wrap-left {
      .feature-phone-wrap-left__item {
        margin-bottom: 88px;

        .wrap-left__item-img {
          img {
            width: 60px;
            height: 60px;
          }
        }

        h5 {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          color: #212633;
        }

        span {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          /* Ink/80 */
          color: #59637e;
        }
      }
    }
  }

  // Section Feature item
  .feature-wrap__detail {
  }

  .feature-wrap__detail-group {
    column-gap: 20px;
    row-gap: 20px;
    position: relative;

    .img-right-stick {
      position: absolute;
      width: fit-content;
      bottom: -21%;
      right: -11%;
      z-index: -1;
    }
  }

  .feature-wrap__detail-item {
    padding: 24px 29px;
    max-width: 380px;
    width: 100%;
    background: #ffffff;
    /* UniShadow/Drop3 */

    box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
    border-radius: 4px;

    &:hover {
      background: #0979fd;

      .detail-item-icon {
        background: #ffffff;
      }

      h4,
      span {
        color: #ffffff;
      }
    }

    h4 {
      margin-left: 24px;
    }

    .detail-item-title {
      margin-bottom: 14px;
    }

    .detail-item-icon {
      background: #ffe6de;
      width: 52px;
      height: 52px;
      padding: 10px;
      border-radius: 20px 0px 20px 0px;
    }

    .detail-item-description {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.274522px;

      color: #59637e;
    }
  }

  // Row Reason why choose
  .ecosystem-why-choose {
    margin-bottom: 62px;

    .ecosystem-why-choose-left {
      padding: 0px;
      position: relative;
      z-index: 1;
    }

    .stick-cup {
      position: absolute;
      top: 35%;
      bottom: 0px;
      right: -10%;
      margin-right: auto;
      margin-left: auto;
      z-index: 2;
      height: fit-content;
      background: linear-gradient(90deg, #fc692b -19.72%, #fe506a 115.83%);
      border-radius: 4px;
      text-align: center;
      padding: 36px 25px;

      h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 150%;
        letter-spacing: -0.471835px;
        color: #ffffff;
      }

      h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.471835px;
        color: #ffffff;
      }
    }

    .ecosystem-why-choose-right {
      padding-left: 115px;

      h4 {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.274522px;
        color: #b8c3e1;
        text-transform: capitalize;
      }

      h3 {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: -0.274522px;
        color: #212633;
        text-transform: capitalize;
      }

      span {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.274522px;
        color: #59637e;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          column-gap: 14px;
          row-gap: 4px;
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.274522px;
          color: #59637e;
          margin-bottom: 14px;
          &::before {
            content: '';
            background-image: url('/assets/image/svg/icon-arrow-right-orange.svg');
            width: 24px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }

      .why-choose-item {
        margin-top: 32px;
      }
    }
  }

  .btn-learn-more {
    text-decoration: none;
  }

  .ecosystem-learn-more {
    display: block;
    margin-top: 56px;
    margin-bottom: 119px;
    .btn-learn-more-wrap {
      padding: 12px;
      border: 1px solid #ff7902;
      max-width: 360px;

      span {
        display: block;
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.25px;
        background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-transform: uppercase;
      }
    }
  }
}

// Media Response

@media only screen and (max-width: 1024px) {
  .template-ecosystem .feature-wrap__detail-group .img-right-stick {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .template-ecosystem {
    .img-sticky-header-top {
      width: 347px !important;
      bottom: 0px !important;
      left: 0px !important;
      right: 0px !important;
      margin: auto !important;
    }
    .col-md-3,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
      width: 100%;
    }
  }

  .template-ecosystem {
    .benefits-img-right {
      .benefits-img-right__child {
        padding-left: 0px !important;
      }
    }
    h2 {
      font-size: 32px !important;
    }

    h4 {
      font-size: 16px !important;
      line-height: 150%;
    }

    p {
      font-size: 14px !important;
      line-height: 150%;
      text-align: center;
    }

    .ecosystem-popup {
      padding-top: 50px;
      padding-left: 21px;
      padding-right: 22px;
      text-align: center;
      max-width: 389px;
      left: 0px;
      right: 0px;
      margin: auto;
    }

    .template-ecosystem-header {
      .ecosystem-header-wrap {
        min-height: 935px;
      }
    }

    .ecosystem-breadcrumb {
      margin-bottom: 67px;
    }

    .title-information {
      margin-bottom: 39px;
    }

    .ecosystem-information {
      justify-content: center;

      .ecosystem-information-wrap {
        padding: 0px;

        .information-left {
          padding: 0px;
        }

        .information-right {
          .information-right-wrap {
            position: unset;
            min-width: unset;
            margin-left: auto;
            margin-right: auto;
            margin-top: -24px;
          }
        }
      }
    }

    .ecosystem-potential {
      // padding-left: 20px;
      // padding-right: 20px;
      .ecosystem-potential-benefits {
        flex-direction: column-reverse;
        padding: 0px 15px;

        .accordion {
          max-width: unset;
        }

        .potential-benefits-left {
          margin-top: 36px;
        }

        .potential-benefits-right {
          padding: 0px;
        }

        .benefits-img-right {
          .group-icon {
            img {
              max-width: 100px;
            }
          }
        }
      }
    }

    .ecosystem-banner {
      padding: 0px 15px;
      text-align: center;

      .banner-wrap__right {
        margin-top: 43px;

        .btn-download {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .ecosystem-feature {
      .feature-wrap__detail-item {
        max-width: unset;
      }
    }

    .ecosystem-why-choose {
      .stick-cup {
        position: relative;
        z-index: 1;
        padding: 10px;
        top: unset;
        bottom: unset;
        right: unset;

        width: fit-content;
        height: fit-content;
        margin-top: -30%;
        margin-right: unset;
        margin-left: auto;
        margin-bottom: 20%;
        padding: 10px;
      }

      .ecosystem-why-choose-left {
        padding: 0px 15px;

        .choose-left__item {
          width: calc(100% / 1.2);
        }
      }

      .ecosystem-why-choose-right {
        padding: 0px 15px;
      }
    }

    // Feature setup component layout 1 2 3 4 5
    .ecosystem-feature-choose {
      ul {
        flex-wrap: inherit;
      }

      ul.nav-tabs {
        overflow-x: scroll;
        width: 100%;
        overflow-y: hidden;
      }

      .feature-choose-wrap {
        white-space: nowrap;
      }

      .feature-choose-wrap-detail {
        .feature-choose-wrap-detail__right {
          margin-top: 24px;
          padding: 0px;
        }
      }
    }

    .ecosystem-feature-phone {
      .feature-phone-wrap-center {
        //   display: none;
      }
    }

    .col-left-uniCart {
      .row {
        flex-direction: column-reverse;
      }
    }

    .title-unicart {
      text-align: center;
    }

    .title-unicart-right {
      text-align: center;
    }

    .col-left-uniCart {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
    }

    .col-right-uniCart {
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
    .respon-img {
      max-width: 120px !important;
      margin-bottom: 21px;
    }

    .type-popup-2 {
      top: 8%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .template-ecosystem {
    .ecosystem-feature-phone {
      .feature-phone-wrap-center {
        display: none;
      }
    }
  }

  .template-ecosystem .col-left-uniCart .row {
    flex-direction: unset;
  }
}

// trang unica
.div-icon-title {
  margin-bottom: 12px;
}

.push-top-uniCA {
  padding-top: 53px;
}

.col-push-margin-uniCA {
  margin-top: -39px;
}

.icon-usb-smartcard {
  max-width: 56px !important;
}

.text-title-unicloudCA {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: -0.019em;
  color: #212633;
  margin-left: 12px !important;
}

.detail-feature-uniCA {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.019em;
  color: #59637e;
}

.col-item-uniCA {
  background: #ffffff;
  box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
  border-radius: 4px;
  padding: 29px 29px 20px 29px;
  min-height: 220px;

  &:hover {
    background: #0979fd;

    h4,
    span {
      color: #ffffff;
    }
  }
}

.gx-custom-uniCA {
  --bs-gutter-x: 2.5rem;
}

@media only screen and (max-width: 575px) {
  .push-top-uniCA {
    padding-top: 0px;
  }

  .ecosystem-feature {
    padding-bottom: 44px !important;
  }

  .col-push-margin-uniCA {
    margin-top: 16px;
  }

  .col-item-uniCA {
    min-height: 200px;
  }
}

// trang unicard
.title-unicart {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: right;
  color: #212633;
  margin-bottom: 8px !important;
}

.detail-unicart {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  text-align: right;
}

.title-unicart-right {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #212633;
  margin-bottom: 8px !important;
}

.detail-unicart-right {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: #59637e;
}

.row-uniCart {
  margin-bottom: 40px;
}

.respon-img {
  width: 120px !important;
}

.col-left-uniCart {
  padding-right: 32px;
  margin-bottom: 40px;
}

.col-right-uniCart {
  padding-left: 32px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 575px) {
  .col-left-uniCart {
    padding-right: 0px;
  }

  .col-right-uniCart {
    padding-left: 12px;
  }

  .title-unicart {
    text-align: center;
  }

  .detail-unicart {
    text-align: center;
  }

  .title-unicart-right {
    text-align: center;
  }

  .detail-unicart-right {
    text-align: center;
  }

  .feature-wrap__detail {
    margin-bottom: 32px !important;
  }
}

// trang invoice
.title-invoice {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.274522px;
  color: #212633;
}

.detail-invoice {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.274522px;
  color: #59637e;
}

.icon-invoice {
  max-width: 78px !important;
  float: right;
  height: 100%;
}

.image-invoice {
  width: 6px !important;
  margin: 0 24px;
}

.col-item-unitype4 {
  padding-left: 20px;
  h4 {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.274522px;
    color: #212633;
  }

  span {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.274522px;

    color: #59637e;
  }
}

.row-item-invoice {
  margin-bottom: 62px;
}

@media only screen and (max-width: 575px) {
  .col-item-unitype4 {
    padding-left: 0px;
  }

  .icon-incoive {
    float: unset;
    justify-content: center;
  }
}

// Title

.title-center-divider {
  text-align: center;
  margin-bottom: 54px;
  h4 {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.274522px;
    color: #b8c3e1;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.274522px;
    color: #212633;
    width: 100%;
    text-transform: uppercase;
  }

  span {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.274522px;
    color: #59637e;
    max-width: 545px;
    display: block;
    margin: auto;
  }
}

.feature-product {
  margin-top: 89px;
  img {
    max-width: 100%;
    display: block;
  }
  .img-center-product {
    margin-bottom: 54px;
  }
}
// slide product smart city
.back-ground-product {
  padding-top: 40px;
  padding-bottom: 100px;
}

.margin-top-118 {
  margin-top: 118px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}

.slide-product-swiper {
  padding-bottom: 10px;
}
.slide-product {
  margin-bottom: 104px;
}
.title-category-product {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #0979fd;
  margin-bottom: 12px !important;
}
.author-product {
  margin-bottom: 8px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 131.25%;
  color: #212633;
  margin-top: 50px;
}
.detail-product {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 131.25%;
  color: #59637e;
  margin-bottom: 0px;
}
.row-item-slide-latest-news {
  &:hover {
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    .author-product,
    .detail-product {
      color: #ffffff;
    }
    .text-author-latest-news {
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
      color: #ffffff;
      background: unset;
    }
    .div-time-latest-news {
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      box-shadow: 0px 4px 4px rgba(46, 66, 226, 0.2);
    }
  }
}
.div-under-product {
  height: 0px;
  border: 1px solid #b8c3e1;
  position: relative;
  margin-bottom: 20px;
  &::before {
    position: absolute;
    background: #2b79fd;
    height: 2px;
    content: '';
    bottom: -1px;
    width: 130px;
    left: 0;
  }
}
.latest-product {
  position: relative;
  padding-top: min(80px, 5vw);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .template-ecosystem {
    .img-sticky-header {
      width: 20% !important;
    }
    .ecosystem-potential {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .latest-product {
    padding-top: min(75px, 3vw) !important;
  }
}

@media only screen and (max-width: 991px) {
  .latest-product {
    p {
      text-align: left !important;
    }
  }
  .title-product {
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 14px;
  }
  .author-product {
    margin-bottom: 9px;
  }
  .latest-product {
    padding-top: min(80px, 7vw) !important;
  }
}
@media only screen and (max-width: 768px) {
  .row-horizontal {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .template-ecosystem {
    .ecosystem-popup {
      top: 10%;
    }
    .img-sticky-header {
      left: 0px;
      right: 0px;
      margin-right: auto;
      margin-left: auto;
      bottom: 0%;
      width: 70% !important;
    }
  }
}

@media only screen and (max-width: 860px) {
  .latest-product {
    padding-top: min(75px, 10vw) !important;
  }
}
@media only screen and (max-width: 549px) {
  .latest-product {
    padding-top: min(85px, 15vw) !important;
  }
  .feature-product {
    .col-arrow-latest-news {
      margin-right: 0px !important;
    }
  }
  .title-category-product {
    font-size: 22px;
    padding-top: 6px;
  }
}
@media only screen and (max-width: 450px) {
  .latest-product {
    padding-top: min(85px, 17vw) !important;
  }
  .template-ecosystem {
    .ecosystem-popup {
      top: 30%;
    }
    .img-sticky-header {
      left: 0px;
      right: 0px;
      margin-right: auto;
      margin-left: auto;
      bottom: 0%;
      width: 75% !important;
    }
  }
}
