.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* leaflet button styling */
.leaflet-control-geosearch .leaflet-bar-part {
  border-bottom: none;
  border-radius: 4px;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: '';
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 19px;
  left: 16px;
  width: 8px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 50%;
}

/* resets for pending and error icons */
.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
}

/* pending icon */
.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
  content: '';
}

/* error icon */
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  font-weight: 600;
  font-size: 18px;
  line-height: initial;
  border: none;
  content: '!';
}

/* search form styling */
.leaflet-control-geosearch form {
  position: absolute;
  top: -2px;
  left: 28px;
  z-index: -1;
  display: none;
  height: auto;
  margin: 0;
  padding: 0 8px;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-control-geosearch form input {
  width: 100%;
  min-width: 200px;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-indent: 8px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  padding: 0 8px;
  overflow: hidden;
  line-height: 24px;

  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid transparent;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #c6c6c6;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  position: absolute;
  top: 30px;
  bottom: -2px;
  left: -2px;
  display: block;
  width: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  content: '';
}

/* animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaflet-top .leaflet-control-geosearch.bar,
.leaflet-bottom .leaflet-control-geosearch.bar {
  display: none;
}

.leaflet-control-geosearch.bar {
  position: relative;
  z-index: 1000;
  display: block;
  width: 400px;
  height: auto;
  margin: 10px auto 0;
  cursor: auto;
}

.leaflet-control-geosearch.bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.leaflet-control-geosearch.bar form input {
  width: 100%;
  min-width: 100%;
}

.leaflet-control-geosearch.bar .results.active:after {
  opacity: 0.2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-right: none;
  border-left: inherit;
  border-radius: 4px 0 0 4px;
}

.leaflet-control-geosearch a.reset {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  color: black;
  line-height: 30px;
  border: none;
  cursor: pointer;
}

.leaflet-control-geosearch a.reset:hover {
  background: #f5f5f5;
}
