@import '../../../assets/scss/colorScheme.scss';

.back-ground-ecosystem-top {
  padding-top: 90px;
  background-image: url('/assets/image/homePage/backgroud-top-ecosystem.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 598px;
  //   margin-bottom: 900px;
}
.title-ecosystem {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.019em;
  color: $color-white-100;
  margin-top: 8.177vw;
}
a {
  text-decoration: none !important;
}
.div-sub-ecosystem {
  text-align: center;
}
.middle-ecosystem {
  color: $color-white-100;
}
.title-go-back-home {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: $color-white-100;
  margin-left: 10px;
  margin-right: 10px;
}
.sub-title-ecosystem {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.019em;
  color: $color-white-100;
  margin-left: 10px;
  margin-right: 10px;
}

// tab solution
.back-ground-solution {
  margin-bottom: 96px;
}
.icon-top-ecosystem-page {
  margin-right: 8px;
  margin-top: -6px;
}
.top-text-solution {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  margin-top: 124px;
}
.top-title-solution {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: $color-ink-100;
  text-align: center;
}
.top-detail-solution {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: $color-ink-80;
  max-width: 768px;
  margin: auto;
  text-align: center;
}
.ul-pricing-table {
  display: inline-flex;
  width: auto;
  background: #f2f6ff;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 10px;
  max-width: 930px !important;
  margin: auto;
  margin-top: 28px !important;
  margin-bottom: 28px;
  padding: 10px;
}
.ul-pricing-table li button {
  text-transform: uppercase;
  border: none;
  background-color: #f2f6ff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: $color-ink-80;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 4px;
}
.ul-pricing-table li {
  list-style: none;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  line-height: 32px;
}
.active-li-price-list {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  color: $color-white-100 !important;
  font-weight: 700 !important;
}
.title-item-solution {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: $color-ink-100;
  margin-top: 15px;
  margin-bottom: 8px !important;
}
.detail-item-solution {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: $color-ink-80;
  margin-bottom: 14px !important;
}
.row-item-2-solution {
  margin-top: 16px !important;
}
.row-item-solution {
  a {
    pointer-events: none;
    cursor: default;
  }
  &:hover {
    .title-item-solution {
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
.div-img-solution {
  overflow: hidden;
}
.img-item-solution {
  max-height: 403px;
  width: 100%;
  transition: transform 0.5s ease !important;
  &:hover {
    transform: scale(1.25);
  }
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.solution-table-show-1 {
  display: block;
  animation: my-move-solution-table-table 0.7s;
}

.solution-table-show-2 {
  display: block;
  animation: my-move-solution-table-table 0.7s;
}

.solution-table-show-3 {
  display: block;
  animation: my-move-solution-table-table 0.7s;
}
.solution-table-show-4 {
  display: block;
  animation: my-move-solution-table-table 0.7s;
}
@keyframes my-move-solution-table-table {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 992px) {
  .title-ecosystem {
    font-size: 24px;
    line-height: 133%;
    margin-top: 104px;
  }
  .back-ground-ecosystem-top {
    background-image: url('/assets/image/ecosystem/bg-ecosystem-mobile.png');
    background-size: cover;
    background-position: bottom center;
    min-height: 460px;
  }
  .top-title-solution {
    max-width: 278px;
    margin: auto;
    text-align: center;
    font-size: 24px;
  }
  .top-detail-solution {
    margin-top: 14px;
  }

  .back-ground-solution {
    margin-bottom: 70px;
  }
  .top-text-solution {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 790px) {
  .ul-pricing-table {
    display: initial;
    width: 100%;
  }
}
