// top row Usee
.back-ground-top-bizzone-shop {
  margin-top: 82px;
  padding-top: 152px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/bg-top-bizzone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  .btn-bizzone-shop-1 {
    width: 172px;
  }

  .btn-bizzone-shop-2 {
    width: 172px;
  }
}
.title-top-bizzone-shop {
  margin-bottom: 16px !important;
  margin-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #212633;
}
.sub-title-top-bizzone-shop {
  margin-bottom: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #212633;
}
.btn-bizzone-shop-1 {
  border-radius: 8px;
  background-color: unset;
  border: 1px solid #0979fd;
  padding: 12px 24px;
  span {
    text-align: center;
    letter-spacing: 0.02em;
    color: #0979fd;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}
.btn-bizzone-shop-2 {
  background: #0979fd;
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  span {
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}
// row benefis
.back-ground-benefis-bizzone-shop {
  background: #f3f9ff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.div-icon-bizzone-shop {
  margin-bottom: 20px;
}
.title-benefis-bizzone-shop {
  margin-bottom: 8px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #212633;
}
.sub-title-benefis-bizzone-shop {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #212633;
}
// row management solution
.back-ground-solution-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/bg-solution-bizzone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-solution-bizzone-shop {
  margin-bottom: 40px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #212633;
  max-width: 580px !important;
}
.title-2-solution-bizzone-shop {
  margin-bottom: 36px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #212633;
}
.div-solution-bizzone-shop {
  padding: 40px !important;
  background: #ffffff;
  box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14);
  border-radius: 24px;
}
.ul-solution-bizzone-shop {
  margin-bottom: 33px;
  display: inline-flex;
  padding-left: 0px;
  li {
    padding-bottom: 10px;
    margin-right: 40px;
    list-style: none;
    button {
      border: none;
      font-weight: 500;
      font-size: 15px;
      line-height: 133%;
      font-style: normal;
      color: #8e9abb;
      background: unset;
      white-space: nowrap;
    }
  }
}
.div-button-solution-bizzone-shop {
  margin-top: 12px !important;
}
.active-li-solution-bizzone-shop {
  border-bottom: 2px solid #0979fd;
  button {
    color: #212633 !important;
    font-weight: 600px;
  }
}
.solution-bizzon-shop-show-1 {
  display: flex;
  animation: my-move-solution-bizzone-shop 0.7s;
}

.solution-bizzon-shop-show-2 {
  display: flex;
  animation: my-move-solution-bizzone-shop 0.7s;
}

.solution-bizzon-shop-show-3 {
  display: flex;
  animation: my-move-solution-bizzone-shop 0.7s;
}
.solution-bizzon-shop-show-4 {
  display: flex;
  animation: my-move-solution-bizzone-shop 0.7s;
}
.solution-bizzon-shop-show-5 {
  display: flex;
  animation: my-move-solution-bizzone-shop 0.7s;
}
@keyframes my-move-solution-bizzone-shop {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// row business
.back-ground-business-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
}
.link-business-intergration {
  span {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #76809b;
    svg {
      margin-left: 8px;
    }
  }
}
.active-hover-business-integration {
  span {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #2391fd;
    svg {
      margin-left: 8px;
      path {
        stroke: #2391fd;
      }
    }
  }
}
.description-business-intergration {
  margin-top: 16px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #525b73;
}
.row-img-retail-business {
  img {
    height: 100% !important;
    max-height: 280px;
  }
  .img-retail-1-bizzone-shop {
    border-radius: 20px;
  }
  .img-retail-2-bizzone-shop {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .img-retail-3-bizzone-shop {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
// section partnership
.back-ground-partnership-bizzone-shop {
  background: #f3f9ff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.title-partnership-bizzone-shop {
  margin-bottom: 48px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #212633;
}

.row-content-logo-partnership-bizzone-shop {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: auto;
}

.row-content-logo-partnership-bizzone-shop div {
  display: flex;
  align-items: flex-end;
  width: calc(100% / 6 - 30px);
}

// section contact
.back-ground-contact-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
}
.div-contact-bizzone-shop {
  padding: 20px !important;
  background: #ffffff;
  box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14);
  border-radius: 24px;

  .btn-loading {
    opacity: 0.6;
  }
}
.col-contact-left {
  height: 100%;
  background-image: url("/images/bizzone-shop/bg-contact-bizzone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  border-radius: 8px;
}
.title-contact-bizzone-shop {
  padding-top: 90px;
  padding-left: 66px;
  padding-right: 45px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.detail-contact-bizzone-shop {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title-contact-2-bizzone-shop {
  margin-top: 20px;
  margin-bottom: 12px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #000000;
}

.form-contact-bizzone-shop {
  :global(.form-label) {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #59637e;
  }

  :global(.form-control) {
    background: none !important;
  }

  :global(.form-select) {
    background-image: url("/images/svg/icon-drop-down.svg") !important;
  }

  :global(.form-select):global(.is-valid) {
    border: 1px solid #00cb51;
  }

  :global(.form-control:focus) {
    border: 1.5px solid #0979fd;
    box-shadow: none;
  }

  :global(.form-control):global(.is-valid) {
    border: 1px solid #00cb51;
  }

  :global(.form-control):global(.is-invalid) {
    border: 1px solid #fd3549;
  }

  :global(.valid-feedback),
  :global(.invalid-feedback) {
    span {
      display: flex;
      align-items: center;

      img {
        width: 17px;
        height: 17px;
        margin-right: 5px;
      }
    }
  }

  :global(.valid-feedback) {
    color: #00cb51;
  }

  :global(.invalid-feedback) {
    color: #fd3549;
  }
}

// section need support
.bg-need-support-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
}
.title-need-support {
  margin-bottom: 48px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: #212633;
}
.div-wrapper-need-support {
  padding: 32px;
  background: #f3f9ff;
  border-radius: 20px;
}

.row-logo-partnership-bizzone-shop {
  width: 100%;
  padding-bottom: 15px;
}

.scroll-margin-top-section {
  scroll-margin-top: 80px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  // section top Usee
  .back-ground-top-bizzone-shop {
    padding-top: 10px;
  }

  // section benefit
  .back-ground-benefis-bizzone-shop {
    padding: 40px 0 50px;
  }

  // section management solution
  .back-ground-solution-bizzone-shop {
    background: #fff;
    padding: 40px 0;
  }

  .title-solution-bizzone-shop {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
  }

  .div-solution-bizzone-shop {
    padding: 40px 12px 0 12px !important;
  }

  .div-solution-bizzone-shop {
    box-shadow: none;
    background: transparent;

    div {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  .img-mobile-solution-bizzone-shop {
    display: flex;
    justify-content: center;
    animation: my-move-solution-bizzone-shop 0.4s;
  }

  // section business integration
  .back-ground-business-bizzone-shop {
    padding: 40px 0;
  }

  .link-business-intergration {
    span {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.02em;
      color: #76809b;
    }
  }

  .div-business-integration-bizzone-shop {
    min-height: 300px;
    width: 100%;

    .link-business-intergration {
      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 133%;
        letter-spacing: 0.02em;
        color: #2391fd;
      }
    }

    .description-business-intergration {
      margin-bottom: 20px;
    }

    :global(.accordion-item) {
      position: relative;
      padding: 20px 0;
    }

    :global(.accordion-item::after) {
      position: absolute;
      left: -200px;
      bottom: 0;
      content: "";
      height: 1px;
      width: 1000px;
      background-color: #76809b;
    }

    :global(.accordion-button::after) {
      background-image: url("/images/svg/bizzone-shop/icon-minus-circle.svg") !important;
      background-size: cover;
      width: 26.67px;
      height: 26.67px;
    }

    :global(.accordion-button:not(.collapsed)::after) {
      transform: rotate(-360deg) !important;
    }

    :global(.collapsed.accordion-button::after) {
      background-image: url("/images/svg/bizzone-shop/icon-plus-circle.svg") !important;
      background-size: cover;
      width: 26.67px;
      height: 26.67px;
    }

    :global(.accordion) {
      max-width: 100%;
    }

    :global(.accordion-item:last-of-type) {
      border-radius: 0;
    }

    :global(.accordion-item) {
      border: none;
    }

    :global(.accordion-button:focus) {
      box-shadow: unset;
    }

    :global(.accordion-button) {
      padding: 16px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 133%;
      letter-spacing: 0.02em;
      color: #76809b;
    }

    :global(.accordion-button:not(.collapsed)) {
      width: 100%;
      height: auto;
      background: #ffffff;
      box-shadow: none;
      color: #76809b;
    }

    :global(.accordion-collapse) {
      font-size: 14px;
      background: rgb(255, 255, 255);
    }

    :global(.accordion-body) {
      padding: 20px 0;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #59637e;
    }

    .img-retail-1-bizzone-shop {
      border-radius: 20px 0 0 0;
    }

    .img-retail-2-bizzone-shop {
      border-radius: 0 20px 0 0;
    }

    .img-retail-3-bizzone-shop {
      border-radius: 0 0 20px 20px;
    }
  }

  // section partnership
  .title-partnership-bizzone-shop {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
  }

  .row-logo-partnership-bizzone-shop {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .row-content-logo-partnership-bizzone-shop {
    width: 1000px;
    height: auto;

    div {
      padding-right: 30px;
      width: calc(1180px / 6 - 40px);
    }
  }
}

@media screen and (max-width: 425px) {
  // Row contact us
  .col-contact-left {
    height: 500px;
  }

  .title-contact-bizzone-shop {
    padding-left: 5px;
    padding-right: 5px;
  }
}
