.bg-top-other-field-page-bizzone-shop {
  background-image: url("/images/bizzone-shop/img-top-other-field-page-bizzone-shop.png"),
    linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
}

.bg-business-item-other-field-page-bizzone-shop {
  background: url("/images/bizzone-shop/img-business-item-left-other-field-page.png"),
    url("/images/bizzone-shop/img-business-item-right-other-field-page.png"),
    linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
  position: relative;
  min-height: 600px;
  padding-bottom: 80px;
  background-position: left top, right top, right;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1400px) {
  .bg-top-other-field-page-bizzone-shop {
    min-height: 0;
    background-position: center;
  }
}

@media screen and (max-width: 1280px) {
  .bg-business-item-other-field-page-bizzone-shop {
    background: url("/images/bizzone-shop/img-business-item-small-other-field-page.png"),
      linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
    background-position: left bottom, left;
    background-repeat: no-repeat;
    background-size: 100% auto, contain;
  }
}

@media screen and (max-width: 767px) {
  .bg-top-other-field-page-bizzone-shop {
    background-image: linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
  }
}
