.back-ground-pricing-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/bg-pricing-bizzone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.bg-top-pricing-bizzone-shop {
  margin-top: 82px;
  padding-top: 200px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/bg-top-pricing-bizzone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 745px;
}
.title-top-pricing-bizzone-shop {
  margin-bottom: 16px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
}
.sub-title-top-pricing-bizzone-shop {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
}
.div-under-pricing-page {
  max-width: 80px !important;
  height: 4px;
  margin: auto;
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
}
.title-pricing-bizzone-shop {
  margin-bottom: 16px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  text-align: center;
}
.div-wrapper-pricing-bizzone-shop {
  padding: 40px !important;
  background: #ffffff;
  border: 1.5px solid #b8c3e1;
  box-shadow: 0px 4px 12px rgba(7, 67, 136, 0.1);
  border-radius: 20px;
}
.title-pricing-bizzone-shop-2 {
  margin-bottom: 12px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #59637e;
}
.sub-title-pricing-bizzone-shop-1 {
  margin-bottom: 4px !important;
  font-size: 22px;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #0979fd;
  }
}
.sub-title-pricing-bizzone-shop-2 {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #59637e;
}
.div-under-pricing-page-2 {
  background: #8e9abb;
  height: 1px;
}
.div-wrapper-benefis-pricing {
  margin-top: 24px;
  margin-bottom: 24px;
  p {
    margin-bottom: 28px;
    span {
      margin-left: 13px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #59637e;
    }
  }
}
.btn-choose-package {
  width: 100%;
  padding: 12px;
  background: unset;
  border-radius: 8px;
  border: 1.5px solid #0979fd;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0979fd;
  }
}
.div-wrapper-row-pricing {
  margin-bottom: 160px;
}
.div-wrapper-pricing-bizzone-shop {
  &:hover {
    border: 1.5px solid #0979fd;
    button {
      background-color: #0979fd;
      span {
        color: #ffffff;
      }
    }
  }
}
.swiper-pagination-bullet-active-main {
  display: none;
}
.swiper-pricing-page-bizzone-shop {
  padding-bottom: 50px !important;

  :global(.swiper-pagination-bullet) {
    background-color: #0979fd;
    display: inline-block;
  }

  :global(.swiper-pagination-bullet-active) {
    background: linear-gradient(180deg, #0ba1da 0%, #1db3e2 100%) !important;
    width: 24px;
    border-radius: 9px !important;
  }
}
.detail-question-pricing-bizzone {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212633;
}
.bg-question-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/gb-question-pricing-bizzone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.link-more-advice {
  text-align: center;
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    color: #212633;
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 133%;
    color: #0979fd;
  }
}
.question-accordion-pricing {
  min-height: 300px;
  :global(.accordion-item) {
    margin-bottom: 20px;
    box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14) !important;
    border-radius: 8px !important;
    border: none;
  }

  :global(.accordion-button::after) {
    background-image: url("/images/svg/icon-up-pricing-bizzone-shop.svg") !important;
    background-size: cover;
    width: 36px;
    height: 36px;
  }
  :global(.accordion-button:not(.collapsed)::after) {
    transform: rotate(-360deg) !important;
  }
  :global(.collapsed.accordion-button::after) {
    background-image: url("/images/svg/icon-down-pricing-bizzone-shop.svg") !important;
    background-size: cover;
    width: 36px;
    height: 36px;
  }

  :global(.accordion) {
    max-width: 100%;
  }

  :global(.accordion-item:first-of-type) {
    border-radius: 8px !important;
  }

  :global(.accordion-button:focus) {
    box-shadow: unset;
  }

  :global(.accordion-button) {
    padding: 16px 24px;
    background: #ffffff !important;
    border-radius: 8px !important;
    color: #212633 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  :global(.collapsed.accordion-button) {
    padding: 16px 24px;
    background: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #212633;
  }

  :global(.accordion-button:not(.collapsed)) {
    width: 100%;
    height: auto;
    background: #ffffff;
    box-shadow: none;
  }

  :global(.accordion-collapse) {
    font-size: 14px;
    background: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  :global(.accordion-body) {
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #59637e;
  }
}

.div-modal-pricing-page-bizzone-shop {
  :global(.modal-content) {
    position: relative;
    box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14);
    border-radius: 20px;
    margin: 20px;

    .btn-close-modal {
      position: absolute;
      right: -20px;
      top: -16px;
      height: 56px;
      width: 56px;
      border-radius: 100%;
      border: none;
      box-shadow: 0px 4px 8px rgba(12, 58, 222, 0.1);
      background: #ffffff;
    }
  }

  :global(.modal-body) {
    padding: 0;
    border-radius: 0;
  }

  .btn-loading {
    opacity: 0.6;
  }
}

@media screen and (max-width: 425px) {
  .bg-top-pricing-bizzone-shop {
    padding-top: 450px;
    padding-bottom: 80px;
    background-image: url("/images/bizzone-shop/bg-top-mobile-pricing-page-bizzone-shop.png");
    min-height: 934px;
  }

  .div-modal-pricing-page-bizzone-shop {
    .btn-bizzone-shop-2 {
      width: 100%;
    }

    .col-contact-left {
      height: 0;
    }
  }

  .bg-question-bizzone-shop {
    .title-pricing-bizzone-shop {
      font-weight: 700;
      font-size: 28px;
      line-height: 139%;
    }

    .detail-question-pricing-bizzone {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .question-accordion-pricing {
    :global(.accordion-button),
    :global(.collapsed.accordion-button) {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }

    :global(.accordion-body) {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #59637e;
    }
  }
}
