.bg-top-retail-bizzone-shop {
  position: relative;
  margin-top: 82px;
  background-image: url("/images/bizzone-shop/img-top-retail-bizzone-shop.png"),
    linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 670px;

  :global(.btn-bizzone-shop-1) {
    width: 172px;
  }

  :global(.btn-bizzone-shop-2) {
    width: 172px;
  }
}

.img-top-retail-bizzone-shop {
  display: none;
}

.title-top-retail-page-bizzone-shop {
  margin-bottom: 16px !important;
  margin-top: 191px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #212633;
}

.sub-title-top-retail-page-bizzone-shop {
  margin-bottom: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #212633;
}

// POS good feature
.title-good-feature-bizzone-shop {
  margin-top: 80px;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  text-align: center;
  color: #212633;
}

.pos-good-feature-bizzone-shop-item {
  position: relative;
  padding: 32px !important;
  border-right: 1px solid #d6dff6;
}

.pos-good-feature-bizzone-shop-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d6dff6;
}

.pos-good-feature-bizzone-shop-item:nth-child(1)::after {
  width: calc(100% - 32px);
}

.pos-good-feature-bizzone-shop-item:nth-child(3)::after {
  left: 0;
  width: calc(100% - 32px);
}

.pos-good-feature-bizzone-shop-item:nth-child(3n) {
  border-right: none;
}

.pos-good-feature-bizzone-shop-item:nth-child(n + 4)::after {
  height: 0;
}

.title-pos-good-feature-bizzone-shop-item {
  margin: 20px 0 !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  color: #212633;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.sub-title-pos-good-feature-bizzone-shop-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  color: #454647;

  flex: none;
  order: 0;
  flex-grow: 1;
}

// Business Item
.wrapper-business-item-retail-page-bizzone-shop {
  position: relative;
  padding: 150px 20px 0 !important;
  margin-bottom: 100px;
}

.title-business-item-retail-bizzone-shop {
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  text-align: center;
  color: #212633;
}

.bg-business-item-retail-bizzone-shop {
  position: relative;
  min-height: 600px;
  padding-bottom: 80px;
  background: url("/images/bizzone-shop/img-business-item-left-retail-page.png"),
    url("/images/bizzone-shop/img-business-item-right-retail-page.png"),
    linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
  background-position: left top, right top, right;
  background-repeat: no-repeat;
  background-size: contain;
}

.sub-title-business-item-retail-page {
  margin: 50px auto 0 !important;
  max-width: 887px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #2c2d2e;
}

// pos solution
.wrapper-pos-solution-retail-page-bizzone-shop {
  padding: 80px 0;
}

.title-pos-solution-retail-page-bizzone-shop {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #212633;
}

.sub-title-pos-solution-retail-page-bizzone-shop {
  margin-top: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #2c2d2e;
}

// bottom retail page
.bg-bottom-retail-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/bg-bottom-retail-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;

  :global(.btn-bizzone-shop-1) {
    width: 182px;
    padding: 12px 8px;
    border-color: #ffffff;

    span {
      color: #ffffff;
    }
  }

  :global(.btn-bizzone-shop-2) {
    width: 182px;
    margin-left: 16px;
    padding: 12px 8px;
  }
}

.title-bottom-retail-page-bizzone-shop {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.sub-title-bottom-retail-page-bizzone-shop {
  padding: 12px 0 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

// question according to retail page
.title-question-retail-page-bizzone-shop {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #212633;
  text-align: center;
}

.sub-title-question-retail-page-bizzone-shop {
  margin-bottom: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #212633;
  text-align: center;
}

.bg-question-bizzone-shop {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("/images/bizzone-shop/gb-question-pricing-bizzone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link-more-advice {
  text-align: center;
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    color: #212633;
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 133%;
    color: #0979fd;
  }
}

.question-accordion-pricing {
  min-height: 300px;
  :global(.accordion-item) {
    margin-bottom: 20px;
    box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14) !important;
    border-radius: 8px !important;
    border: none;
  }

  :global(.accordion-button::after) {
    background-image: url("/images/svg/icon-up-pricing-bizzone-shop.svg") !important;
    background-size: cover;
    width: 36px;
    height: 36px;
  }
  :global(.accordion-button:not(.collapsed)::after) {
    transform: rotate(-360deg) !important;
  }
  :global(.collapsed.accordion-button::after) {
    background-image: url("/images/svg/icon-down-pricing-bizzone-shop.svg") !important;
    background-size: cover;
    width: 36px;
    height: 36px;
  }

  :global(.accordion) {
    max-width: 100%;
  }

  :global(.accordion-item:first-of-type) {
    border-radius: 8px !important;
  }

  :global(.accordion-button:focus) {
    box-shadow: unset;
  }

  :global(.accordion-button) {
    padding: 16px 24px;
    background: #ffffff !important;
    border-radius: 8px !important;
    color: #212633 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  :global(.collapsed.accordion-button) {
    padding: 16px 24px;
    background: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #212633;
  }

  :global(.accordion-button:not(.collapsed)) {
    width: 100%;
    height: auto;
    background: #ffffff;
    box-shadow: none;
  }

  :global(.accordion-collapse) {
    font-size: 14px;
    background: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  :global(.accordion-body) {
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #59637e;
  }
}

@media screen and (max-width: 1400px) {
  .bg-top-retail-bizzone-shop {
    min-height: 0;
    background-position: center;
  }
}

@media screen and (max-width: 1280px) {
  .img-top-retail-bizzone-shop {
    height: 0;
  }

  .bg-business-item-retail-bizzone-shop {
    background: url("/images/bizzone-shop/img-business-item-small-retail-page-bizzone-shop.png"),
      linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
    background-position: left bottom, left;
    background-repeat: no-repeat;
    background-size: 100% auto, contain;
  }
}

@media screen and (max-width: 1200px) {
  .title-top-retail-page-bizzone-shop {
    font-size: 36px;
  }

  .title-good-feature-bizzone-shop {
    font-size: 36px;
  }

  .title-business-item-retail-bizzone-shop {
    font-size: 36px;
  }

  .title-pos-solution-retail-page-bizzone-shop {
    font-size: 36px;
  }

  .title-bottom-retail-page-bizzone-shop {
    font-size: 36px;
  }

  .title-question-retail-page-bizzone-shop {
    font-size: 36px;
  }
}

@media screen and (max-width: 992px) {
  // pos solution
  .title-pos-solution-retail-page-bizzone-shop {
    font-size: 28px;
    text-align: center;
  }

  .sub-title-pos-solution-retail-page-bizzone-shop {
    text-align: center;
  }

  .wrapper-pos-solution-retail-page-bizzone-shop button {
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  // top retail page
  .bg-top-retail-bizzone-shop {
    background-image: linear-gradient(180deg, rgba(243, 249, 255, 0) 0%, #f3f9ff 74.36%);
  }

  .title-top-retail-page-bizzone-shop {
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
  }

  .sub-title-top-retail-page-bizzone-shop {
    font-size: 16px;
    text-align: center;
  }

  .img-top-retail-bizzone-shop {
    display: block;
    height: 100%;
    width: 100%;
  }

  // pos good feature
  .title-good-feature-bizzone-shop {
    font-size: 28px;
    text-align: center;
  }

  .pos-good-feature-bizzone-shop-item::before {
    position: absolute;
    content: "";
    top: 0;
    right: 32px;
    width: calc(100% - 64px);
    height: 1px;
    background-color: #d6dff6;
  }

  .pos-good-feature-bizzone-shop-item {
    border-right: none;
  }

  .pos-good-feature-bizzone-shop-item::after {
    height: 0;
  }

  .div-icon-pos-good-feature-bizzone-shop-item {
    display: flex;
    justify-content: center;
  }

  .title-pos-good-feature-bizzone-shop-item {
    text-align: center;
  }

  .sub-title-pos-good-feature-bizzone-shop-item {
    text-align: center;
  }

  // business item
  .title-business-item-retail-bizzone-shop {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px !important;
  }

  .wrapper-business-item-retail-page-bizzone-shop button {
    margin: 16px 0;
  }

  // bottom retail page
  .title-bottom-retail-page-bizzone-shop {
    font-size: 28px;
    text-align: center;
  }

  .sub-title-bottom-retail-page-bizzone-shop {
    font-size: 20px;
    text-align: center;
  }

  // question accroding retail page
  .title-question-retail-page-bizzone-shop {
    font-size: 28px;
  }

  .sub-title-question-retail-page-bizzone-shop {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .bg-question-bizzone-shop {
    .title-pricing-bizzone-shop {
      font-weight: 700;
      font-size: 28px;
      line-height: 139%;
    }

    .detail-question-pricing-bizzone {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .question-accordion-pricing {
    :global(.accordion-button),
    :global(.collapsed.accordion-button) {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }

    :global(.accordion-body) {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #59637e;
    }
  }
}

@media screen and (max-width: 374px) {
  .bg-top-retail-bizzone-shop {
    :global(.btn-bizzone-shop-1),
    :global(.btn-bizzone-shop-2),
    :global(.btn-bizzone-shop-3),
    :global(.btn-bizzone-shop-4) {
      padding: 12px 8px;
    }
  }
}
