.col-mobile-btn {
  display: none;
}

.icon-overplay-logo {
  padding-left: 20px;
  padding-top: 20px;
}

.text-overplay-logo {
  position: absolute;
  left: 20px;
  bottom: 20px;
  max-width: 134px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  border-left: 2px solid #ffffff;
  padding-left: 6px;
}

.back-ground-partnership-component {
  background-color: #ffffff;
  padding: 0 70px;
  box-shadow: 0px 2px 20px 20px rgba(112, 144, 176, 0.05);
  border-radius: 8px;
  .swiper {
    padding: 10px;
  }
}

.overplay-logo-partnership {
  background-image: url('/assets/image/svg/backgroud-hover-logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  animation: my-move 0.2s;
  height: 100%;
}

@keyframes my-move {
  from {
    opacity: 0;
    // transform: translateX(-50px);
  }

  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

.a-link-logo:hover .overplay-logo-partnership {
  display: block;
}

.background-media {
  position: absolute;
  border-radius: 8px;
  max-width: 220.5px;
  height: 100%;
}

.div-logo-partnership {
  background: #ffffff;
  box-shadow: 0px -3px 14px -4px rgba(112, 144, 176, 0.2);
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 140px;
}

.title-partnership-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
}

.title-partnership-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #59637e;
  max-width: 674px !important;
  margin: auto;
  margin-bottom: 18px;
}

.back-ground-partnership {
  //   min-height: 455px;

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-slide-partnership {
  //   max-width: 240px;
}

// .col-arrow-partnership {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.row-slide-partnership {
  margin-top: 40px;
}
.btn-arrow-partnership-mobile {
  margin-right: 24px;
}
.row-btn-partnership {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.partnership-component {
  box-shadow: 0px 2px 20px 20px rgb(112 144 176 / 5%);
  border-radius: 8px;
}

.title-partnership-custom {
  min-width: 784px;
}
@media only screen and (max-width: 992px) {
  .row-btn-partnership {
    .btn-arrow-partnership {
      display: none;
    }
    .title-partnership-custom {
      min-width: unset;
    }
  }
  .partnership-component {
    box-shadow: unset;
    border-radius: 0px;
  }
  .col-mobile-btn {
    display: block;
    text-align: center;
  }
  .col-arrow-left-partnership,
  .col-arrow-right-partnership {
    display: none !important;
  }
  .digital-banking {
    margin-top: 40px !important;
  }
  .title-partnership-1 {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 8px;
  }

  .padding-left-right-partnership {
    padding-left: 32px;
    padding-right: 32px;
  }
  .back-ground-partnership-component {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: unset;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 550px) {
  .col-mobile-btn {
    text-align: center;
  }
  .title-partnership-2 {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 131.25%;
    text-align: center;
  }
  .padding-left-right-partnership {
    //padding-left: 32px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-slide-partnership {
    .col-slide-partnership {
      padding-left: 32px !important;
    }
  }
  .col-mobile-btn {
    margin-top: 24px;
  }
  .row-btn-partnership {
    display: block;
    text-align: center;
  }
  .row-slide-partnership {
    margin-top: 24px;
  }
  .back-ground-partnership-component {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 48px;
  }
  // .col-arrow-left-partnership {
  //   padding-right: 32px;
  // }
  // .col-arrow-right-partnership {
  //   padding-left: 0px;
  //   margin-right: -10px;
  // }
}
