// COLORS
$primary-color: #02aab0;
$secondary-color: #fe8258;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

$blue-text:#104B82;

// FONT SIZE
$biggest-font-size:4.5rem;
$big-font-size: 4rem;
$large-font-size: 3.5rem;
$mid-font-size: 2.5rem;
$default-font-size: 1.6rem;

//font-weight
$bold-text:700;
$light-text:500
