.section-menu-top {
  .change-language-box {
    margin-left: 20px;
    display: flex;
    width: 52px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .language {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 131.25%;
    }
  }
  display: none;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  .menu-top-container {
    position: relative;
    max-width: 1648px;
    padding-left: 24px;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    .icon-back {
      position: absolute;
      right: calc(100% - 16px);
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    .logo-box {
      min-width: 206px;
      cursor: pointer;
    }
    .list-item-menu {
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 10px;
      gap: 40px;
      .item-menu {
        margin: 0px;
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #2c2d2e;
        display: flex;
        align-items: center;
        position: relative;
        height: 36px;
        transition: 0.25s;
        cursor: pointer;
        .drop-box {
          border-radius: 0px 0px 4px 4px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          overflow: hidden;
          position: absolute;
          left: -20px;
          width: 200px;
          top: 36px;
          height: 0px;
          opacity: 0;
          padding-top: 22px;
          .item-select {
            padding-left: 16px;
            height: 48px;
            cursor: pointer;
            background-color: white;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e1e3e6;
            font-family: 'SVN-Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #2c2d2e;
            &:hover {
              font-weight: 500;
              color: #0979fd;
            }
          }
          .item-select.active {
            font-weight: 600;
            color: #0979fd;
          }
          .item-select:last-child {
            border-bottom: none;
          }
        }
        .item-select {
          height: 48px;
          cursor: pointer;
          background-color: white;
          color: #454647;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &:hover {
          font-weight: 500;
          color: #0979fd;
          .drop-box {
            height: fit-content;
            opacity: 1;
            transition: 0.25s;
          }
        }
      }
      .active {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #0979fd;
        &:hover {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #0979fd;
        }
      }

      .select-menu-top {
        // width: 200px;
        .main-item-select {
          margin-left: auto;
          .non-active {
            font-weight: 500;
          }
        }
        p {
          font-family: 'SVN-Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          color: #2c2d2e;
        }
      }
    }
    .support-box {
      margin-left: 10px;
      display: flex;
      align-items: center;
      // width: 300px;
      // justify-content: space-between;
      // .search{
      //     margin-left: 28px;
      // }
      .btn-advise {
        border-radius: 68px;
        width: 229px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: 2px solid transparent;
        background: linear-gradient(to right, white, white),
          linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        .content {
          font-family: 'SVN-Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          display: inline;
          align-items: center;
          background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      img {
        margin-left: 10px;
      }
    }
  }
}

.section-menu-top-mobile {
  .logo {
    position: static;
  }
  .group-btn {
    display: flex;
    align-items: center;
  }
  .change-language-box {
    display: flex;
    width: 52px;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    cursor: pointer;
    .language {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 131.25%;
    }
  }
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 20;
  .menu-top-container {
    width: 100%;
    .title-box {
      padding: 0 20px;
      width: 100%;
      height: 64px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list-item-menu {
      // margin-top:10px;
      width: 100%;
      height: 0;
      background-color: white;
      transition: 0.25s;
      overflow: hidden;
      opacity: 0;
      padding: 0 16px;
      .item-menu {
        cursor: pointer;
        min-height: 52px;
        padding: 14px 16px;
        gap: 10px;
        width: 100%;
        border-bottom: 2px solid #e1e3e6;
        font-family: 'SVN Gilroy';
        font-weight: 500;
        font-size: 16px;
        color: #2c2d2e;
        // margin:0px;
        .main-item-select {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .drop-box {
          height: 0px;
          overflow: hidden;
          transition: 0.25s;
          // margin-top: 10px;
          .item-select {
            font-family: 'SVN Gilroy';
            font-weight: 500;
            font-size: 16px;
            padding: 0 16px;
            height: 40px;
            display: flex;
            color: #454647;
            align-items: center;
            cursor: pointer;
          }
          .item-select:first-child {
            margin-top: 10px;
          }
        }
        &:hover {
          .drop-box {
            height: 100%;
            transition: 0.25s;
          }
        }
      }
      .active {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #0979fd;
      }
      .item-menu:last-child {
        // border-bottom: none;
      }
    }
    .is-mobile {
      height: 100vh;
      opacity: 1;
      margin-top: 10px;
    }
  }
}
@media (min-width: 1250px) {
  .section-menu-top {
    display: block;
  }
  .section-menu-top-mobile {
    display: none;
  }

  #smart_lighting_page {
    .section-smart-lighting-header {
      margin-top: 90px;
      height: calc(100vh - 90px);
    }
  }
  #smart_parking_page {
    .section-smart-parking-v3-header {
      margin-top: 90px;
      .smart-parking-v3-header {
        height: calc(100vh - 90px);
      }
    }
  }
  .home-page-v3 {
    margin-top: 90px;
    // .swiper{
    //   .swiper-wrapper{
    //     .swiper-slide {
    //       height: calc(100vh - 90px);
    //     }
    //   }
    // }
  }
  #about_us_page {
    .section-about-us-header {
      margin-top: 90px;
    }
  }
  #business-step1-v3 {
    .section-business-header-v3 {
      margin-top: 90px;
    }
  }
  #business-step2-v3 {
    .section-solution-box {
      margin-top: 90px;
    }
  }
  #business-step3-v3 {
    .section-business-product-list {
      margin-top: 90px;
    }
  }
  #personal-step2-v3 {
    .section-personal-product-list {
      margin-top: 90px;
    }
  }
}
@media (max-width: 1250px) {
  #smart_home_page {
    .section-product-slider {
      margin-top: 64px;
    }
  }
  #business-step1-v3 {
    .section-business-header-v3 {
      margin-top: 64px;
    }
  }
  #business-step2-v3 {
    .section-business-header-v3 {
      margin-top: 64px;
    }
  }
  #business-step3-v3 {
    .section-business-product-list {
      margin-top: 64px;
    }
  }
  #personal-step2-v3 {
    .section-personal-product-list {
      margin-top: 64px;
    }
  }
  #smart_lighting_page {
    .section-smart-lighting-header {
      margin-top: 64px;
      height: calc(100vh - 64px);
    }
  }
  #smart_parking_page {
    .section-smart-parking-v3-header {
      margin-top: 64px;
      .smart-parking-v3-header {
        height: calc(100vh - 64px);
      }
    }
  }
  .home-page-v3 {
    margin-top: 64px;
    // .swiper{
    //   .swiper-wrapper{
    //     .swiper-slide {
    //       height: calc(100vh - 64px);
    //     }
    //   }
    // }
  }
  #about_us_page .section-about-us-header {
    margin-top: 64px;
  }
}
@media (max-width: 1420px) {
  .section-menu-top {
    .list-item-menu {
      gap: 10px !important;
    }
  }
}

.solution-button {
  .button-text {
    white-space: nowrap;
  }
}
/*
* ======================Begin Button Group CSS======================
*/
.btn-group {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  .advise-now-btn,
  .learn-more-btn {
    height: 40px;
    // padding: 8px 34px;
    width: clamp(150px, 39.4vw, 184px);
  }

  .advise-now-btn {
    margin-right: 34px;
    background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
    border-radius: 68px;
    border: none;
    &:hover {
      box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .learn-more-btn {
    border-radius: 68px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    background: linear-gradient(to right, white, white),
      linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    &:hover {
      background: linear-gradient(to right, #ddefff, #ddefff),
        linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
    }
    span {
      margin: 0 auto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// =======Begin Responsive=======
@media only screen and (max-width: 992px) {
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .advise-now-btn {
      margin-right: 2px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .btn-group {
    display: block !important;
  }

  .advise-now-btn,
  .learn-more-btn {
    width: 100% !important;
    margin-top: 10px;
  }
}
// =======End Responsive=======
/*
* ======================End Button Group CSS======================
*/
