//section product

.section-product-v3 {
  padding: 120px 0;
  background: #f3f9ff;
}
.container-cover {
  width: 1180px;
}
.section-product-v3 {
  padding-left: 20px;
  padding-right: 20px;
  .product-container {
    max-width: 1180px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .title-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      .sub-title {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.22em;
        color: #0979fd;
      }
      .title {
        margin-top: 16px;
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #2c2d2e;
      }
      .item-border {
        margin-top: 16px;
        width: 88px;
        height: 4px;
        background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
        border-radius: 200px;
      }
    }
    .content {
      margin-top: 40px;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: fit-content;
      overflow: hidden;
      :global(.line-separate) {
        height: 600px;
        border: 1px solid #e1e3e6;
      }
      .content-left {
        min-width: 320px;
        width: 320px;
        position: relative;
        // width: 100%;
        &:after {
          content: '';
          height: 600px;
          width: 1px;
          border: 1px solid #e1e3e6;
          position: absolute;
          right: 0px;
          top: 20px;
        }
        .item-box {
          display: flex;
          flex-direction: column;
          padding: 8px 0px;
          width: 100%;
          height: 52px;
          cursor: pointer;
          .label {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #aaaeb3;
            white-space: nowrap;
          }
        }
        .active {
          .label {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 32px;
            color: #2c2d2e;
          }
          .item-border {
            width: 40px;
            height: 4px;
            background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
            border-radius: 10px;
          }
        }
      }
      .content-right {
        width: 820px;
        .spinner-box {
          width: 100%;
          height: 300px;
          display: flex;
          align-items: center;
          .spinner {
            margin: 0 auto;
          }
        }
        .item-product-box {
          .title-box {
            margin-bottom: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .title {
              font-family: 'SVN Gilroy';
              font-style: normal;
              font-weight: 700;
              font-size: 21px;
              text-align: center;
              color: #454647;
              margin: 0;
            }
            .navigation {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              width: 48px;
              height: 24px;
              img {
                cursor: pointer;
                // position: static;
                width: min-content;
                height: min-content;
                // margin: 0;
              }
            }
          }
          .slider-box {
            width: 820px;
            display: flex;
            height: 624px;
            overflow: hidden;
            flex-wrap: wrap;
            gap: 20px;
            .item-box {
              border-radius: 8px;
              overflow: hidden;
              height: fit-content;
              .img-box {
                width: 260px;
                height: 160px;
                background: #ffffff;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  transition: 0.5s;
                }
                &:hover {
                  img {
                    transform: scale(1.09, 1.09);
                  }
                }
              }
              .name-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 8px 16px;
                width: 260px;
                height: 64px;
                background: #44a9fe;
                .name {
                  font-family: 'SVN Gilroy';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 24px;
                  text-align: center;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-product-v3-mobile {
  padding: 40px 0;
  padding-left: 20px;
  background: #f3f9ff;
  .product-container {
    max-width: 1180px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .title-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      .sub-title {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.22em;
        color: #0979fd;
      }
      .title {
        margin-top: 16px;
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #2c2d2e;
      }
      .item-border {
        margin-top: 16px;
        width: 88px;
        height: 4px;
        background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
        border-radius: 200px;
      }
    }
    .content {
      margin-top: 40px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      .content-left {
        width: 100%;
        margin: 0 auto;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          display: none;
        }
        .top-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 2000px;
          .item-box {
            width: fit-content;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            cursor: pointer;
            height: 28px;
            .label {
              height: 24px;
              font-family: 'SVN Gilroy';
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #76787a;
            }
            .item-border {
              width: 0px;
              height: 0px;
              transition: 0.3s;
            }
          }
          .active {
            .label {
              font-weight: 700;
              color: #2c2d2e;
            }
            .item-border {
              background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
              border-radius: 10px;
              width: 100%;
              height: 4px;
            }
          }
        }
      }
      .content-right {
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        .title-box {
          margin-bottom: 8px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .title {
            font-family: 'SVN Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            text-align: center;
            color: #454647;
            margin: 0;
          }
          .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 48px;
            height: 24px;
            img {
              cursor: pointer;
              // position: static;
              width: min-content;
              height: min-content;
              // margin: 0;
            }
          }
        }
        .list-product {
          .item-box {
            .img-box {
              width: 260px;
              height: 200px;
              overflow: hidden;
              display: flex;
              align-items: center;
              img {
                margin: 0 auto;
                transition: 0.5s;
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }
            margin-bottom: 16px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            background-color: white;
            .description {
              width: 100%;
              height: 64px;
              background: #44a9fe;
              font-family: 'SVN Gilroy';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              color: #ffffff;
              justify-content: center;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

//section hot product
.section-popular-product-v3 {
  padding: clamp(40px, 10.67vw, 120px) 0px;
  .btn-group {
    gap: 10px;
    display: flex !important;
    max-width: 375px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    button {
      // width: 100%;
      padding: 0;
      white-space: nowrap;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
.popular-product-container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  .title-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    .sub-title {
      font-family: 'SVN Gilroy';
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      color: #0979fd;
      letter-spacing: 0.22em;
    }
    .title {
      font-family: 'SVN Gilroy';
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      color: #2c2d2e;
      margin-top: 16px;
    }
    .item-border {
      margin-top: 16px;
      width: 88px;
      height: 4px;
      left: 546px;
      top: 101px;
      background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
      border-radius: 200px;
    }
  }
  .content-container {
    .swiper-container-v3 {
      margin-bottom: 40px;
      overflow: hidden;
      .description-box {
        margin-top: 30px;
        position: relative;
        .btn-group {
          position: absolute;
          opacity: 0;
          bottom: calc(100% + 20px);
          left: 2px;
          transition: 0.2s;
          z-index: 3;
        }
        .sub-title {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.22em;
        }
        .title {
          font-family: 'SVN Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 32px;
          display: flex;
          align-items: center;
          color: #0979fd;
        }
      }
      .img-box {
        width: 380px;
        height: 380px;
        position: relative;
        background: #ffffff;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .box-shadow {
          position: absolute;
          width: 100%;
          box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1);
          height: 100%;
          z-index: 2;
        }
        img {
          margin: 0 auto;
          transition: 0.5s;
          z-index: 1;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .item-box:hover {
        .btn-group {
          opacity: 1;
          z-index: 2;
        }
        img {
          transform: scale(1.3, 1.3);
          transition: 0.5s;
        }
      }
    }
    .nav-swiper-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 167px;
      height: 32px;
      margin: 0 auto;
      img {
        height: 19.86px;
        cursor: pointer;
      }
      .page-current {
        font-family: 'SVN Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #76787a;
      }
    }
  }
}
@media (max-width: 1200px) {
  .section-popular-product-v3 {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .section-popular-product-v3 {
    padding-bottom: 40px;
    .nav-swiper-box {
      display: none !important;
    }
  }
  .section-popular-product-v3 {
    padding-left: 20px;
  }

  .title-box {
    .sub-title {
      font-size: 14px !important;
    }
    .title {
      font-size: 28px !important;
    }
  }
}
/*
* ======================Begin Button Group CSS======================
*/
.btn-group {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  .advise-now-btn,
  .learn-more-btn {
    height: 40px;
    // padding: 8px 34px;
    width: clamp(150px, 39.4vw, 184px);
  }

  .advise-now-btn {
    margin-right: 34px;
    background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
    border-radius: 68px;
    border: none;
    &:hover {
      box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .learn-more-btn {
    border-radius: 68px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    background: linear-gradient(to right, white, white),
      linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    &:hover {
      background: linear-gradient(to right, #ddefff, #ddefff),
        linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
    }
    span {
      margin: 0 auto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// =======Begin Responsive=======
@media only screen and (max-width: 992px) {
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .advise-now-btn {
      margin-right: 2px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .btn-group {
    display: block !important;
  }

  .advise-now-btn,
  .learn-more-btn {
    width: 100% !important;
    margin-top: 10px;
  }
}
// =======End Responsive=======
/*
* ======================End Button Group CSS======================
*/
