.myCustomStatusTag {
  height: 32px;
  padding: 5px 12px;
  border-radius: 4px;
  .statusContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .statusTitle {
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 22px;
  }
}

.defaultStatus {
  color: #434343;
  background: #f5f5f5;
}

.activeStatus {
  color: #237804;
  background: #d9f7be;
  &:hover {
    color: #fff;
    background: #389e0d;
  }
}

.inActiveStatus {
  color: #d48806;
  background: #fff1b8;
  &:hover {
    color: #fff;
    background: #faad14;
  }
}

.disableStatus {
  color: #a8071a;
  background: #ffccc7;
  &:hover {
    color: #a8071a;
    background: #ffccc7;
  }
}
