.custom-link-bizzone-shop {
  padding: 8px 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212633 !important;
  text-transform: uppercase;
}

.nav-bizzone-shop {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(77, 77, 77, 0.08);
  .menu-desktop {
    max-width: 1180px !important;
    width: 100%;

    :global(.offcanvas-body) {
      align-items: center;
    }
  }

  .logo-menu {
    max-width: 106px;
  }

  .custom-link-bizzone-shop {
    display: block;
    min-width: 90px;
    padding: 8px 24px !important;
    border-radius: 16px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    word-spacing: normal;
    -webkit-font-smoothing: antialiased !important;
  }

  .custom-link-bizzone-shop:global(.active),
  .custom-link-bizzone-shop:hover {
    color: #0979fd !important;
    font-weight: 600 !important;
    background: #f2f6ff;
    border-radius: 16px;
    border-bottom: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
  }

  .custom-link-bizzone-shop:not(:last-child) {
    margin-right: 12px;
  }

  .custom-navbar-toggle {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    box-shadow: none;
    :global(.navbar-toggler-icon) {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url("/images/svg/bizzone-shop/icon-toggle-navbar.svg");
    }
  }
}

.offcanvas-bizzone-shop {
  &:global(.offcanvas-body) {
    padding: 0 52px;
  }

  :global(.btn-close) {
    background-image: url("/images/svg/bizzone-shop/icon-toggle-close-navbar.svg");
    box-shadow: none;
  }

  .custom-link-bizzone-shop {
    margin-top: 10px;
    padding: 12.5px 16px;
    border-radius: 16px;
    font-size: 16px;
    border: none;
  }

  .btn-trial-bizzone-shop {
    margin-top: 10px;
    width: 100%;
  }
}

.custom-nav-link-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 0px !important;
  padding: 0px;
  -webkit-text-fill-color: unset;
  border-bottom-style: unset;
  border-bottom-width: unset;
  border-bottom-color: unset;
}

.btn-trial-bizzone-shop {
  background: #0979fd;
  border-radius: 8px;

  padding: 12px 24px;
  width: fit-content;
  border: none;
  outline: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  //   &:hover {
  //     span {
  //       background: #ffffff;
  //       color: #0c3399;
  //     }
  //   }

  //   &:hover {
  //     &:before {
  //       animation: pulsing 0.2s linear infinite;
  //     }
  //     &:after {
  //       animation: pulsing1 0.2s linear infinite;
  //     }
  //   }

  //   &:before,
  //   &:after {
  //     content: '';
  //     width: 100%;
  //     height: 100%;
  //     border: inherit;
  //     top: 0;
  //     left: 0;
  //     z-index: 0;
  //     background: #025fbb;
  //     border-radius: inherit;
  //     animation: pulsing 2.5s linear infinite;
  //     position: absolute;
  //   }
  //   &:after {
  //     animation: pulsing1 2.5s linear infinite;
  //   }
}

@media only screen and (max-width: 1180px) {
  .nav-bizzone-shop {
    .custom-link-bizzone-shop:not(:last-child) {
      margin-right: 0px;
    }

    .custom-link-bizzone-shop {
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .offcanvas-bizzone-shop {
    .custom-nav-link-btn {
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #eaf0fd;
    }

    .custom-link-bizzone-shop:global(.active),
    .custom-link-bizzone-shop:hover {
      color: #0979fd !important;
      font-weight: 600 !important;
      background: #f2f6ff;
      border-radius: 16px;
      border-bottom: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.8) scaleX(1.4);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.8) scaleX(1.4);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes pulsing1 {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.2) scaleX(1.15);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.2) scaleX(1.15);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}
