/*-------------------General-------------------*/
.max-width-1180 {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.sub-title-smart-building {
  margin-bottom: 14px !important;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.22em;
  color: #0979fd;
}

.title-smart-building {
  margin-bottom: 14px !important;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2c2d2e;
  text-transform: capitalize;
}

.div-under-smart-building {
  width: 80px;
  height: 4px;
  margin: auto;
  background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
  border-radius: 200px;
}

.div-wrapper-door {
  .title-smart-parking-building.mobile {
    display: none;
  }
  p {
    max-width: 300px;
  }
}

@media only screen and (max-width: 575px) {
  .sub-title-smart-building {
    font-weight: 700;
    font-size: 14px;
    line-height: 133%;
  }
  .title-smart-building {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 303px;
    margin: auto;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
}

/*-------------------Section Top Smart Building-------------------*/
.bg-top-smart-building {
  background-image: url("/images/smart-building/bg-top-building.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.non-display {
  display: none !important;
}

.row-main-top-building {
  margin-bottom: 12%;
  min-height: 36.458333333vw;
  margin-top: 64px;
}

.col-img-top-building {
  position: relative;
}

.img-top-building {
  position: absolute;
  bottom: -15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title-top-smart-building {
  margin-top: 16.09375vw;
  margin-bottom: 16px !important;
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 72px;
  letter-spacing: 1px;
  color: #ffffff;
}

.detail-top-smart-building {
  max-width: 510px;
  margin-bottom: 80px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media only screen and (max-width: 1700px) {
  .img-top-building {
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 767px) {
  .title-top-smart-building {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
  }
  .img-top-building {
    position: relative;
    max-width: 100% !important;
  }
  .detail-top-smart-building {
    margin-bottom: 12px !important;
    text-align: center;
    margin: auto;
  }
  .title-smart-parking-building {
    text-align: center;
  }
  .sub-title-smart-parking-building {
    text-align: center;
  }
  .row-main-top-building {
    margin-bottom: 25%;
    margin-top: 90px;
    div {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  .div-wrapper-door {
    .title-smart-parking-building.desktop {
      display: none;
    }
    .title-smart-parking-building.mobile {
      display: block;
    }
    p {
      max-width: 100%;
    }
  }
}

/*-------------------Section Smart Parking-------------------*/
.bg-smart-parking-building {
  margin-bottom: 60px;
}

.div-wrapper-smart-parking {
  padding: 80px 40px;
  background: #ffffff;
  border: 1px solid #6fc0fe;
  border-radius: 16px;
  height: 100%;
  &:hover {
    box-shadow: 0px 3px 20px 1px rgba(9, 121, 253, 0.2);
  }
}

.row-smart-parking-building {
  display: flex;
  align-items: center;
}

.title-smart-parking-building {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0979fd;
}

.sub-title-smart-parking-building {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #454647;
  text-transform: capitalize;
}

@media only screen and (max-width: 575px) {
  .div-wrapper-smart-parking {
    padding: 20px;
  }
  .title-smart-parking-building {
    text-align: center;
  }
  .sub-title-smart-parking-building {
    text-align: center;
  }
}

/*-------------------Section Smart Door Locks-------------------*/
.padding-left-right-smart-door {
  padding-left: 20px;
  padding-right: 20px;
}

.bg-smart-door-locks {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 820px;
}

.div-wrapper-img-smart-building {
  position: absolute;
  left: 0;
  width: 48%;
  img {
    object-fit: cover;
    object-position: right center;
    width: 100%;
    min-height: 480px;
    max-height: 530px;
  }
}

.col-main-smart-door {
  margin-top: 50px;
}

.title-smart-door-1 {
  margin-bottom: 32px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #0979fd;
}

.title-smart-door-2 {
  display: flex;
  margin-bottom: 16px !important;
  img {
    margin-right: 10px !important;
  }
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2c2d2e;
  }
}

.sub-title-smart-door {
  margin-bottom: 32px !important;
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454647;
}

@media only screen and (max-width: 1023px) {
  .div-wrapper-img-smart-building {
    img {
      min-height: unset;
    }
  }
}
@media only screen and (max-width: 991px) {
  .div-wrapper-img-smart-building {
    width: 100%;
    img {
      object-fit: unset;
      min-height: unset;
      max-height: unset;
    }
  }
}
@media only screen and (max-width: 767px) {
  .bg-smart-door-locks {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .padding-left-right-smart-door {
    padding-left: 0px;
    padding-right: 0px;
  }
  .title-smart-door-1 {
    margin-bottom: 24px !important;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
  }
  .col-main-smart-door {
    margin-top: 32px !important;
    padding-left: 32px;
    padding-right: 32px;
  }
  .sub-title-smart-door {
    margin-bottom: 16px !important;
  }
}

/*-------------------Section Technology-------------------*/
.bg-technology-smart-building {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title-technology-smart-building {
  margin-bottom: 32px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #454647;
}
.div-wrapper-icon-security {
  position: absolute;
  top: 0;
  left: 0;
}
.div-wrapper-technology-building {
  max-width: 480px;
  padding-top: 110px;
  margin-left: 80px;
}
.detail-partnership-building {
  margin-top: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454647;
}
@media only screen and (max-width: 575px) {
  .div-wrapper-technology-building {
    padding-top: 0px;
    margin-left: 0px;
    .img-logo-technologo-building {
      margin: auto;
    }
  }
  .div-wrapper-icon-security {
    display: none;
  }
  .title-technology-smart-building {
    margin-bottom: 24px !important;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #0979fd;
  }
  .bg-technology-smart-building {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .detail-partnership-building {
    margin-top: 32px;
  }
}

#smart-door-locks,
#smart-elevator,
#smart-turnstile,
#face-id-attendance {
  scroll-margin-top: 60px;
}

@media only screen and (max-width: 425px) {
  .div-wrapper-door {
    .title-smart-parking-building.desktop {
      display: block;
    }
    .title-smart-parking-building.mobile {
      display: none;
    }
  }
}
