a {
  text-decoration: none;
}
.title-category-news {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 12px;
}

.title-news-technology {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.019em;
  color: #ffffff;
  margin-top: 97px;
  margin-bottom: 14px;
}
.back-ground-top-news {
  padding-top: 90px;
  background-image: url('/assets/image/news/bg-top-news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 415px;
}
.div-sub-news {
  text-align: center;
}

// tab news
.row-main-news {
  min-height: 28vw;
  //   min-height: 49.8125vh;
}
.div-news-right {
  height: 100%;
  position: relative;
}
.col-item-news {
  position: relative;
  border-radius: 16px;
  padding-top: 16px;
}
.div-img-new {
  height: 100%;
  border-radius: 8px;
  position: relative;
}
.img-news-main {
  //   height: 100%;
  height: 40.461538462vw;
  max-height: 534px;
  object-fit: cover;
  border-radius: 16px;
}
.img-news-sub {
  max-height: 259px;
  object-fit: cover;
  border-radius: 16px;
  height: 100%;
}
.back-ground-news {
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-absolute-news-1 {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  background: linear-gradient(360deg, #020202 3.99%, rgba(0, 0, 0, 0) 89.13%);
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.div-news-uni-1 {
  width: fit-content;
  padding: 4px 8px;
  background: #ff7c59;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 126.69%;
  color: #ffffff;
}
.title-news-uni-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 40px;
}

.div-absolute-news-2 {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  background: linear-gradient(360deg, #020202 3.99%, rgba(0, 0, 0, 0) 89.13%);
  border-radius: 16px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.div-news-uni-2 {
  width: fit-content;
  padding: 4px 8px;
  background: #ff7c59;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 126.69%;
  color: #ffffff;
}
.title-news-uni-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 133%;
  color: #ffffff;
  margin-top: 12px;
}
.div-time-news-1 {
  position: absolute;
  top: 24px;
  left: 29px;
  z-index: 3;
  background-color: #0979fd;
  width: 82px !important;
  height: 87px;
  border-radius: 10px;
}
.date-news-1 {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 999;
  font-size: 32px;
  line-height: 131.25%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4px;
  margin-top: 12px;
}
.month-year-news-1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 131.25%;
  color: #ffffff;
  text-align: center;
}
.div-time-news-2 {
  position: absolute;
  top: 18px;
  left: 19px;
  z-index: 3;
  background-color: #0979fd;
  width: 51px !important;
  height: 51px;
  border-radius: 10px;
}
.date-news-2 {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 999;
  font-size: 18px;
  line-height: 131.25%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 8px;
}
.month-year-news-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 9.95464px;
  line-height: 131.25%;
  color: #ffffff;
  text-align: center;
}
.img-featured-posts {
  width: 100%;
}
// @media only screen and (max-width: 1200px) {
//   .title-news-uni-1 {
//     margin-bottom: 20px;
//     font-size: 20px;
//   }
//   .title-news-uni-2 {
//     font-size: 10px;
//     margin-bottom: 6px;
//     margin-top: 6px;
//   }
//   .div-time-news-2 {
//     top: 8px;
//   }
// }
@media only screen and (max-width: 991px) {
  .img-news-main {
    width: 100%;
    // height: auto;
    height: calc(100vh / 2);
    max-height: 534px;
  }
  .title-news-technology {
    padding-top: 40px;
    margin-top: 0px;
  }
  .img-news-sub {
    width: 100%;
    height: auto;
    max-height: 334px;
  }
  .div-sub-news {
    padding-bottom: 40px;
  }
  .back-ground-top-news {
    // min-height: 443px;
    min-height: calc(100vh / 3.5);
    min-height: unset;
  }
  .back-ground-news {
    padding-top: 20px;
    padding-bottom: 39px;
  }
  .div-time-news-1 {
    width: 66px !important;
    height: auto;
    top: 21px;
    left: 24px;
  }
  .date-news-1 {
    font-size: 23.5946px;
    line-height: 131.25%;
    margin-top: 4px;
  }
  .month-year-news-1 {
    font-size: 13.0487px;
    line-height: 131.25%;
    margin-bottom: 9px;
  }
  .div-absolute-news-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .title-news-uni-1 {
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 21px;
    margin-top: 12px;
  }
  .img-news-main-mobile {
    height: 100%;
    width: auto;
  }
  .div-time-news-2 {
    width: 66px !important;
    height: auto;
    left: 24px;
    top: 21px;
  }
  .date-news-2 {
    font-size: 23.5946px;
    line-height: 131.25%;
    margin-top: 4px;
  }
  .month-year-news-2 {
    font-size: 9.95464px;
    line-height: 131.25%;
    margin-bottom: 9px;
  }
  .div-absolute-news-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .title-news-uni-2 {
    margin-bottom: 24px;
    margin-top: 15px;
  }
}
// tab latest news
.swiper-latest-news {
  padding-bottom: 6px !important;
  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
}
.back-ground-latest-news {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f0f2f5;
}
.padding-left-right-latest-news {
  padding-left: 20px;
  padding-right: 20px;
}
.btn-arrow-latest-news {
  width: 36px;
  height: 36px;
}
.div-under-category {
  height: 0px;
  border: 1px solid #b8c3e1;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  &::before {
    position: absolute;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    height: 2px;
    content: '';
    bottom: -1px;
    width: 144px;
    left: 0;
  }
}
.row-item-slide-latest-news {
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
  border-radius: 16px;
  min-height: 220px;
  margin-top: 140px;
  .div-img-slide-news {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
    top: -120px;
  }

  .img-latest-news {
    width: 100%;
    height: 244px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 13.5065px;
  }

  .latest-news-content {
    position: relative;
    padding-top: min(80px, 5vw);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .div-detail-latest-news {
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 3;
  }

  .div-time-latest-news {
    display: flex;
    align-self: flex-end;
    background-color: #0979fd;
    width: 64px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 16px;
  }
  &:hover {
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    .author-latest-news,
    .detail-latest-news {
      color: #ffffff;
    }
    .text-author-latest-news {
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
      color: #ffffff;
      background: unset;
    }
    .div-time-latest-news {
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      box-shadow: 0px 4px 4px rgba(46, 66, 226, 0.2);
    }
  }
}
.author-latest-news {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 131%;
  color: #59637e;
}
.text-author-latest-news {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 131%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-latest-news {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detail-latest-news {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 131%;
  color: #212633;
  margin-bottom: 0px;
  min-height: 42px;
}
.date-latest-news {
  font-style: normal;
  font-weight: 999;
  font-size: 26px;
  line-height: 131%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin-bottom: 4px;
  margin-top: 12px;
}

.month-year-latest-news {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 131%;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  .latest-news-content {
    padding-top: min(75px, 4vw) !important;
  }
  .row-item-slide-latest-news {
    min-height: unset;
  }
}
@media only screen and (max-width: 1100px) {
  .latest-news-content {
    padding-top: min(75px, 2vw) !important;
  }
}
@media only screen and (max-width: 1024px) {
  .row-item-slide-latest-news {
    min-height: unset;
  }
}
@media only screen and (max-width: 992px) {
  .title-category-news {
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 14px;
  }
  .author-latest-news {
    margin-bottom: 9px;
  }
  .latest-news-content {
    padding-top: min(75px, 5vw) !important;
  }
  .row-item-slide-latest-news {
    min-height: unset;
  }
  .img-latest-news {
    max-height: 200px !important;
    min-height: unset;
  }
}

@media only screen and (max-width: 768px) {
  .img-latest-news {
    max-height: 225px;
  }
}
@media only screen and (max-width: 550px) {
  .col-arrow-latest-news {
    margin-right: 20px;
  }
  .padding-left-right-latest-news {
    padding-right: 0px;
  }
  .latest-news-content {
    padding-top: min(75px, 7vw) !important;
  }
  .img-latest-news {
    max-height: 235px;
  }
}
@media only screen and (max-width: 415px) {
  .title-category-news {
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 14px;
  }
  .btn-view-more-news-fitech {
    font-size: 13px !important;
  }
}

.group-news {
  height: 100%;
}
// section news fitech
.col-item-news-fitech {
}
.back-ground-news-fintech {
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn-view-more-news-fitech {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  color: #59637e;
  height: auto;
}
.row-main-news-fitech {
  margin-top: 20px;
}
.col-item-fitech {
  position: relative;
  border-radius: 16px;
}
.div-img-fitech {
  position: relative;
  height: 100%;
  border-radius: 8px;
}
.img-news-fitech {
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
  max-height: 434px;
}

.div-fitech-uni-1 {
  width: fit-content;
  padding: 4px 8px;
  background: #ff7c59;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.69%;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 12px;
}
.div-time-news-fitech {
  position: absolute;
  top: 24px;
  left: 29px;
  z-index: 3;
  background-color: #0979fd;
  width: 82px !important;
  height: 87px;
  border-radius: 10px;
}
.date-news-fitech {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 999;
  font-size: 32px;
  line-height: 131.25%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4px;
  margin-top: 12px;
}
.month-year-news-fitech {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 131.25%;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .img-news-fitech {
    height: auto;
    width: 100%;
  }
  .div-fitech-uni-1 {
    margin-top: 14px;
    margin-bottom: 9px;
  }
  .detail-news-main {
    margin-bottom: 30px;
  }
  .div-time-news-fitech {
    width: 49px !important;
    height: auto;
    left: 17px;
    top: 14px;
  }
  .date-news-fitech {
    font-size: 19.1901px;
    line-height: 131.25%;
    margin-top: 7px;
  }
  .month-year-news-fitech {
    margin-bottom: 7px;
    font-size: 9.59505px;
    line-height: 131.25%;
  }
  .back-ground-main-banner {
    padding-top: 0px !important;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .img-news-fitech {
    height: auto;
    max-height: 534px;
    width: 100%;
  }
  .img-digital-smart-city {
    max-height: 534px !important;
  }
}
// section banner
.back-ground-main-banner {
  padding-top: 40px;
  padding-bottom: 40px;
}
.title-banner-news-page {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 131.25%;
  color: #ffffff;
}
.detail-banner-news-page {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 131.25%;
  color: #ffffff;
}
.back-ground-banner {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('/assets/image/news/banner-news-page.png');
  background-position: center center;
}
@media only screen and (max-width: 550px) {
  .back-ground-banner {
    padding-left: 15px;
    padding-top: 33px;
    padding-bottom: 22px;
    background-image: url('/assets/image/news/background-banner-news-mobile.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title-banner-news-page {
    font-size: 16px;
  }
  .detail-banner-news-page {
    font-size: 10px;
  }
  .div-respon-banner {
    max-width: 221px;
  }
}
//section digital - smart city
.back-ground-digital-smart-city {
  padding-top: 40px;
  padding-bottom: 40px;
}
// .btn-view-more-digital-smart-city {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 133%;
//   color: #59637e;
//   height: auto;
// }
.row-main-digital-smart-city {
  margin-top: 20px;
}
.col-item-digital-smart-city {
  position: relative;
  border-radius: 16px;
}
.div-img-digital-smart-city {
  position: relative;
  border-radius: 8px;
}
.img-digital-smart-city {
  border-radius: 16px;
  max-height: 380px;
  width: 100%;
}

.div-fitech-uni-1 {
  width: fit-content;
  padding: 4px 8px;
  background: #ff7c59;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.69%;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 992px) {
  .back-ground-digital-smart-city {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .div-img-digital-smart-city {
    margin-top: 40px;
  }
}
