/////Section Product List
.section-business-product-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-container{
        width: 100%;
        max-width: 1180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 20px;
        .advise-now-btn{
            height: 40px;
            padding: 8px 32px;
            background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
            border-radius: 68px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
                    0px 8px 8px -4px rgba(24, 39, 75, 0.08);
            }
            span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            }   
        }
        .content-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 14px;
            .sub-title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 133%;
                text-align: center;
                letter-spacing: 0.22em;
                color: #0979FD;  
            }
            .title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                text-align: center;
                text-transform: capitalize;
                color: #2C2D2E;
            }
            .underline{
                width: 88px;
                height: 4px;
                background: linear-gradient(90deg, #5A20FF 0%, #00E0C5 100%);
                border-radius: 200px;
            }
        }
        .button-container{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #DDEFFF;
            width: fit-content;
            border-radius: 99px;
            .button{
                width: fit-content;
                text-transform: capitalize;
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: clamp(14px, 3.74vw, 16px);
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                padding: 8px 48px;
                z-index: 2;
                transition: all 0.8s;
                color: white;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                width: clamp(170px, 45.375vw, 190px);
            }
            .active{
                transition: all 0.8s;
                color: #2391FD;
            }
            .effect{
                width: clamp(170px, 10.375vw, 190px);
                position: absolute;
                height: calc(100% - 8px);
                background-color: #0979FD;
                top: 4px;
                border-radius: 99px;
            }
            .left{
                left: 4px;
                width: calc(50% - 8px);
                transition: all 0.6s;
            }
            .right{
                left: calc(100% - calc(50% - 8px) - 4px);
                width: calc(50% - 8px);
                transition: all 0.6s;
            }
        }
        .sub-table{
            width: 100%;
            .table-container{
                border: 2px solid #A7D8FE;
                border-radius: 16px;
                width: 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .center{
                    border-right: 2px solid #A7D8FE;
                    border-left: 2px solid #A7D8FE;
                    height: 100%;
                }
                .content-container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 100%;
                }
                .body-content-container {
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    grid-template-columns: 1.4fr 4fr 1.2fr;
                    width: 100%;
                }
                .body-table-row {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    border: none;
                    font-family: "SVN-Gilroy";
                    font-style: normal;
                    font-weight: 500;
                    font-size: clamp(10px, 2.13vw, 16px);
                    color: #454647;
                    text-align: left;
                    .table-data-center{
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        grid-template-columns: 1.4fr 4fr;
                        width: 100%;
                        .data-col{
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            border: none;
                            font-family: "SVN-Gilroy";
                            font-style: normal;
                            font-weight: 500;
                            font-size: clamp(10px, 2.13vw, 16px);
                            color: #454647;
                            text-align: center;
                        }
                        .border-r {
                            border-right: 2px solid #a7d8fe;
                        }
                    }
                    .table-data {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: clamp(56px, 200px - 5vw, 80px);
                        width: 100%;
                        padding: 0px clamp(9px, 0.8vw, 32px);
                    }
                }
                .border-lr {
                    border-right: 2px solid #a7d8fe;
                    border-left: 2px solid #a7d8fe;
                }
                .border-b {
                    border-bottom: 2px solid #a7d8fe;   
                }
                .border-b:last-child{
                    border-bottom: none;
                }
                .table-row{
                    padding: 0px;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    grid-template-columns: 1.4fr 4fr 1.2fr;
                    width: 100%;
                    height: clamp(56px, 200px - 5vw, 80px);
                    .table-data{
                        font-family: 'SVN-Gilroy';
                        font-style: normal;
                        font-weight: 500;
                        font-size: clamp(10px, 2.13vw, 16px);
                        text-align: center;
                        color: #454647;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: left;
                        height: 100%;
                        padding: 0px clamp(9px, 0.8vw, 32px);
                    }
                    .table-data.header{
                        color: #0979FD;
                        font-weight: 700;
                        background: #DDEFFF;
                        text-transform: uppercase;
                    }
                }
            }
        }        
        .table {
            width: 100%;
            .table-container {
              border: 2px solid #a7d8fe;
              border-radius: 16px;
              width: 100%;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              .center {
                border-right: 2px solid #a7d8fe;
                border-left: 2px solid #a7d8fe;
                height: 100%;
              }
              .content-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;
              }
              .body-content-container {
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: 1.2fr 3fr 1fr 1fr;
                width: 100%;
              }
              .table-row {
                padding: 0px;
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: 1.2fr 3fr 1fr 1fr;
                width: 100%;
                height: clamp(56px, 200px - 5vw, 80px);
                .table-data {
                  font-family: "SVN-Gilroy";
                  font-style: normal;
                  font-weight: 500;
                  font-size: clamp(10px, 2.13vw, 16px);
                  text-align: center;
                  color: #454647;
                  display: flex;
                  align-items: center;
                  justify-content: center; //attention
                  text-align: left;
                  height: 100%;
                  padding: 0px clamp(9px, 0.8vw, 32px);
                }
                .table-data.header {
                  color: #0979fd;
                  font-weight: 700;
                  background: #ddefff;
                  text-transform: uppercase;
                }
              }
              .body-table-row {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border: none;
                font-family: "SVN-Gilroy";
                font-style: normal;
                font-weight: 500;
                font-size: clamp(10px, 2.13vw, 16px);
                color: #454647;
                text-align: left;
                .table-data {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  height: clamp(56px, 200px - 5vw, 80px);
                  width: 100%;
                  padding: 0px clamp(9px, 0.8vw, 32px);
                  .table-data-icon{
                    width: clamp(11.5px, 1.597222222vw, 23px);
                    height: clamp(9px, 1.25vw, 18px);
                    object-fit: cover;
                  }
                }
              }
              .border-lr {
                border-right: 2px solid #a7d8fe;
                border-left: 2px solid #a7d8fe;
              }
              .border-lr:last-child {
                border-right: none;
                border-left: 2px solid #a7d8fe;
              }
              .border-b {
                border-bottom: 2px solid #a7d8fe;
              }
              .border-b:last-child{
                border-bottom: none;
              }
            }
        }
        .sumary{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .smallNote{
                font-family: 'SVN-Gilroy';
                font-style: italic;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: #454647;
            }
            .sumary-container{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 600px;
                gap: clamp(9px, 3vw, 16px);
                .sumary-text{
                    width: 100%;
                    font-family: 'SVN-Gilroy';
                    font-style: normal;
                    font-weight: 500;
                    font-size: clamp(14px, 3.73vw, 16px);
                    text-align: left;
                    color: #454647;
                    display: flex;
                }
                .sumary-quantity{
                    width: 100%;
                    font-family: 'SVN-Gilroy';
                    font-style: normal;
                    font-weight: 700;
                    font-size: clamp(16px, 4.26vw, 21px);
                    color: #0979FD;
                    display: flex;
                }
            }
        }
    }
}

// header section

.section-top-solution-package {
    margin-top: 90px;
    background-image: url("/images/business-step1-v3/png/img-top-solution.png");
    background-size: cover;
    background-position: center;
    //   height: 100vh;
    min-height: calc(100vh - 90px);
    .container-header {
      margin-top: max(13.958333333vw, 150px);
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
    .text-top-solution-1 {
      font-style: normal;
      font-weight: 800;
      font-size: 62px;
      line-height: 72px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
    }
    .text-top-solution-2 {
      margin-top: 8px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      color: #ffffff;
    }
    .text-top-solution-3 {
      margin-top: 40px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  @media only screen and (max-width: 767px) {
    .section-top-solution-package {
      margin-top: 64px;
      background-image: url("/images/business-step1-v3/png/img-mobile-top-solution.png");
      min-height: calc(100vh - 64px);
      .container-header {
        margin-top: 58px;
      }
      .text-top-solution-1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
      }
      .text-top-solution-2 {
        margin-top: 2px;
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 8px !important;
      }
      .text-top-solution-3 {
        margin-top: 9px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  .section-business-header-v3 {
    width: 100%;
    height: 800px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
    .container-v3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .container-header {
        max-width: 440px;
      }
      .business-header-title {
        font-weight: 800;
        font-size: 62px;
        line-height: 72px;
        letter-spacing: 1px;
      }
      .business-header-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        padding-top: 8px;
      }
      .business-header-desc {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        padding-top: 40px;
      }
    }
  }
  @media (max-width: 768px) {
    .section-business-header-v3 {
      height: 428px !important;
      .img-building {
        display: none !important;
      }
      .img-building-mobile {
        display: block !important;
      }
      .container-header {
        text-align: center;
        margin: 0 auto;
        margin-top: -180px;
        .business-header-title {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          /* identical to box height, or 125% */
  
          text-align: center;
  
          /* Light mode/Gray/White */
  
          color: #ffffff;
        }
        .business-header-subtitle {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 32px;
          /* identical to box height, or 152% */
  
          text-align: center;
  
          /* Light mode/Gray/White */
  
          color: #ffffff;
        }
        .business-header-desc {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          padding-top: 10px;
  
          text-align: center;
  
          color: #ffffff;
        }
      }
    }
  }
  
  // package section
  .business-step1-container {
    width: 100%;
    display: block;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e1e3e6;
  
    .business-step1-wrapper {
      max-width: 1180px;
      width: 100%;
      margin: 120px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 60px;
  
      .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 80px;
  
        .main-title {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 48px;
          text-align: center;
          color: #2c2d2e;
        }
  
        .sub-title {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #454647;
        }
      }
  
      .bottom-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        align-items: center;
        justify-content: center;
  
        .bottom-content-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 560px;
          max-height: 460px;
          position: relative;
          box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
          border-radius: 16px;
          .detail-button {
            display: none;
          }
          .solution-item-img {
            z-index: 1;
            width: 100%;
            height: 100%;
            max-width: 100%;
            display: block;
            border-radius: 16px;
          }
          .solution-item-desc {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 72px;
            background: #ffffff;
            z-index: 2;
            text-align: center;
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 16px 16px;
  
            span {
              margin: 24px auto;
              text-transform: uppercase;
              font-family: "SVN Gilroy";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #454647;
            }
          }
        }
  
        .bottom-content-container.active {
          box-shadow: 0px 0px 0px 5px #0979fd;
          position: relative;
          .solution-item-desc {
            span {
              color: #0979fd;
            }
          }
          .detail-button{
            z-index: 3;
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 134px;
            height: 42px;
            top: calc(100% - 21px);
            background: #0979FD;
            border-radius: 99px;
            font-family: 'SVN-Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: white;
          }
        }
      }
  
      .advise-now-btn {
        min-width: 208px;
        min-height: 40px;
        background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
        border-radius: 68px;
        border: none;
        &:hover {
          box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
            0px 8px 8px -4px rgba(24, 39, 75, 0.08);
        }
  
        span {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
  
      .advise-now-btn:disabled {
        background: #aaaeb3;
      }
    }
  }
  
  @media (max-width: 750px) {
    .business-step1-container {
      width: 100%;
      display: block;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #e1e3e6;
  
      .business-step1-wrapper {
        max-width: 1180px;
        width: 100%;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
  
        .top-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-height: 80px;
          padding-left: 20px;
          padding-right: 20px;
          .main-title {
            font-family: "SVN-Gilroy";
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 32px;
            /* identical to box height, or 152% */
  
            text-align: center;
  
            /* Light mode/Gray/gray_800 */
  
            color: #2c2d2e;
          }
  
          .sub-title {
            font-family: "SVN Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #454647;
          }
        }
  
        .bottom-content {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 60px;
          padding: 0px 20px; //
  
          .bottom-content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 560px;
            max-height: 460px;
            position: relative;
            box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
            border-radius: 16px;
  
            .solution-item-img {
              z-index: 1;
              width: 100%;
              height: 100%;
              max-width: 100%;
              display: block;
              border-radius: 16px;
            }
  
            .solution-item-desc {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              min-height: 72px;
              background: #ffffff;
              z-index: 2;
              text-align: center;
              display: flex;
              flex-direction: column;
              border-radius: 0px 0px 16px 16px;
  
              span {
                margin: 24px auto;
                text-transform: uppercase;
                font-family: "SVN Gilroy";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #454647;
              }
            }
          }
  
          .bottom-content-container.active {
            box-shadow: 0px 0px 0px 5px #0979fd;
            position: relative;
          }
  
          // .bottom-content-container.active::after {
          //   z-index: 3;
          //   content: "Chi Tiết";
          //   position: absolute;
          //   width: 37px;
          //   height: 37px;
          //   bottom: -18px;
          //   background-color: #0979fd;
          // }
        }
  
        .advise-now-btn {
          min-width: 208px;
          min-height: 40px;
          background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
          border-radius: 68px;
          border: none;
          &:hover {
            box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
              0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          }
  
          span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }
        }
  
        .advise-now-btn:disabled {
          background: #aaaeb3;
        }
      }
    }
  }
  