@import "~bootstrap/scss/bootstrap";
@import "./layout/font-style.scss";
@import "./layout/core.scss";
@import "~leaflet/dist/leaflet.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./commonStyle/common.scss";
html,
body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: #ad020200;
  scroll-behavior: smooth;
  p {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .section-swiper-video-v3 {
    .container-swiper-thumb {
      .wrap-item {
        width: 90% !important;
      }
    }
    .mySwiper2 {
      .react-player__preview {
        min-height: 200px;
      }
    }
  }
}
