.modal-thanks-popup {
  max-width: 600px;
  max-height: unset;
  padding: 0px !important;

  :global(.modal-header) {
    border-bottom: unset;
    padding: 30px 60px 0px 0px;
  }

  :global(.modal-body) {
    padding: 16px 60px 60px 60px;
  }

  :global(.modal-content) {
    border-radius: 16px;
  }

  :global(.btn-close) {
    background: url("/images/icon/icon-close-popup.svg");
  }
}

.title-thanks-popup {
  display: flex;
  align-items: center;
  margin-bottom: 16px !important;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #2c2d2e;
  }
  img {
    margin-right: 8px;
  }
}
.title-thanks-popup-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2c2d2e;
}
