// BreadCum
.breadcrumb-item {
  font-size: 14px;
  line-height: 15px;

  display: flex;
  align-items: center;

  color: #212633;
  text-decoration: none;
  img {
    width: 16px !important;
  }
}

.breadcrumb-item.active {
  cursor: unset;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.019em;
  color: #0979fd !important;

  text-transform: capitalize;
}
