@import "/assets/scss/colorScheme.scss";

#solution,
#finance-bank,
#retail-transformation {
  scroll-margin-top: 50px;
}

#hr-management,
#resident-management {
  scroll-margin-top: 100px;
}

.wrapper-title-digital-transformation {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2.title-digital-transformation {
    position: relative;
    padding-bottom: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 4px;
      background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);
    }
  }

  h3.title-digital-transformation {
    margin-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 131.25%;
    text-align: center;
    color: #212633;
  }

  .sub-title-digital-transformation {
    margin: 0;
    margin-top: 16px;
    width: 100%;
    max-width: 592px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #525b73;
  }
}

.btn-advise-digital-transformation {
  padding: 12px 40px;
  gap: 10px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px -2px 10px 2px rgba(112, 144, 176, 0.1);
  border-radius: 100px;
  width: fit-content;
  // min-width: 184px;
  outline: none;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #096dd9;
  }
}

.btn-advise-digital-transformation-2 {
  padding: 12px 40px;
  gap: 10px;
  height: 52px;
  background: #1890ff;
  border: 1px solid #1890ff;
  box-shadow: 0px -2px 10px 2px rgba(112, 144, 176, 0.1);
  border-radius: 100px;
  // min-width: 184px;
  width: fit-content;
  outline: none;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #f3f6ff;
  }
}

.btn-more-info-digital-transformation {
  padding: 12px 40px;
  gap: 10px;
  height: 52px;
  background: transparent;
  border: 2px solid #1890ff;
  box-shadow: 0px -2px 10px 2px rgba(112, 144, 176, 0.1);
  border-radius: 100px;
  // min-width: 184px;
  width: fit-content;
  outline: none;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #0979fd;
  }
}

.row-btn-digital-transformation {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

/* Header Digital Transformation */
.img-slide-digital-transformation {
  width: 100%;
  height: 900px;
  display: block;
  position: relative;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .wrapper-header-digital-transformation {
    display: flex;
    justify-content: center;
    padding: 320px 20px 129px;

    h4.title-header {
      margin-bottom: 8px !important;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
      color: #ffffff;
    }

    h2.title-header {
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 120%;
      text-transform: uppercase;
      color: #ffffff;
    }

    .sub-title-header {
      max-width: 881px;
      margin-top: 16px;
      margin-bottom: 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #ffffff;
    }
  }
}

.page-header-digital-transformation {
  position: relative;
  .wrapper-swiper-slide-tag {
    position: absolute;
    padding: 0 20px;
    bottom: 7.5%;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
    .container-swiper-slide-tag {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wrapper-btn-slide {
        width: 25%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        height: 100%;

        .dash-btn-slide {
          width: 30px;
          height: 0px;
          border: 1px solid #ffffff;
          margin: auto 0;
        }
      }

      .btn-slide {
        width: fit-content;
        max-width: 200px;
        border: none;
        outline: none;
        background: transparent;
        box-shadow: none;
        text-align: start;
      }

      h5.title-slide-digital-transformation {
        margin-bottom: 6px !important;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
      }

      .btn-slide.is-active {
        h5.title-slide-digital-transformation {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 130%;
          text-transform: uppercase;
          color: #ffffff;
        }
      }

      .wrapper-btn-slide:last-child {
        .dash-btn-slide {
          width: 0;
          border: none;
        }
      }
    }
  }
}

/* Row Ecosystem Digital Transformation  */
.wrapper-ecosystem-bizzone {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  .list-card-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 100%;
    column-gap: 40px;
  }

  .card-item {
    position: relative;
    margin-top: 47px;
    width: 25%;
    max-width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 30px 30px;
    gap: 12px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(12, 58, 222, 0.1);
    border-radius: 16px;

    .img-card-item {
      position: absolute;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translateX(-50%);
      top: -47px;
    }

    h5.title-ecosystem-bizzone {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #212633;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      z-index: 0;
    }

    .sub-title-ecosystem-bizzone {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #212633;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      z-index: 1;
    }
  }
}

/* Row Solution Digital Transformation*/
.wrapper-solution-digital-transformation {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background: #e6f7ff;

  .row-solution {
    width: 100%;
    margin-top: 58px;
    display: inline-flex;
    gap: 44px 46px;
    // flex-wrap: wrap;

    .col-solution {
      width: 50%;

      .img-solution {
        width: 100%;
        height: 100%;
        // max-height: 710px;
        object-fit: cover;
        border-radius: 16px;
      }

      .list-card-item {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
      }

      .card-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
        background: #ffffff;
        border-radius: 16px;

        .title-solution {
          font-style: normal;
          font-weight: 700;
          font-size: 64px;
          line-height: 67px;
          text-align: center;
          color: #91d5ff;
        }

        h4.title-content-solution {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 130%;
          color: #212633;
        }

        .sub-ttile-content-solution {
          margin-top: 8px;
          margin-bottom: 12px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #212633;
        }

        .link-solution {
          position: relative;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 129.5%;
          background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-decoration: none;
          border: none;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

/* Row Finance Bank Digital Transformation */
.wrapper-finance-bank-digital-transformation {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background: #ffffff;

  .wrapper-btn-finance-bank-digital-transformation {
    display: flex;
    justify-content: center;
    margin-top: 28px;

    .row-btn-finance-bank-digital-transformation {
      position: relative;
      padding: 10px 12px;
      gap: 10px;
      border: 2px solid #1890ff;
      border-radius: 40px;
      z-index: 0;

      .div-btn-background {
        position: absolute;
        height: 56px;
        width: clamp(178px, 41.875vw, 230px);
        background-color: #1890ff;
        border: 2px solid #1890ff;
        border-radius: 40px;
        transition: all 0.3s ease;
        z-index: -1;

        &.active-1 {
          left: 12px;
        }

        &.active-2 {
          left: clamp(calc(12px + 178px), calc(12px + 41.875vw), calc(12px + 230px));
        }

        &.active-3 {
          left: clamp(calc(12px + 178px * 2), calc(12px + 41.875vw * 2), calc(12px + 230px * 2));
          width: clamp(calc(181.81px + 24px * 2), 41.875vw, 230px);
        }
      }

      .btn-finance-bank {
        padding: 16px 24px;
        gap: 10px;
        width: clamp(178px, 41.875vw, 230px);
        background: transparent;
        border-radius: 40px;
        border: none;
        white-space: nowrap;
        z-index: 1;
        outline: none;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 131.25%;
          color: #212633;
          z-index: 0;
          transition: all 0.3s ease;
        }
      }

      .btn-finance-bank.btn-active {
        span {
          color: #ffffff;
        }
      }
    }
  }

  .container-content-finance-bank-digital-transformation {
    .wrapper-title-content {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2.title-content {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 131.25%;
        text-align: center;
        color: #212633;
      }

      h3.title-content {
        margin-top: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 131.25%;
        text-align: center;
        color: #212633;
      }

      .sub-title-content {
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #525b73;
        max-width: 727px;
      }
    }

    .row-content {
      margin-top: 68px;
      width: 100%;
      display: inline-flex;
      gap: 50px;

      .col-content-1 {
        width: 50%;
      }

      .col-content-2 {
        width: 50%;

        .accordion-item {
          box-sizing: none;
          border: none;
        }

        .accordion-button {
          border: none;
          box-shadow: none;
          background-color: #ffffff;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: #ff7c59;

          &::after {
            background-image: url("/assets/image/landing-page/digital-transformation/svg/icon-dropdown-up.svg");
            transform: none;
          }
        }

        .accordion-button.collapsed {
          color: #212633;
          &::after {
            background-image: url("/assets/image/landing-page/digital-transformation/svg/icon-dropdown-down.svg");
            transform: none;
          }
        }

        .accordion-list-item {
          list-style: none;
          padding: 0;
          margin: 0;

          .accordion-li {
            display: flex;
          }

          .img-item {
            width: 20px;
            height: 20px;
            margin: 0 10px;
          }

          .accordion-desc {
            margin-bottom: 24px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #212633;
          }
        }
      }
    }
  }
}

/* Row Retail Digital Transformation */
.wrapper-retail-digital-transformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 10px;
  background: #e6f7ff;

  .row-retail-digital-transformation {
    display: inline-flex;
    gap: 50px 40px;

    .col-retail-digital-transformation-1 {
      width: 55%;

      .list-card-item {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: 120px;
        width: 100%;
        gap: 25px 40px;
      }

      .card-item {
        position: relative;
        margin-top: 47px;
        width: 45%;
        max-width: 308px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 50px 30px 30px;
        gap: 12px;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(12, 58, 222, 0.1);
        border-radius: 16px;

        .img-card-item {
          position: absolute;
          width: 80px;
          height: 80px;
          left: 50%;
          transform: translateX(-50%);
          top: -47px;
        }

        h5.title-ecosystem-bizzone {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 130%;
          text-align: center;
          color: #212633;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;
          z-index: 0;
        }

        .sub-title-ecosystem-bizzone {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #212633;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          z-index: 1;
        }
      }
    }

    .col-retail-digital-transformation-2 {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .row-btn-digital-transformation {
        margin-top: 54px;
        justify-content: flex-end;
      }
    }
  }
}

/* Row Middle Digital Transformation */
.wrapper-middle-digital-transformation {
  background: #fff;
}

.wrapper-hr-digital-transformation {
  position: relative;
  margin-top: 90px;
  padding-top: 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;

  .img-bg-left {
    position: absolute;
    left: 0;
    top: -110px;
    width: 11.488802083vw;
  }

  .img-bg-right {
    position: absolute;
    right: 0;
    top: -110px;
    width: 11.488802083vw;
  }

  .container-hr-swiper {
    margin-top: clamp(40px, 5vw, 74px);
    position: relative;

    .swiper-wrapper {
      .swiper-slide {
        height: auto;
      }

      .wrapper-content-middle-digital-transformation {
        height: 100%;
      }

      .container-content-middle-digital-transformation {
        height: 100%;
      }
    }

    .btn-arrow-left.prev-slide-hr {
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-20px);
      background: url("/assets/image/svg/icon-btn-left-hover.svg");
      outline: none;
      cursor: pointer;
      z-index: 10;
    }

    .btn-arrow-right.next-slide-hr {
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-20px);
      background: url("/assets/image/svg/icon-btn-right-hover.svg");
      outline: none;
      cursor: pointer;
      z-index: 10;
    }

    .container-content-middle-digital-transformation {
      background: #e6f7ff;
      border-radius: 20px;
      padding: 60px 50px;
    }
  }
}

.wrapper-content-middle-digital-transformation {
  .container-image-mobile {
    display: none;
  }

  .container-content-middle-digital-transformation {
    display: inline-flex;
    gap: 100px;
    align-items: center;

    .col-content-1 {
      width: 50%;

      h3.title-content {
        margin-bottom: 4px !important;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 131.25%;
        color: #212633;
      }

      h4.title-content {
        margin-bottom: 12px !important;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 131.25%;
        color: #212633;
      }

      .sub-title-content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #212633;
      }

      .ul-content {
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 22px;
        list-style: none;
        margin: 0;
        padding: 0;
        row-gap: 20px;
        margin-bottom: 30px;
      }

      .li-content {
        width: 50%;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #212633;

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }

    .col-content-2 {
      width: 50%;

      .img-content {
        width: 100%;
      }
    }
  }

  .container-content-middle-digital-transformation.flex-reverse {
    flex-direction: row-reverse;
  }
}

/* Row Document Digital Transformation */
.wrapper-document-digital-transformation {
  margin-top: 90px;
  padding-top: 20px;
  background: #e6f7ff;
  display: flex;
  justify-content: center;
  min-height: 348px;

  .div-document-digital-transformation {
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;

    .img-document {
      position: absolute;
      left: 20px;
      top: 0;
      width: 45%;
      transform: translateY(-25%);
    }

    .wrapper-title-document-digital-transformation {
      width: 50%;
      margin-top: 90px;

      .title-digital-transformation {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #212633;
        text-transform: uppercase;
      }

      .sub-title-digital-transformation {
        margin: 12px 0 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #525b73;
      }
    }
  }
}

/* Row Partnership Digital Transformation */
.wrapper-partnership-digital-transformation {
  background-color: #ffffff;
  padding: 60px 0;

  .row-slide-partnership {
    .col-arrow-left-partnership {
      padding: 10px 0 40px;
      justify-content: flex-start;
    }

    .col-arrow-right-partnership {
      padding: 10px 0 40px;
      justify-content: flex-end;
    }

    .swiper-partnership-digital-transformation {
      padding: 10px 20px 40px;

      .div-logo-partnership-digital-transformation {
        background: #ffffff;
        border-radius: 8px;
        border: none;
        box-shadow: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 12px;
        min-height: 140px;
      }

      .div-logo-partnership-digital-transformation:hover {
        box-shadow: -4px 4px 20px rgba(23, 78, 185, 0.1), 0px 12px 40px rgba(39, 90, 190, 0.1);
      }

      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          width: 40px;
          height: 4px;
          border-radius: 4px;
        }

        .swiper-pagination-bullet-active {
          background: #1890ff;
        }
      }
    }
  }
}

/* Row Contact Digital Transformation */
.wrapper-contact-digital-transformation {
  background-color: #ffffff;
  padding: 60px 0;
  display: flex;
  justify-content: center;

  .row-contact-digital-transformation {
    width: 100%;
    display: inline-flex;
    gap: 10px;

    .col-content-1 {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      .img-content {
        width: 90%;
      }
    }

    .col-content-2 {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 20px;
      gap: 20px;
      background: #ffffff;
      box-shadow: 0px 12px 42px -4px rgba(52, 143, 227, 0.12);
      border-radius: 8px;
    }
  }
}

.wrapper-form-contact-digital-transformation {
  .wrapper-title-digital-transformation {
    .title-digital-transformation {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
    }

    .sub-title-digital-transformation {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .row-alert-contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    gap: 10px;
    width: 100%;
    height: 48px;
    background: #fef4f4;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ff3b49;
  }

  .form-contact {
    margin-top: 20px;
    .form-label {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #212633;
    }

    .input-group {
      position: relative;
      & > .form-control {
        padding: 12px 8px 12px 40px;
        border: 1px solid #99a2bc;
        border-radius: 4px !important;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #212633;
      }

      & > .form-control:focus {
        box-shadow: none;
        border: 1.5px solid #0979fd;
      }

      .icon-input-text {
        position: absolute;
        left: 12px;
        top: 12px;
        width: 18px;
        z-index: 10;
      }
    }

    .btn-submit-contact {
      outline: none;
      padding: 12px 40px;
      gap: 10px;
      background: #1890ff;
      box-shadow: 0px -2px 10px 2px rgba(112, 144, 176, 0.1);
      border-radius: 100px;
      border: none;
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #f3f6ff;
      }
    }
  }
}

@keyframes my-move-partnership {
  from {
    opacity: 0;
    // transform: translateX(-50px);
  }

  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

/* Responsive */
@media only screen and (max-width: 1024px) {
  /* Row Retail Digital Transformation */
  .wrapper-retail-digital-transformation {
    .row-retail-digital-transformation {
      flex-wrap: wrap-reverse;

      .col-retail-digital-transformation-1 {
        width: 100%;

        .list-card-item {
          display: inline-flex;
          flex-wrap: wrap;
          margin-top: 0;
          width: 100%;
          justify-content: center;
        }

        .card-item {
          width: 100%;
          max-width: 480px;
        }
      }

      .col-retail-digital-transformation-2 {
        width: 100%;

        img {
          margin: 0 auto;
          width: 70%;
        }

        .row-btn-digital-transformation {
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 550px) {
  .padding-left-right-partnership {
    padding-left: 0px;
    padding-right: 0px;
  }

  .row-slide-partnership {
    .col-slide-partnership {
      padding-left: 32px !important;
    }
  }
  .col-mobile-btn {
    margin-top: 24px !important;
  }
}

.div-img-create-feature {
  border-radius: 8px;
  width: 100%;
  position: relative;
}
.img-slide-create-feature {
  border-radius: 8px;
}
.a-link-create-feature:hover {
  .overplay-text-create-feature {
    display: block;
  }
}

.overplay-text-create-feature {
  display: none;
  position: absolute;
  bottom: 23px;
  overflow: hidden;
  animation: move-create-feature 0.1s;
  max-width: 90%;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 22px 18px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  a {
    text-decoration: none;
  }
}

.title-hover-create-feature {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 131.25%;
  color: #2c2d2e;
  margin-bottom: 4px;
}
.title-sub-hover-create-feature {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 131.25%;
  color: #59637e;
  margin-bottom: 0px;
}

@keyframes move-create-feature {
  from {
    opacity: 0;
    // transform: translateX(-50px);
  }

  to {
    opacity: 1;
    // transform: translateX(0);
  }
}
.btn-arrow-create-future {
  margin-right: 24px;
}
.back-ground-create-future {
  padding-top: 60px;
  padding-bottom: 60px;
}

.row-btn-slide-create-future {
  padding: 10px;
  margin-bottom: 24px;
}
.title-create-future-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 14px;
}

.title-create-future-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-ink-80;
  max-width: 839px;
  margin: auto;
  margin-bottom: 18px;
}

.btn-view-more-create-future {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  border-radius: 4px;
  border: none;
  width: 180px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.img-item-create-future {
  border-radius: 8px;
  //   max-width: 363px;
  //   max-height: 363px;
  box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
}
.col-icon-view-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Row Ecosystem Scrolly */
.div-btn-ecosystem {
  display: flex;
  button {
    span {
      margin-left: 16px;
    }
  }
}
.ul-scroll-ecosystem {
  display: none;
  padding-left: 20px;
  transition-duration: 300ms;
  animation: my-move 0.5s;
}
.div-scroll-ecosystem {
  display: none;
  position: fixed;
  right: 0;
  z-index: 999;
  top: 25%;
  background: #ffffff;
  border-radius: 40px 0px 0px 40px;
  animation: my-move 0.5s;
  ul {
    margin-top: 12px;
    margin-bottom: 40px;
    list-style: none;
    li {
      margin-bottom: 27px;
      span {
        margin-left: 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 131.25%;
        color: #212633;
      }
    }
  }
}

.btn-ecosystem {
  display: none;
  text-align: left;
  width: 100%;
  border: none;
  padding: 14px 10px 14px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
  background: linear-gradient(227.49deg, #18d8f6 -3.35%, #1c45df 88.83%);
  border-radius: 200px 0px 0px 200px;
}

.btn-ecosystem-unactive {
  text-align: left;
  width: 100%;
  border: none;
  padding: 14px 10px 14px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
  background: linear-gradient(227.49deg, #18d8f6 -3.35%, #1c45df 88.83%);
  border-radius: 200px 0px 0px 200px;
}

/* Overlay */
.btn-scrolly-ecosystem {
  border: none;
  background-color: unset;
}

.overlay {
  width: 100vw;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.56);
  z-index: 9;
  display: none;
}

.active-ecosystem {
  color: #ff7900;
  // background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background-clip: text;
  // text-fill-color: transparent;
  span {
    font-weight: 700 !important;
    color: #ff7900 !important;
  }
}

@keyframes my-move {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes my-move-finance-bank {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .page-header-digital-transformation {
    .slide-digital-transformation-tag {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .row-title-create-feature {
    height: 100%;
  }
  .col-icon-view-more {
    justify-content: right;
    align-items: end;
  }
  .overplay-text-create-feature {
    padding: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 100%;
    max-height: 90%;
    background: linear-gradient(180deg, rgba(255, 73, 18, 0.6) 0%, rgba(255, 121, 0, 0.6) 100%);
  }
  .title-hover-create-feature {
    color: #ffffff;
  }
  .title-sub-hover-create-feature {
    color: #ffffff;
  }

  .div-wrap-info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 69px;
    background: rgba(33, 38, 51, 0.8);
    min-height: 274px;
    text-align: center;
  }
  .title-slide-homepage-1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
  }
  .title-slide-homepage-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 133.34%;
  }
  .detail-slide-homepage {
    font-weight: 400;
    font-size: 12px;
    line-height: 131.25%;
  }
  .title-create-future-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
  }
  .title-create-future-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 131.25%;
    text-align: center;
    color: #1e1e1e;
  }
  .btn-view-more-create-future {
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
    color: #f3630d;
    background: unset;
    width: fit-content;
  }

  /* Row Ecosystem Digital Transformation  */
  .wrapper-ecosystem-bizzone {
    .list-card-item {
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 25px;
      column-gap: 25px;
      .card-item {
        width: 45%;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* Row Header Digital Transformation */
  .img-slide-digital-transformation {
    height: 926px;
    .wrapper-header-digital-transformation {
      padding-top: 246px;
      padding-bottom: 83px;
    }
  }

  .page-header-digital-transformation {
    .wrapper-swiper-slide-tag {
      bottom: 66px;
      .container-swiper-slide-tag {
        flex-wrap: wrap;
        align-items: flex-start;
        row-gap: 20px;

        .wrapper-btn-slide {
          width: 50%;
          align-items: flex-start;
          height: auto;

          .btn-slide {
            width: 100%;
            max-width: 200px;
          }
        }

        h5.title-slide-digital-transformation {
          font-size: 14px;
        }

        .btn-slide.is-active {
          h5.title-slide-digital-transformation {
            font-size: 14px;
          }
        }

        .dash-btn-slide {
          display: none;
        }
      }
    }
    .slide-digital-transformation-tag {
      padding: 0 20px;
    }
  }

  /* Row Solution Digital Transformation*/
  .wrapper-solution-digital-transformation {
    .row-solution {
      flex-wrap: wrap;
      .col-solution {
        width: 100%;

        .img-solution {
          content: url("/assets/image/landing-page/digital-transformation/img-solution-mobile.png");
          max-height: 280px;
        }
      }
    }
  }

  /* Row Finance Bank Digital Transformation */
  .wrapper-finance-bank-digital-transformation {
    .wrapper-btn-finance-bank-digital-transformation {
      .row-btn-finance-bank-digital-transformation {
        border-radius: 0;
        overflow-y: scroll;
        border: none;
        white-space: nowrap;
      }
    }

    .container-content-finance-bank-digital-transformation {
      .row-content {
        flex-wrap: wrap;

        .col-content-1 {
          width: 100%;
        }

        .col-content-2 {
          width: 100%;
        }
      }
    }
  }

  /* Row Document Digital Transformation */
  .wrapper-document-digital-transformation {
    margin-top: 205px;

    .div-document-digital-transformation {
      align-items: flex-end;

      .img-document {
        left: 50%;
        transform: translate(-50%, -80%);
      }

      .wrapper-title-document-digital-transformation {
        width: 100%;
        padding-bottom: 34px;

        .title-digital-transformation {
          text-align: center;
        }

        .sub-title-digital-transformation {
          text-align: center;
        }

        .row-btn-digital-transformation {
          justify-content: center;
        }
      }
    }
  }

  /* Row Middle Digital Transformation */
  .wrapper-hr-digital-transformation {
    margin-top: 90px;
    padding-top: 20px;
    background: #ffffff;
    display: flex;
    justify-content: center;

    .img-bg-left,
    .img-bg-right {
      display: none;
    }

    .container-hr-swiper {
      .swiper-wrapper {
        .wrapper-content-middle-digital-transformation {
          height: auto;
        }
      }
      .btn-arrow-left.prev-slide-hr {
        left: calc(50% - 7.5px);
        top: 100%;
        transform: translate(-100%, -20px);
      }

      .btn-arrow-right.next-slide-hr {
        right: calc(50% - 7.5px);
        top: 100%;
        transform: translate(100%, -20px);
      }

      .container-content-middle-digital-transformation {
        padding: 100px 20px 60px;
        .col-content-1 {
          width: 100%;
        }

        .col-content-2 {
          display: none;
        }
      }
    }
  }

  .wrapper-content-middle-digital-transformation {
    .container-image-mobile {
      display: block;
      position: relative;
      height: 63vw;
      width: 100%;
      .img-content-mobile {
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
      }
    }

    .container-content-middle-digital-transformation {
      flex-wrap: wrap-reverse;
      min-height: 752.938px;

      .col-content-1 {
        width: 100%;

        .li-content {
          width: 100%;
          font-size: 14px;

          img {
            margin-right: 15px;
          }
        }
      }

      .col-content-2 {
        width: 100%;

        .img-content {
          width: 100%;
        }
      }
    }
  }

  /* Row Contact Digital Transformation */
  .wrapper-contact-digital-transformation {
    .row-contact-digital-transformation {
      flex-wrap: wrap;

      .col-content-1 {
        width: 100%;

        .img-content {
          width: 90%;
        }
      }

      .col-content-2 {
        width: 100%;
      }
    }
  }

  .wrapper-form-contact-digital-transformation {
    .wrapper-title-digital-transformation {
      .title-digital-transformation {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
      }

      .sub-title-digital-transformation {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .form-contact {
      .btn-submit-contact {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .wrapper-title-digital-transformation {
    h2.title-digital-transformation {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
    }

    .sub-title-digital-transformation {
      font-weight: 400;
      font-size: 16px;
    }
  }

  /* Row Ecosystem Digital Transformation  */
  .wrapper-ecosystem-bizzone {
    .list-card-item {
      .card-item {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 445px) {
  .row-btn-digital-transformation {
    button {
      padding: 6px 20px;
      min-width: 165px;
    }
  }
  /* Row Document Digital Transformation */
  .wrapper-document-digital-transformation {
    .div-document-digital-transformation {
      .img-document {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 428px) {
  .wrapper-title-digital-transformation {
    h2.title-digital-transformation {
      font-size: 23.5px;
    }
  }
  /* Header Digital Transformation */
  .img-slide-digital-transformation {
    .wrapper-header-digital-transformation {
      padding-top: 246px;
      padding-bottom: 66px;

      h4.title-header {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      h2.title-header {
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
      }

      .sub-title-header {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .page-header-digital-transformation {
    .wrapper-swiper-slide-tag {
      .container-swiper-slide-tag {
        .btn-slide {
          max-width: 178px;
        }
      }
    }
  }

  /* Row Middle Digital Transformation */
  .wrapper-content-middle-digital-transformation {
    .container-image-mobile {
      height: 55vw;
    }
  }

  /* Row Retail Digital Transformation */
  .wrapper-retail-digital-transformation {
    .row-retail-digital-transformation {
      .col-retail-digital-transformation-2 {
        img {
          width: 100%;
        }
      }
    }
  }

  .row-btn-digital-transformation {
    justify-content: center;
    align-items: center;

    button {
      margin: 0 !important;
      padding: 12px 40px;
    }
  }
}

@media only screen and (max-width: 390px) {
}

button {
  font-size: unset;
}
