@import '../../../assets/scss/colorScheme.scss';

.row-horizontal {
  margin-bottom: 54px;
  h3 {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    color: $color-uni-blue-100;
  }
  h6 {
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 131.25%;
    color: #212633;
    margin-bottom: 8px !important;
  }
  .product-desc {
    margin-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 133%;
    text-align: justify;
    color: $color-ink-80;
  }
  .btn-detail {
    display: block;
    width: fit-content;
    background: $color-uni-blue-100;
    border-radius: 68px;
    padding: 10px 44px;
    margin-top: 24px !important;
    span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $color-white-100;
    }
  }
  .img-product {
    width: 581px;
    height: 375px;
    border-radius: 14px;
    object-fit: contain;
  }
}
