.not-found {
  padding-bottom: 100px;
  margin-top: 93px !important;
  margin-bottom: 162px !important;
  text-align: center;
  min-height: 100vh;
  h3 {
    margin-top: 58px;
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    text-align: center;

    /* Ink/100 */

    color: #212633;
  }
  .img-not-found {
    width: fit-content;
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .desc-404 {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  span {
    display: block;
    font-family: 'SVN Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;

    color: #212633;
  }
  .btn-home {
    border-radius: 200px;
    border: 1px solid #ff7900;
    display: block;
    text-align: center;
    background: #ffffff;
    padding: 7px 20px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    span {
      font-family: 'SVN Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 133%;
      text-align: center;

      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

@media only screen and (max-width: 991px) {
  .not-found {
    padding: 0 20px;
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
    .desc-404 {
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
