@font-face {
  font-family: 'SVN Gilroy';
  src: local('SVN Gilroy'), local('SVN-Gilroy'),
    url('../font/SVN-Gilroy Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SVN Gilroy';
  src: local('SVN Gilroy'), local('SVN-Gilroy'),
    url('../font/SVN-Gilroy Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SVN Gilroy';
  src: local('SVN Gilroy'), local('SVN-Gilroy'),
    url('../font/SVN-Gilroy Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;500;700&display=swap');

html,
body,
body * {
  font-family: 'SVN Gilroy', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: #ad020200;
  scroll-behavior: smooth;
}
