// Layout
#root {
  overflow: hidden !important;
}

.container-wrap {
  max-width: 1920px;
  height: auto;
  width: 100%;
  margin: auto;
}

.container-child {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: auto !important;
}
.col-xem-them {
  display: contents;
}

// Title  & Description sections
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  background: $background-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
  transition: ease-out 0.3s 0.1s;
  width: fit-content;
  margin-bottom: 14px !important;
  margin: auto;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $background-gradient;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 133%;
  text-align: center;
  color: #59637e;
}

.description-margin {
  margin: 0 194.5px;
}

.description-padding {
  padding: 0 194.5px;
}

// Width
.max-width-1680 {
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-1266 {
  max-width: 1266px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-1180 {
  max-width: 1180px;
}

.max-width-1600 {
  max-width: 1600px !important;
  width: 100%;
}

.max-width-100 {
  max-width: 100% !important;
  position: relative;
}

.max-width-1300 {
  max-width: 1300px;
}

.max-width-724 {
  max-width: 724px;
  margin: auto;
}

.width-313 {
  width: 400px;
  margin: auto;
}

// Text Color
.text-white {
  color: #ffffff;
}

.text-gradient-origan {
  line-height: 150%;
  background: $background-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

// Input
.input-register {
  background: #f3f9ff;
  box-shadow: $box-shadow-input;
  border-radius: 4px;
  max-width: 400px;
  height: 48px;
  border: none;
  outline: none;
}

// Button
.btn-register {
  padding: 14px 58px 13px 59px;
  background: #0c3399;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  white-space: nowrap;
}

.btn-arrow-left {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background-image: url('/assets/image/svg/icon-btn-left.svg');
  background-repeat: no-repeat;
  background-position: center center;
  //   background-color: #e7ecf2;
}

.btn-arrow-left {
  &:hover {
    background-image: url('/assets/image/svg/icon-btn-left-hover.svg');
  }
}

.btn-arrow-right {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 500px;
  background-image: url('/assets/image/svg/icon-btn-right.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e7ecf2;
}

.btn-arrow-right {
  &:hover {
    background-image: url('/assets/image/svg/icon-btn-right-hover.svg');
  }
}

// Border

// Border Radius
.border-radius-8 {
  border-radius: 8px 0px;
}

// Box-Shadow
.box-shadow-unset:focus {
  box-shadow: unset !important;
}

// Font size
.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

// padding
.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}
// breadcrumd
.icon-home-news {
  margin-right: 10px;
}
.title-go-back-news {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
}
.sub-title-news {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.middle-news {
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
// Background

.background-gradient {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
}

// display
.display-none {
  display: none;
}

// unicloudCA
.div-title-breadcrumd {
  margin-top: 54px;
  margin-bottom: 90px;
}

.div-info-top {
  max-width: 570px;
  min-height: 320px;
  margin-top: 88px;
  padding: 35px;
  background: linear-gradient(180deg, rgba(89, 99, 126, 0.66) 58.66%, rgba(89, 99, 126, 0) 96.81%);
  border-radius: 16px;
}

.title-info-top-main {
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.274522px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-info-top-sub {
  margin-bottom: 19px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
}

.detail-info-top {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 133%;
  text-align: justify;
  color: #ebebeb;
}

.div-img-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
  width: 100%;
}

.div-icon-mouse {
  position: absolute;
  bottom: 90px;
  width: 36px;
}

.title-breadcrumd-home {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #212633;
  text-decoration: none;
}

.sub-title-breadcrumd {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.019em;
  color: #212633;
  text-decoration: none;
}

.detail-title-breadcrumd {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.274522px;
  text-transform: capitalize;
  color: #0979fd;
  text-decoration: none;
}

.middle-breadcrumd {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #212633;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-home-breadcrumd {
  margin-right: 10px;
}

.top-text-breadcrumb-info {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -0.274522px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 28px;
}

.icon-breadcrumb-info {
  width: 26px;
  margin-right: 8px;
  margin-top: -8px;
}

.title-detail-info-sub {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.274522px;
  color: #b8c3e1;
}

.title-detail-info-main {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;
  letter-spacing: -0.274522px;
  color: #212633;
  margin-bottom: 14px;
}

.detail-info-sub-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.019em;
  color: #59637e;
}

.detail-info-sub-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.019em;
  color: #59637e;
}

.div-under-detail-info {
  width: 100%;
  max-width: 56px;
  height: 4px;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  margin-bottom: 14px;
}

.div-card-header {
  padding: 0px;
}

.active-accordionContext {
  padding-left: 19px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: none;
  background-color: unset;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .description-padding,
  .title,
  .description {
    padding: 0 20px;
  }

  .title {
    font-size: 24px !important;
  }
  .description {
    font-size: 14px !important;
  }
}
// trang news
.title-news-main {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #212633;
}
.detail-news-main {
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #59637e;
}
.img-sub-main-news {
  border-radius: 8px;
  height: 100%;
}
.title-news-main-sub {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  color: #212633;
}
.detail-news-main-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #59637e;
  margin-bottom: 12px;
}
.date-time-news-main-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #59637e;
}
.div-under-news-main-sub {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0px;
  border: 1px solid #b8c3e1;
  position: relative;
}
@media only screen and (max-width: 992px) {
  .title-news-main {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 133%;
    color: #212633;
  }
  .title-news-main-sub {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 133%;
    color: #212633;
  }
  .detail-news-main-sub {
    display: none;
  }
  .img-sub-main-news {
    height: auto;
    min-height: 100px;
  }
}
