// Ink
$color-ink-0: #f3f6ff;
$color-ink-5: #eaf0fd;
$color-ink-10: #e2e9fc;
$color-ink-20: #d6dff6;
$color-ink-40: #b8c3e1;
$color-ink-60: #8e9abb;
$color-ink-80: #59637e;
$color-ink-100: #212633;

// Black
$color-black-10: rgba(43, 43, 51, 0.1);
$color-black-20: rgba(43, 43, 51, 0.2);
$color-black-40: rgba(43, 43, 51, 0.4);
$color-black-100: #2b2b33;

// White
$color-white-5: rgba(255, 255, 255, 0.05);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-100: #ffffff;

// Umee Bluee
$color-umee-blue-100: #3366ff;
$color-umee-blue-80: #5c85ff;
$color-umee-blue-60: #7597ff;
$color-umee-blue-40: #a3bbff;
$color-umee-blue-20: #d1dcff;
$color-umee-blue-10: #e0e8ff;
$color-umee-blue-5: #ebf0ff;
$color-umee-blue-0: #f2f6ff;

// Umee Purple
$color-umee-purple-100: #8c73ff;
$color-umee-purple-80: #9482ff;
$color-umee-purple-60: #a194ff;
$color-umee-purple-40: #b4acff;
$color-umee-purple-20: #cfcaff;
$color-umee-purple-10: #dedbff;
$color-umee-purple-5: #e9e7ff;
$color-umee-purple-0: #f4f3ff;

// Umee Mint
$color-umee-mint-100: #33cccc;
$color-umee-mint-80: #60d6d6;
$color-umee-mint-60: #85e0e0;
$color-umee-mint-40: #adebeb;
$color-umee-mint-20: #c6f5f5;
$color-umee-mint-10: #dcfafa;
$color-umee-mint-5: #e8fcfc;
$color-umee-mint-0: #f2fcfc;

// Umee Violet
$color-umee-violet-100: #210a9b;
$color-umee-violet-80: #4d3baf;
$color-umee-violet-60: #a69dd7;
$color-umee-violet-40: #c8c1eb;
$color-umee-violet-20: #c8c1eb;
$color-umee-violet-10: #dcd8f5;
$color-umee-violet-5: #ede8fa;
$color-umee-violet-0: #f3f0fa;

// Umee Pink
$color-umee-pink-100: #f746a3;
$color-umee-pink-80: #f969b4;
$color-umee-pink-60: #fa87c4;
$color-umee-pink-40: #fca1d1;
$color-umee-pink-20: #fdcfe8;
$color-umee-pink-10: #ffe0f0;
$color-umee-pink-5: #feeaf5;
$color-umee-pink-0: #fef1f8;

// Red
$color-red-100: #fd3549;
$color-red-80: #ff4c67;
$color-red-60: #ff6585;
$color-red-40: #ff84a1;
$color-red-20: #ffb0c3;
$color-red-10: #ffe0e7;
$color-red-5: #ffebee;
$color-red-0: #fff2f4;

// Green
$color-green-100: #00cb51;
$color-green-80: #1ed46a;
$color-green-60: #40de85;
$color-green-40: #69e79f;
$color-green-20: #9bf1bd;
$color-green-10: #b9f6d0;
$color-green-5: #d4fae1;
$color-green-0: #f0fff5;

// uni Blue
$color-uni-blue-100: #0979fd;
$color-uni-blue-80: #2391fd;
$color-uni-blue-60: #44a9fe;
$color-uni-blue-40: #6fc0fe;
$color-uni-blue-20: #a7d8fe;
$color-uni-blue-10: #c7e5ff;
$color-uni-blue-5: #ddefff;
$color-uni-blue-0: #f3f9ff;

// umee Orange
$color-umee-orange-100: #ff7c59;
$color-umee-orange-80: #ff8f6d;
$color-umee-orange-60: #ffa384;
$color-umee-orange-40: #ffb89f;
$color-umee-orange-20: #ffcfbf;
$color-umee-orange-10: #ffdbd0;
$color-umee-orange-5: #ffe5de;
$color-umee-orange-0: #ffefeb;

// umee Yellow
$color-umee-yellow-100: #febd00;
$color-umee-yellow-80: #fec835;
$color-umee-yellow-60: #fec835;
$color-umee-yellow-40: #fed25d;
$color-umee-yellow-20: #ffdf8b;
$color-umee-yellow-10: #ffe6a5;
$color-umee-yellow-5: #ffeebf;
$color-umee-yellow-0: #fffaea;

// umee Dark-blue
$color-umee-dark-blue-100: #0c3399;
$color-umee-dark-blue-80: #244ab1;
$color-umee-dark-blue-60: #4367c7;
$color-umee-dark-blue-40: #6c89d9;
$color-umee-dark-blue-20: #9fb2ea;
$color-umee-dark-blue-10: #bccaf1;
$color-umee-dark-blue-5: #d5def8;
$color-umee-dark-blue-0: #eff3ff;

// umee Purple
$color-umee-purple-100: #4e31c0;
$color-umee-purple-80: #7255e2;
$color-umee-purple-60: #8d73f1;
$color-umee-purple-40: #ac98fa;
$color-umee-purple-20: #d5cbfe;
$color-umee-purple-10: #ede8ff;
$color-umee-purple-5: #eff0ff;

$color-background-100: #15027a;
$color-background-80: #210f81;
$color-background-60: #ebeef4;

// umee Light Silver
$color-light-silver: #dbdee7;

// umee Solid Red
$color-solid-red: #ed0000;

// Black
$color-text-disable: #000000;

// Overlay
$color-overlay: #33333380;
