@import '/assets/scss/colorScheme.scss';

a {
  text-decoration: none !important;
}

.back-ground-technology {
  padding-bottom: 60px;
}

.technology-wrap {
  padding-top: 122px;
  padding-bottom: 54px;
}

.btn-arrow-technology {
  margin-right: 24px;
}

.row-btn-slide-technology {
  padding: 10px;
  //   margin-bottom: 24px;
}

.btn-arrow-right-future {
  border: none;
  background-color: unset;
}

// section technology
.title-technology-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 14px;
}

.padding-left-right-technology {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.author-technology {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: #59637e;
}

.text-author {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 133%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detail-technology {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 133%;
  color: #212633;
}

.row-item-slide-technology {
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
  border-radius: 16px;
  //   height: 300px;
  min-height: 300px;
  //   margin-top: 35%;
  margin-top: 160px;

  .div-img-slide {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
    // top: -30%;
    top: -150px;
  }

  .img-technology {
    width: 100%;
    height: 244px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 13.5065px;
  }

  .technology-content {
    position: relative;
    padding-top: min(80px, 7vw);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .div-detail-technology {
    bottom: 0;
    // padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;
  }

  .div-time-technology {
    display: flex;
    align-self: flex-end;
    background-color: #0979fd;
    width: 82px;
    height: 87px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 16px;
  }

  &:hover {
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);

    .author-technology,
    .detail-technology {
      color: #ffffff;
    }

    .text-author {
      //   background: #ffffff ;
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
      color: #ffffff;
      background: unset;
    }

    .div-time-technology {
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      box-shadow: 0px 4px 4px rgba(46, 66, 226, 0.2);
    }
  }
}

.date-technology {
  font-style: normal;
  font-weight: 999;
  font-size: 32px;
  line-height: 133%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin-bottom: 4px;
  margin-top: 12px;
}

.month-year-technology {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 133%;
  color: #ffffff;
}

.swiper-technology {
  padding-bottom: 50px !important;
  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
}

.swiper-technology .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.swiper-technology .swiper-pagination-bullet {
  width: 20px;
  height: 8px;
  background: #6fc0fe;
  border-radius: 2px;
  margin-left: 14px;
}

.swiper-technology .swiper-pagination-bullet-active {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
}

.btn-view-more-technology {
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  border-radius: 4px;
  border: none;
  width: 180px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  color: $color-white-100;
}

@media only screen and (max-width: 1200px) {
  .row-item-slide-technology {
    min-height: 200px;
  }

  .technology-content {
    padding-top: min(75px, 3vw);
  }
}

@media only screen and (max-width: 992px) {
  .img-technology {
    max-height: 200px !important;
    min-height: unset;
  }

  .technology-content {
    padding-top: min(75px, 1vw) !important;
  }

  .back-ground-technology {
    padding-bottom: 0px !important;
  }

  .row-item-slide-technology {
    min-height: unset;

    .div-time-technology {
      height: 56px;
      width: 56px;
    }
  }

  .row-btn-slide-technology {
    margin-bottom: 0px;
  }

  .date-technology {
    font-size: 20px;
  }

  .month-year-technology {
    font-size: 10.41px;
  }

  .btn-view-more-technology {
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
    color: #f3630d;
    background: unset;
    width: fit-content;
  }

  .title-technology-1 {
    font-size: 24px !important;
    line-height: 150% !important;
  }

  .author-technology {
    font-weight: 400;
    font-size: 9.10468px;
    margin-bottom: 9px;
  }

  .text-author {
    font-size: 9.10468px;
    line-height: 131.25%;
  }

  .detail-technology {
    font-size: 13.0067px;
    line-height: 131.25%;
    margin-bottom: 0px;
  }

  .div-detail-technology {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

@media only screen and (max-width: 860px) {
  .technology-content {
    margin-top: 28% !important;
  }
}

@media only screen and (max-width: 700px) {
  .technology-content {
    margin-top: 39% !important;
  }
}

@media only screen and (max-width: 550px) {
  .padding-left-right-technology {
    padding-right: 12px !important;
  }

  .technology-content {
    padding-top: min(75px, 3vw) !important;
  }
}

// @media only screen and (max-width: 450px) {
//   .technology-content {
//     margin-top: 40% !important;
//   }
// }
// @media only screen and (max-width: 390px) {
//   .technology-content {
//     margin-top: 43% !important;
//   }
// }

.row-item-slide-latest-news {
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
  border-radius: 16px;
  min-height: 220px;
  margin-top: 140px;

  .div-img-slide-news {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
    top: -120px;
  }

  .img-latest-news {
    width: 100%;
    height: 244px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 13.5065px;
  }

  .latest-news-content {
    position: relative;
    padding-top: min(80px, 5vw);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .div-detail-latest-news {
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 3;
  }

  .div-time-latest-news {
    display: flex;
    align-self: flex-end;
    background-color: #0979fd;
    width: 64px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 16px;
  }

  &:hover {
    background: linear-gradient(264.17deg, #18d8f6 -50.17%, #1c45df 129.42%);

    .author-latest-news,
    .detail-latest-news {
      color: #ffffff;
    }

    .text-author-latest-news {
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
      color: #ffffff;
      background: unset;
    }

    .div-time-latest-news {
      background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
      box-shadow: 0px 4px 4px rgba(46, 66, 226, 0.2);
    }
  }
}

.author-latest-news {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 131%;
  color: #59637e;
}

.text-author-latest-news {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 131%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-latest-news {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detail-latest-news {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 131%;
  color: #212633;
  margin-bottom: 0px;
  min-height: 42px;
}

.date-latest-news {
  font-style: normal;
  font-weight: 999;
  font-size: 26px;
  line-height: 131%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin-bottom: 4px;
  margin-top: 12px;
}

.month-year-latest-news {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 131%;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .latest-news-content {
    padding-top: min(75px, 4vw) !important;
  }

  .row-item-slide-latest-news {
    min-height: unset;
  }
}

@media only screen and (max-width: 1100px) {
  .latest-news-content {
    padding-top: min(75px, 2vw) !important;
  }
}

@media only screen and (max-width: 1024px) {
  .row-item-slide-latest-news {
    min-height: unset;
  }
}

@media only screen and (max-width: 992px) {
  .title-category-news {
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 14px;
  }

  .author-latest-news {
    margin-bottom: 9px;
  }

  .latest-news-content {
    padding-top: min(75px, 5vw) !important;
  }

  .row-item-slide-latest-news {
    min-height: unset;
  }

  .img-latest-news {
    max-height: 200px !important;
    min-height: unset;
  }
}

@media only screen and (max-width: 768px) {
  .img-latest-news {
    max-height: 225px;
  }
}

@media only screen and (max-width: 550px) {
  .col-arrow-latest-news {
    margin-right: 20px;
  }

  .padding-left-right-latest-news {
    padding-right: 0px;
  }

  .latest-news-content {
    padding-top: min(75px, 7vw) !important;
  }

  .img-latest-news {
    max-height: 235px;
  }
}

@media only screen and (max-width: 415px) {
  .title-category-news {
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 14px;
  }

  .btn-view-more-news-fitech {
    font-size: 13px !important;
  }
}