a {
  text-decoration: none;
}
.back-ground-top-news-detail {
  margin-top: 80px;
  padding-top: 76px;
  padding-bottom: 24px;
  background-image: url('/assets/image/news-detail/bg-news-detail.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.row-news-detail {
  padding-top: 40px;
  padding-bottom: 165px;
}
.div-news-detail {
  margin-left: 48px;
}
.div-img-news-detail {
  position: relative;
  height: 100%;
}
.img-news-detail {
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
  max-height: 548px;
}
.div-time-news-detail {
  position: absolute;
  top: 24px;
  left: 29px;
  z-index: 3;
  background-color: #0979fd;
  width: 82px !important;
  height: 87px;
  border-radius: 10px;
}
.date-news-detail {
  font-family: 'SVN Gilroy';
  font-style: normal;
  font-weight: 999;
  font-size: 32px;
  line-height: 131.25%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4px;
  margin-top: 12px;
}
.month-year-news-detail {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 131.25%;
  color: #ffffff;
  text-align: center;
}
.row-category-post {
  padding-top: 20px;
  padding-bottom: 20px;
}
.category-post-details {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: rgba(43, 43, 51, 0.8);
}

.icon-blue-post-details {
  padding-left: 10px;
  padding-right: 10px;
}
.detail-news {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: rgba(43, 43, 51, 0.8);
}
.title-news-detail {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: -0.019em;
  color: #2b2b33;
}
.div-quote-post {
  position: relative;
  padding-top: 32px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 70px;
}
.icon-left-quote {
  position: absolute;
  top: 0;
}
.details-quote-post-details {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.019em;
  color: #2391fd;
  bottom: 0;
}
.icon-right-quote {
  position: absolute;
  right: 0;
  bottom: 35%;
}

.div-under-post-detail {
  background: #c7e5ff;
  height: 1px;
  width: 100%;
  margin-top: 4.375vw;
}
.text-share-post-details {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.019em;
  color: #0979fd;
}
.icon-facebook-post-details {
  margin-left: 21px;
  margin-right: 21px;
}
.div-comment-like {
  float: right;
}
.icon-comment-post-details {
  margin-right: 10px;
}
.icon-like-post-details {
  margin-right: 10px;
}
.text-comment-like-post {
  margin-right: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
}
.text-num-comment {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.019em;
  color: #0979fd;
}
.row-author-post-details {
  background: #f3f9ff;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.name-author-post {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.019em;
  color: #0979fd;
}
.details-author-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.019em;
  color: rgba(43, 43, 51, 0.8);
}
.div-search-news-detail {
  padding: 20px;
  margin-bottom: 20px;
  background: #fbfbfd;
  border-radius: 8px;
}
.title-news-side-bar {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 8px;
}
.div-under-news-side-bar {
  height: 0px;
  border: 1px solid #b8c3e1;
  position: relative;
  margin-bottom: 20px;
  &::before {
    position: absolute;
    background: linear-gradient(180deg, #ff4912 0%, #ff7900 100%);
    height: 2px;
    content: '';
    bottom: -1px;
    width: 100px;
    left: 0;
  }
}
.form-search-news-detail {
  .input-group-text {
    border-radius: 200px;
    padding: 10px 8px 10px 24px;
    background: #f0f2f5;
  }
  input {
    border-top-right-radius: 200px !important;
    border-bottom-right-radius: 200px !important;
    border-left: none;
    padding-left: 0px;
    background: #f0f2f5;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    color: #59637e;
  }
  .form-control:focus {
    background: #f0f2f5;
    box-shadow: unset;
    border: 1px solid #ced4da;
    border-left: unset;
  }
}
.div-recent-posts {
  padding: 20px;
  background: #fbfbfd;
  border-radius: 8px;
}
.sub-news-side-bar {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 133%;
  color: #212633;
}
.img-news-side-bar {
  border-radius: 8px;
  height: 7.6923vw;
  max-height: 100px;
  object-fit: cover;
}
.div-under-news-detail-sub {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0px;
  border: 0.7px solid #b8c3e1;
  position: relative;
}
.div-banner {
  padding: 20px;
  // text-align: center;
}
.img-banner-news-detail {
  max-height: 778px;
}
@media only screen and (max-width: 991px) {
  .img-news-side-bar {
    height: auto;
    max-height: 230px;
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .div-news-detail {
    margin-left: 0px;
  }
  .back-ground-top-news-detail {
    padding-bottom: 20px;
  }
  .img-news-detail {
    max-height: 278px;
  }
  .title-news-detail {
    font-size: 26px;
    line-height: 120%;
  }
  .div-time-news-detail {
    width: 67px !important;
    height: auto;
    left: 18px;
    top: 21px;
  }
  .date-news-detail {
    font-size: 24px;
    margin-top: 8px;
  }
  .month-year-news-detail {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .name-author-post {
    margin-bottom: 10px;
  }
  .row-news-detail {
    padding-bottom: 72px;
  }
  .img-news-side-bar {
    max-height: 200px;
    min-height: 75px;
  }
  .sub-news-side-bar {
    // margin-top: 8px;
  }
}

/* New Detail
*/

.new-details {
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
