.myModalForm {
    .modalFormHeader {
        height: 52px;
    }

    .modalTitle {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 20px;
        font-family: "Roboto";
        font-style: normal;
        line-height: 28px;
    }

    .avatarTitle {
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 400;
        font-size: 14px;
        font-family: "Roboto";
        font-style: normal;
        line-height: 22px;
    }

    :global {
        .ant-modal-content {
            padding: 32px;
            background: #fff;
            border-radius: 12px;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }

        .ant-form-item {
            margin-bottom: 0;
        }

        .ant-form-item-label > label {
            color: rgba(0, 0, 0, 0.85);
            font-weight: 400;
            font-size: 14px;
            font-family: "Roboto";
            font-style: normal;
            line-height: 22px;
        }

        .ant-form-item-control-input-content > input {
            padding: 5px 12px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.25);
                font-weight: 400;
                font-size: 14px;
                font-family: "Roboto";
                font-style: normal;
                line-height: 22px;
            }
        }

        .ant-modal-body {
            padding: 0;
        }

        .ant-modal-footer {
            display: none;
        }
    }
}

.closeIcon {
    cursor: pointer;
}

.uploadButton {
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
}

.deleteButton {
    padding: 5px 9px;
    color: #ff4d4f;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
}

.cancelButton {
    padding: 8px 32px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto";
    font-style: normal;
    line-height: 24px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}

.submitButton {
    padding: 8px 32px;
    color: #f6f8f8;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto";
    font-style: normal;
    line-height: 24px;
    background: #f26122;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
