.nav-link-ekyc {
  color: #8e9abb;
  &:hover {
    color: #212633 !important;
  }
}
.nav-link-ekyc.active {
  color: #212633 !important;
}

.btn-lang {
  border: none;
}

.navbar-bizzone .navbar-bizzone-wrap {
  display: flex;
  align-items: center;
  column-gap: 49px;
}

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-bizzone {
    display: flex;
    flex-basis: auto;
  }
}
