.div-modal-pricing-page-bizzone-shop {
  :global(.modal-content) {
    position: relative;
    box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14);
    border-radius: 20px;
    margin: 20px;

    .btn-close-modal {
      position: absolute;
      right: -20px;
      top: -16px;
      height: 56px;
      width: 56px;
      border-radius: 100%;
      border: none;
      box-shadow: 0px 4px 8px rgba(12, 58, 222, 0.1);
      background: #ffffff;
    }
  }

  :global(.modal-body) {
    padding: 0;
    border-radius: 0;
  }

  .btn-loading {
    opacity: 0.6;
  }
}

.col-contact-left {
  height: 100%;
  background-image: url("/images/bizzone-shop/bg-contact-bizzone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  border-radius: 8px;
}

.div-contact-bizzone-shop {
  padding: 20px !important;
  background: #ffffff;
  box-shadow: 0px 8px 36px rgba(89, 99, 126, 0.14);
  border-radius: 24px;

  .btn-loading {
    opacity: 0.6;
  }
}

.title-contact-bizzone-shop {
  padding-top: 90px;
  padding-left: 66px;
  padding-right: 45px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.detail-contact-bizzone-shop {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title-contact-2-bizzone-shop {
  margin-top: 20px;
  margin-bottom: 12px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #000000;
}

.form-contact-bizzone-shop {
  :global(.form-label) {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #59637e;
  }

  :global(.form-control) {
    background: none !important;
  }

  :global(.form-select) {
    background-image: url("/images/svg/icon-drop-down.svg") !important;
  }

  :global(.form-select):global(.is-valid) {
    border: 1px solid #00cb51;
  }

  :global(.form-control:focus) {
    border: 1.5px solid #0979fd;
    box-shadow: none;
  }

  :global(.form-control):global(.is-valid) {
    border: 1px solid #00cb51;
  }

  :global(.form-control):global(.is-invalid) {
    border: 1px solid #fd3549;
  }

  :global(.valid-feedback),
  :global(.invalid-feedback) {
    span {
      display: flex;
      align-items: center;

      img {
        width: 17px;
        height: 17px;
        margin-right: 5px;
      }
    }
  }

  :global(.valid-feedback) {
    color: #00cb51;
  }

  :global(.invalid-feedback) {
    color: #fd3549;
  }
}

@media screen and (max-width: 425px) {
  .div-modal-pricing-page-bizzone-shop {
    .btn-bizzone-shop-2 {
      width: 100%;
    }

    .col-contact-left {
      height: 0;
    }
  }
}
