.modal-digital-banking {
  //   max-width: 388px;
  //   margin: auto;
  .modal-dialog {
    width: auto !important;
  }
  .modal-content {
    max-width: 388px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 16px 16px 16px 16px;
  }
  .modal-body {
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 16px;
  }
  .btn-close {
    width: 36px;
    height: 36px;
    padding: 0;
    opacity: 1;
    margin-right: 0px;
    margin-bottom: 0px;
    background: url('/assets/image/svg/btn-close-modal-digital-banking.svg');
    background-repeat: no-repeat;
  }
  .modal-header {
    background: url('/assets/image/landing-page/digital-banking/img-header-popup.png');
    min-height: 215px;
    margin-top: -65px;
    margin-left: -1px;
    margin-right: -1px;
  }
}
.btn-consult-now-digital-popup {
  width: 100%;
  max-width: 362px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: linear-gradient(269.95deg, #3e64ff -0.95%, #1993ff 100.86%);
  border-radius: 200px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
}
.form-contact-digital-digital-popup {
  label {
    padding-left: 24px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8e9abb;
  }
  textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
