.form-contact-wrap {
  position: absolute;
  top: -50%;
  z-index: 2;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: auto;
  display: inline-block;
  label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8e9abb;
  }
  textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
